<label>Origem:</label>
<br>
<select name="from" class="form-control" id="id_from" >
    <option value="">---------</option>
    {% for dsa in activities %}
    <option value="{{ dsa.pk }}">{{ dsa.activity.name }} {{ dsa.session.start_time }}</option>
    {% endfor %}
</select>

<script>
$("#id_from").change(function() {
    var url = $("#id_activities").attr("data_destiny-url"); // get the url of the `load_cities` view
    var sessionId = $(this).val(); // get the selected day ID from the HTML input

    if (sessionId !== ""){
    $.ajax({ // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/hr/ajax/load-activities/)
        data: {
            'session': sessionId, // add the day id to the GET parameters
            'user': {{ request.user.pk }}
        },
        success: function(data) { // `data` is the return of the `load_activities` view function
            $("#id_destiny").html(data); // replace the contents of the city input with the data that came from the server
        }
    });}
});
</script>

