{% for key, value in sessions.items %}
<label>Dia {{ key }}</label><br>
{% for session in value %}
<span class='pr-2'><input type="checkbox" name="{{ key }}" value="{{ session }}"> {{ session.start_time | time:"H:i" }}</span>
{% endfor %}
<br>
<br>
{% endfor %}

