<br>
<label>Destino:</label>
<br>
<select name="to" id="id_to" class="form-control">
<option value="">---------</option>
{% for dsa in sessions %}
<option value="{{ dsa.pk }}">{{ dsa.activity.name }} {{ dsa.session.start_time }}</option>
{% endfor %}
</select>

