{% extends 'inscricao/base_with_container.html' %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}
{% block title %}Tarefa{% endblock %}
{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
{{ form.media }}
<link href="{% sass_src 'scss/tarefas_wizard.scss' %}" rel="stylesheet">
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task' %}">Tarefas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Alterar Tarefa</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
        <div class="px-0 pb-0 mt-3 mb-3">
            <h2><strong>Alterar Tarefa</strong></h2>
            <p>Preencha os campos obrigatórios para alterar a tarefa.</p>
            <div class="icon-hr icon-hr-edit">
                <span></span>
                <div>
                    <span>
                        <i class="fa fa-tasks" aria-hidden="false"></i>
                    </span>
                </div>
                <span></span>
            </div>
            <div class="col-md-12 mx-0 text-left">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {% bootstrap_form task_update_form %}
                    </fieldset>
                    <fieldset class="form-group" id="task_other">
                        {% bootstrap_field task_other_update_form.number_of_colaborators %}
                        {% bootstrap_field task_other_update_form.localization %}
                        {% bootstrap_field task_other_update_form.day_other %}
                        {% bootstrap_field task_other_update_form.start_time field_class='clockpicker' %}
                        {% bootstrap_field task_other_update_form.duration %}
                    </fieldset>
                    <div class="form-group text-center">
                        <a class="float-left mb-4" href="{{ request.GET.next }}"><button class='button btn-primary is-dark' type="button">Cancelar</button></a>
                        <button class="btn btn-primary is-info float-right mb-4" id="form_submit" type="submit">Alterar Tarefa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>

<script>
    $(document).ready(function() {
    $("#id_description").attr("rows", "4");
    var input = $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
});
</script>
{% endblock extrajs %}