{% extends 'inscricao/base_with_container.html' %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}
{% block title %}Tarefa{% endblock %}
{% block extrahead %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
{% bootstrap_css %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task' %}">Tarefas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhe Tarefa</li>
{% endblock %}

{% block content_card %}
<div class="mb-5 pl-5 pr-5">
    <h1 class="title mb-2 mt-4">
        <strong>Tarefa</strong>
        <span style="color:#00adef;">
            <strong class="is-primary">{{ object.title }}</strong>
        </span>
        {% if not config.has_dia_aberto_started %}
        <span style="display: block" class="float-right">
            <a href="{% url 'task-transport-update' object.pk %}?next={{ request.path|urlencode }}" class="button is-link" type="button" style="margin-bottom: 1rem;">
                <span class="icon is-small">
                    <i class="fa fa-pencil fa-sm text-white"></i>
                </span>
                <span class="text-white">Alterar Tarefa</span>
            </a>
        </span>
        {% endif %}
    </h1>
    <hr>
    <div class="row">
        <div class="col-6">
            <div id="update-activity" class="">
                <h3 class="subtitle">Informação</h3>
                <table class="table is-narrow is-borderless col-10" id="detail-table">
                    <thead>
                        <th style="width: 30%"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Tipo:</th>
                            <td>Percurso</td>
                        </tr>
                        <tr>
                            <th>Descrição:</th>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <th>Coordenador:</th>
                            <td>{{ object.created_by.user }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th>Dia:</th>
                            <td>{{ object.day.date | date:"d-m-Y" }}</td>
                        </tr>
                        <tr>
                            <th>Horário:</th>
                            <td>{{ object.get_format_end_time }} - {{ object.to_activity.session.start_time | time:"H:i" }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th>Origem:</th>
                            <td>{{ object.from_activity.activity.name }}, {{ object.from_activity.get_localization }}</td>
                        </tr>
                        <tr>
                            <th>Destino:</th>
                            <td>{{ object.to_activity.activity.name }}, {{ object.to_activity.get_localization }}</td>
                        </tr>
                        <tr>
                            <th>Grupos a acompanhar:</th>
                            <td>{% for group in object.ssas.all %}
                                {{ group.sub.school.name }}, {{ group.sub.participant.user }}, participantes: {{ group.n_students }}<br>
                                {% endfor %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div id="update-activity" class="">
                <h3 class="subtitle">Colaboradores</h3>
                <table class="table is-narrow is-borderless col-10" id="detail-table">
                    <thead>
                        <th style="width: 55%"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Número de colaboradores:</th>
                            <td>{{ object.number_of_colaborators }}</td>
                        </tr>
                        <tr>
                            <th>Vagas:</th>
                            <td>{{ object.get_num_colaborators_left }}</td>
                        </tr>
                        <tr>
                            <th>Colaboradores:</th>
                            <td>{% if object.assign_to.all %}
                                {% for colab in object.assign_to.all %}
                                {{ colab }} <br>
                                {% endfor %}
                                {% else %}
                                Ainda não foram atribuidos colaboradores
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Estado:</th>
                            <td>{% if object.status == "Por atribuir" %}
                                <span class="tag text is-warning" style="width: 7rem; font-size: small;">{{ object.status }}</span>
                                {% else %}
                                <span class="tag text is-success" style="width: 7rem; font-size: small;">{{ object.status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% if not config.has_dia_aberto_started %}
                        <tr class="table-primary">
                            <th>Colaboradores disponíveis:</th>
                            <td style="padding-bottom: 0" id="chooseColab">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="overflow-auto" style="max-width: 560px; max-height: 200px;">
                                        {% bootstrap_form task_choose_colaborators %}
                                    </div>
                                    {% buttons %}
                                    <button type="submit" class="button is-link mt-2 mb-0">Atribuir Colaborador</button>
                                    {% endbuttons %}
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <a href="{% url 'task' %}" class="button btn-primary is-dark">Retroceder</a>
    {% if not config.has_dia_aberto_started %}
    <a href="{% url 'task-transport-delete' object.pk %}?next={{ request.path|urlencode }}" class="button btn-danger float-right">Eliminar</a>
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".invalid-feedback").show();

        if ($(".form-check").length===0) {
            $("#chooseColab").empty();
            $("#chooseColab").append("<p>Não existem colaboradores disponíveis</p>");
        }
    });   
</script>
{% endblock extrajs %}
