{% extends 'inscricao/base_with_container.html' %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}
{% block title %}Tarefa{% endblock %}
{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
{{ form.media }}
<link href="{% sass_src 'scss/tarefas_wizard.scss' %}" rel="stylesheet">
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task' %}">Tarefas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Criar Tarefa</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
        <div class="px-0 pb-0 mt-3 mb-3">
            <h2><strong>Criar Tarefa</strong></h2>
            <p>Preencha os campos obrigatórios para criar uma tarefa.</p>
            <div class="icon-hr">
                <span></span>
                <div>
                    <span>
                        <i class="fa fa-tasks" aria-hidden="false"></i>
                    </span>
                </div>
                <span></span>
            </div>
            <div class="col-md-12 mx-0 text-left">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {% bootstrap_form task_form %}
                    </fieldset>
                    <fieldset class="form-group" id="task_activity" data_days-url="{% url 'ajax_load_days' %}">
                        {% bootstrap_field task_choose_activity_form.activity %}
                        <div id="id_session"></div>
                    </fieldset>
                    <fieldset class="form-group" id="task_transport" data_activities-url="{% url 'ajax_load_activities' %}">
                        {% bootstrap_form task_transport_day_form %}
                        <div id="id_activities" data_destiny-url="{% url 'ajax_load_destiny' %}"></div>
                        <div id="id_destiny"></div>
                    </fieldset>
                    <fieldset class="form-group" id="task_other">
                        {% bootstrap_field task_other_form.number_of_colaborators %}
                        {% bootstrap_field task_other_form.localization %}
                        {% bootstrap_field task_other_form.day_other %}
                        {% bootstrap_field task_other_form.start_time field_class='clockpicker' %}
                        {% bootstrap_field task_other_form.duration %} 
                    </fieldset>
                    <div class="form-group text-center">
                        <a href="{% url 'task'%}"><button class="button btn-primary is-dark float-left mt-3" type="button">Cancelar</button></a>
                        <button class="button btn-primary is-success float-right mt-3" id="form_submit" type="submit">Criar Tarefa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>

<script>
$("#id_task_type").change(function() {
    if ($(this).val() == "ACTIVITY") {
        $('#task_transport').hide();
        $('#task_other').hide();
        $('#task_activity').show();
        $('#otherField').attr('required', '');
        $('#otherField').attr('data-error', 'This field is required.');
    } else if ($(this).val() == "TRANSPORT") {
        $('#task_activity').hide();
        $('#task_other').hide();
        $('#task_transport').show();
        $('#otherField').attr('required', '');
        $('#otherField').attr('data-error', 'This field is required.');
    } else {
        $('#task_activity').hide();
        $('#task_transport').hide();
        $('#task_other').show();
        $('#otherField').attr('required', '');
        $('#otherField').attr('data-error', 'This field is required.');
    }
});
$("#id_task_type").trigger("change");

$("#form_submit").click(function() {
    let selectedValue = $("#id_task_type").val();
    switch (selectedValue) {
        case 'ACTIVITY':
            $("#otherField").empty();
            $("#task_transport").empty();
            $("#task_other").empty();
            break;
        case 'TRANSPORT':
            $("#otherField").empty();
            $("#task_activity").empty();
            $("#task_other").empty();
            break;
        case 'OTHER':
            $("#task_activity").empty();
            $("#task_transport").empty();
            break;
    }
});

$("#id_activity").change(function() {
    var url = $("#task_activity").attr("data_days-url"); // get the url of the `load_cities` view
    var activityId = $(this).val(); // get the selected country ID from the HTML input

    if (activityId !== "") {
    $.ajax({ // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
            'activity': activityId, // add the country id to the GET parameters
        },
        success: function(data) { // `data` is the return of the `load_cities` view function
            $("#id_session").html(data); // replace the contents of the city input with the data that came from the server
        }
    });}
});

$("#id_day").change(function() {
    var url = $("#task_transport").attr("data_activities-url"); // get the url of the `load_cities` view
    var dayId = $(this).val(); // get the selected day ID from the HTML input

    if (dayId !== ""){
    $.ajax({ // initialize an AJAX request
        url: url, // set the url of the request (= localhost:8000/hr/ajax/load-activities/)
        data: {
            'day': dayId, // add the day id to the GET parameters
            'user': {{ request.user.pk }}
        },
        success: function(data) { // `data` is the return of the `load_activities` view function
            $("#id_activities").html(data); // replace the contents of the city input with the data that came from the server
        }
    });}
});

$(document).ready(function() {
    $("#id_description").attr("rows", "4");
    var input = $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });

    $("#id_activity").change();
    $("#id_day").change();
});
</script>

{% endblock extrajs %}
