{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Tarefas{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}" />
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% static 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
<style type="text/css">
  select.my-empty {
    color: rgb(170, 170, 170) !important;
  }
  input.my-filter-input::placeholder {
    color: rgb(150, 150, 150);
    opacity: 0.8 !important;
  }
  .input-filter-class .datetimepicker-dummy-wrapper {
        height: unset;
        border: none !important;
    }
    .input-filter-class .date-item.is-today {
        border: 1px solid !important;
    }
}
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tarefas</li>
{% endblock %}

{% block content_card %}
<!-- TABLE FOR FILTERING -->
<div class="mb-5 pb-5">
    <h2 class="pl-5 pr-5 title is-3">Tarefas</h2>
    <div class="border-top mt-2 pt-2 ml-5 mr-5">
        <div class="row">
            <div class="col-3 menu">
                <p class="menu-label"> Filtrar Tarefas</p>
                <ul class="menu-list">
                    <div class="field">
                        <div class="autocomplete control">
                            <div class="control has-icons-left is-clearfix">
                                <input id="nameIdInputFilter" class="input" type="text" autocomplete="off" placeholder="Título da Tarefa">
                                <span class="icon is-left">
                                    <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <span class="select is-fullwidth">
                                <select id="typeSelectFilter" class="my-empty" autocomplete="off">
                                    <option disabled="disabled" value="" hidden="hidden" selected="selected">Tipo de Tarefa</option>
                                    <option value="empty"></option>
                                    <option value="Atividade">Tarefa Atividade</option>
                                    <option value="Percurso">Percurso</option>
                                    <option value="Outra">Outra</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <span class="select is-fullwidth">
                                <select id="stateSelectFilter" class="my-empty" autocomplete="off">
                                    <option disabled="disabled" value="" hidden="hidden" selected="selected">Estado</option>
                                    <option value="empty"></option>
                                    <option value="Por atribuir">Por atribuir</option>
                                    <option value="Atribuida">Atribuída</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="autocomplete control">
                            <div class="control is-clearfix">
                                <input id="dayInputFilter" class="input my-empty" type="date" autocomplete="off" placeholder="Dia">
                            </div>
                        </div>
                    </div>
                    <div class="field row pl-3">
                        <div class="pl-0 col-6">
                            <div class="input-filter-class input-group clockpicker">
                                <i class="fas fa-clock"></i>
                                <input id="startHourFilter" type="text" autocomplete="off" placeholder="De..." style="width:50" />
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="input-filter-class input-group clockpicker">
                                <i class="fas fa-clock"></i>
                                <input id="endHourFilter" type="text" autocomplete="off" placeholder="Até..." style="width:50" />
                            </div>
                        </div>
                    </div>
                </ul>
                <br>
                <p class="menu-label"> Filtrar Colaboradores</p>
                <ul class="menu-list">
                    <div class="field">
                        <div class="autocomplete control">
                            <div class="control has-icons-left is-clearfix">
                                <input id="colabInputFilter" class="input" type="text" autocomplete="off" placeholder="Nome do Colaborador">
                                <span class="icon is-left" style="z-index:0">
                                    <i class="fas fa-user fa-lg" style="color: rgb(170, 170, 170)"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <li>
                        <button id="clearFilter" class="button is-danger"><i class="fas has-text-white pr-2 fa-md fa-times"></i>Limpar Filtros</button>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="row mt-4 mb-3">
                    {% if not config.has_dia_aberto_started %}
                    <a class="button is-success" href="{% url 'task-create'%}" type="button"><i class="text-white fas fa-plus fa-sm pr-2"></i>Adicionar tarefa</a>
                    {% endif %}
                </div>
                <!-- table for input-->
                <section class="table-section">
                    <table id="tasktable" class="display responsive" width="100%">
                        <!--header-->
                        <thead>
                            <tr>
                                <th class="all">Horário</th>
                                <th class="all">Nome</th>
                                <th class="all">Tipo</th>
                                <th class="all">Estado</th>
                                <th class="all"></th>
                                <th class="all">Dia</th>
                                <th class="all">Inicio</th>
                                <th class="all">Fim</th>
                                <th class="all">Colaborador</th>
                                <th class="none"></th>
                            </tr>
                        </thead>
                        <!--body-->
                        <tbody>
                            <!--loop over task content-->
                            {% for task in tasks %}
                            <!--if its an activity task-->
                            {% if task.is_task_activity %}
                            <tr dt-responsive>
                                <td>{{ task.taskactivity.s_a.session.start_time | time:"H:i" }} - {{ task.taskactivity.get_format_end_time }}</td>
                                <td>{{ task.title }}</td>
                                <td>Atividade</td>
                                <td>
                                    {% if task.status == "Por atribuir" %}
                                    <span class="tag text is-warning" style="width: 7rem; font-size: small;">{{ task.status }}</span>
                                    {% elif task.status == "Atribuida" %}
                                    <span class="tag text is-success" style="width: 7rem; font-size: small;">{{ task.status }}</span>
                                    {% endif %}
                                </td>
                                <!--expand content-->
                                <td>
                                    {% if not config.has_dia_aberto_started %}
                                    <a href="{% url 'task-activity-update' task.pk %}?next={{ request.path|urlencode }}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="{% url 'task-activity-delete' task.pk %}?next={{ request.path|urlencode }}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i>
                                    </a>
                                    {% else %}
                                    <a><i> </i></a>
                                    <a><i> </i>
                                        {% endif %}
                                </td>
                                <td>
                                    {{ task.taskactivity.s_a.day.date | date:"Y-m-d"}}
                                </td>
                                <td>
                                    {{ task.taskactivity.s_a.session.start_time | time:"H:i" }}
                                </td>
                                <td>
                                    {{ task.taskactivity.get_format_end_time }}
                                </td>
                                <td>
                                    {% for colab in task.assign_to.all %}
                                    {{ colab.user }} &nbsp
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="table-expand-content row">
                                        <div>
                                            <div class="activity-info container-fluid">
                                                <div id="activity-info-block" class="row">
                                                    <div class="col-12">
                                                        <div class="pb-2 title is-5">
                                                            <h5> Tarefa <span style="color:#00adef">{{task.title}}</span></h5>
                                                        </div>
                                                        <p><strong>Atividade: </strong>{{task.taskactivity.s_a.activity.name}}</p>
                                                        <p><strong>Descrição: </strong>{{task.description}}</p>
                                                        <br>
                                                        <p><strong>Dia: </strong>{{ task.taskactivity.s_a.day.date | date:"d-m-Y" }}</p>
                                                        <p><strong>Localização: </strong>{{ task.taskactivity.s_a.get_localization }}</p>
                                                        <br>
                                                        <p><strong>Colaboradores: </strong>
                                                            {% if task.assign_to.all %}
                                                            {% for colab in task.assign_to.all %}
                                                            {% if forloop.last %}
                                                            {{ colab.user }}
                                                            {% else %}
                                                            {{ colab.user }},
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% else %}
                                                            Ainda não foram atribuidos colaboradores
                                                            {% endif %}</p>
                                                        </br>
                                                    </div>
                                                </div>
                                                <a type="button" href="{% url 'task-activity-detail' task.pk %}" class="button is-link pt-0 pb-0 float-left mt-2">
                                                    <span class="icon is-small">
                                                        <i class="fas has-text-white fa-sm fa-list"></i>
                                                    </span>
                                                    {% if not config.has_dia_aberto_started %}
                                                    <span class="has-text-white">Detalhe e Atribuição de Colaboradores</span>
                                                    {% else %}
                                                    <span class="has-text-white">Detalhe</span>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- end expand content-->
                            {% endif %}
                            <!--if its a transport task-->
                            {% if task.is_task_transport %}
                            <tr dt-responsive>
                                <td>{{ task.tasktransport.get_format_end_time }} - {{ task.tasktransport.to_activity.session.start_time | time:"H:i" }}</td>
                                <td>{{ task.title }}</td>
                                <td>Percurso</td>
                                <td>
                                    {% if task.status == "Por atribuir" %}
                                    <span class="tag text is-warning" style="width: 7rem; font-size: small;">{{ task.status }}</span>
                                    {% elif task.status == "Atribuida" %}
                                    <span class="tag text is-success" style="width: 7rem; font-size: small;">{{ task.status }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not config.has_dia_aberto_started %}
                                    <a href="{% url 'task-transport-update' task.pk %}?next={{ request.path|urlencode }}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="{% url 'task-transport-delete' task.pk %}?next={{ request.path|urlencode }}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i></a>
                                    {% else %}
                                    <a><i> </i></a>
                                    <a><i> </i>
                                        {% endif %}
                                </td>
                                <td>{{ task.tasktransport.day }}</td>
                                <td>{{ task.tasktransport.get_format_end_time }}</td>
                                <td>{{ task.tasktransport.to_activity.session.start_time | time:"H:i" }}</td>
                                <td>
                                    {% for colab in task.assign_to.all %}
                                    {{ colab.user }} &nbsp
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="table-expand-content row">
                                        <div>
                                            <div class="activity-info container-fluid">
                                                <div id="activity-info-block" class="row">
                                                    <div class="col-12">
                                                        <div class="pb-2 title is-5">
                                                            <h5> Tarefa <span style="color:#00adef">{{task.title}}</span></h5>
                                                        </div>
                                                        <p><strong>Descrição: </strong>{{task.description}}</p>
                                                        <p><strong>Dia: </strong>{{ task.tasktransport.day.date | date:"d-m-Y" }}</p>
                                                        <br>
                                                        <p><strong>Origem: </strong>{{ task.tasktransport.from_activity.activity.name }}, {{ task.tasktransport.from_activity.get_localization }}</p>
                                                        <p><strong>Destino: </strong>{{ task.tasktransport.to_activity.activity.name }}, {{ task.tasktransport.to_activity.get_localization }}</p>
                                                        <br>
                                                        <p><strong>Grupos a acompanhar: </strong>
                                                            {% for group in task.tasktransport.ssas.all %}
                                                            {% if forloop.last %}
                                                            {{ group.sub.school.name }}, {{ group.sub.participant.user }}, participantes: {{ group.n_students }}
                                                            {% else %}
                                                            {{ group.sub.school.name }}, {{ group.sub.participant.user }}, participantes: {{ group.n_students }},
                                                            {% endif %}
                                                            {% endfor %}</p>
                                                        <p><strong>Colaboradores: </strong>
                                                            {% if task.assign_to.all %}
                                                            {% for colab in task.assign_to.all %}
                                                            {{ colab.user }}
                                                            {% endfor %}
                                                            {% else %}
                                                            Ainda não foram atribuidos colaboradores
                                                            {% endif %}</p>
                                                        </br>
                                                    </div>
                                                </div>
                                                <a type="button" href="{% url 'task-transport-detail' task.pk %}" class="button is-link pt-0 pb-0 float-left mt-2">
                                                    <span class="icon is-small">
                                                        <i class="fas has-text-white fa-sm fa-list"></i>
                                                    </span>
                                                    {% if not config.has_dia_aberto_started %}
                                                    <span class="has-text-white">Detalhe e Atribuição de Colaboradores</span>
                                                    {% else %}
                                                    <span class="has-text-white">Detalhe</span>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- end expand content-->
                            {% endif %}
                            <!--if its an other task-->
                            {% if task.is_task_other %}
                            <tr dt-responsive>
                                <td>{{ task.taskother.start_time | time:"H:i" }} - {{ task.taskother.get_format_end_time }}</td>
                                <td>{{ task.title }}</td>
                                <td>Outra</td>
                                <td>
                                    {% if task.status == "Por atribuir" %}
                                    <span class="tag text is-warning" style="width: 7rem; font-size: small;">{{ task.status }}</span>
                                    {% elif task.status == "Atribuida" %}
                                    <span class="tag text is-success" style="width: 7rem; font-size: small;">{{ task.status }}</span>
                                    {% endif %}
                                </td>
                                <!--expand content-->
                                <td>
                                    {% if not config.has_dia_aberto_started %}
                                    <a href="{% url 'task-other-update' task.pk %}?next={{ request.path|urlencode }}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="{% url 'task-other-delete' task.pk %}?next={{ request.path|urlencode }}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i>
                                    </a>
                                    {% else %}
                                    <a><i> </i></a>
                                    <a><i> </i>
                                        {% endif %}
                                </td>
                                <td>
                                    {{ task.taskother.day_other.date | date:"Y-m-d"}}
                                </td>
                                <td>{{ task.taskother.start_time | time:"H:i" }}</td>
                                <td>{{ task.taskother.get_format_end_time }}</td>
                                <td>
                                    {% for colab in task.assign_to.all %}
                                    {{ colab.user }} &nbsp
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="table-expand-content row">
                                        <div>
                                            <div class="activity-info container-fluid">
                                                <div id="activity-info-block" class="row">
                                                    <div class="col-12">
                                                        <div class="pb-2 title is-5">
                                                            <h5> Tarefa <span style="color:#00adef">{{task.title}}</span></h5>
                                                        </div>
                                                        <p><strong>Descrição: </strong>{{task.description}}</p>
                                                        <p><strong>Dia: </strong>{{ task.taskother.day_other.date | date:"d-m-Y" }}</p>
                                                        <p><strong>Localização: </strong>{{ task.taskother.localization }}</p>
                                                        <br>
                                                        <p><strong>Colaboradores: </strong>
                                                            {% if task.assign_to.all %}
                                                            {% for colab in task.assign_to.all %}
                                                            {% if forloop.last %}
                                                            {{ colab.user }}
                                                            {% else %}
                                                            {{ colab.user }},
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% else %}
                                                            Ainda não foram atribuidos colaboradores
                                                            {% endif %}</p>
                                                        </br>
                                                    </div>
                                                </div>
                                                <a type="button" href="{% url 'task-other-detail' task.pk %}" class="button is-link pt-0 pb-0 float-left mt-2">
                                                    <span class="icon is-small">
                                                        <i class="fas has-text-white fa-sm fa-list"></i>
                                                    </span>
                                                    {% if not config.has_dia_aberto_started %}
                                                    <span class="has-text-white">Detalhe e Atribuição de Colaboradores</span>
                                                    {% else %}
                                                    <span class="has-text-white">Detalhe</span>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- end expand content-->
                            {% endif %}
                            {% endfor %}
                            <!--end loop-->
                        </tbody>
                    </table>
            </div>
            </section>
        </div>
    </div>
</div>
</div>
{% endblock%}
<!--extrajs-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>

<script>

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = $('#startHourFilter').val();
        var max = $('#endHourFilter').val();
        var start = data[6]; // use data for the age column
        var end = data[7]; // use data for the age column
        
        if (max === '') {
            return start >= min
        } 
        else if (min === '') {
            return end <= max
        } 
        return start >= min && end <= max;
    }
);


$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('#tasktable').DataTable({
        // responsive
        responsive: true,
        // search field, gonna remove later
        language: {
            "emptyTable": "Não foi encontrado nenhum registo",
            "loadingRecords": "A carregar...",
            "processing": "A processar...",
            "lengthMenu": "Mostrar _MENU_ registos",
            "zeroRecords": "Não foram encontrados resultados",
            "info": "Exibindo de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "url": "",
            "aria": {
                "sortAscending": ": Ordenar colunas de forma ascendente",
                "sortDescending": ": Ordenar colunas de forma descendente"
            },
            paginate: {
                previous: '<i class="fas fa-chevron-left fa-lg"></i>',
                next: '<i class="fas fa-chevron-right fa-lg"></i>',
            }
        },
        columnDefs: [{
                width: "10%",
                "targets": [4],
                "orderable": false
            },
            {
                width: "30%",
                "targets": [1],
            },
            {
                "targets": [5, 6, 7, 8],
                "visible": false
            }
        ],
    });

    var table = $('#tasktable').DataTable();
    $('#tasktable_filter').remove();

    var calendars = bulmaCalendar.attach('#dayInputFilter', {
      type: 'date',    
      color: 'link',
      dateFormat: 'YYYY-MM-DD',
      timeFormat: 'HH:mm',
      lang: 'pt',
      showTodayButton: false,
      cancelLabel: 'Cancelar',
      clearLabel: 'Limpar',
      validateLabel: 'Selecionar',
      minDate: '{{ start_date }}',
      maxDate: '{{ end_date }}',
      labelFrom: 'Dia'
    });

    var input = $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });

    $("select.my-empty").change(function() {
      if ($(this).children("option:selected").val() === "empty") {
        $(this).val("");
        $(this).css({
          'cssText': 'color: rgb(170, 170, 170) !important'
        });
      }

      if ($(this).children("option:selected").val()) { // not working
        $(this).css({
          'cssText': 'color: #333 !important'
        });
      }
    })

$(".datetimepicker-clear-button").remove();
$(".datetimepicker-dummy").addClass("input-filter-class");
$(".datetimepicker-dummy-input").css("max-width", "100%");
$(".datetimepicker-dummy-input").css("word-spacing", "normal");

    $("#clearFilter").on("click", function() {
          $("#nameIdInputFilter").val("").keyup();
          $("#typeSelectFilter").val("empty").change();
          $("#stateSelectFilter").val("empty").change();
          calendars[0].clear();
          table.column(5).search("").draw();
          $("#startHourFilter").val("").change();
          $("#endHourFilter").val("").change();
          $("#colabInputFilter").val("").keyup();
        });

    $("#nameIdInputFilter").on("keyup", function() {
      table.column(1).search(this.value).draw();
    });

    $("#typeSelectFilter").change(function() {
      table.column(2).search($(this).children("option:selected").val()).draw();
    });   

    $("#stateSelectFilter").change(function() {
      table.column(3).search($(this).children("option:selected").val()).draw();
    });   

    $("#colabInputFilter").on("keyup", function() {
      table.column(8).search(this.value).draw();
    });  

    calendars[0].on("select", function() {
      table.column(5).search(calendars[0].value()).draw();
    });

    $("button.datetimepicker-footer-clear").click(function() {
      table.column(5).search("").draw();
    });

    $('#startHourFilter').change(function() {
        table.draw();
    });  

    $('#endHourFilter').change(function() {
        table.draw();
    }); 

});

</script>
{% endblock extrajs %}

