{% extends 'inscricao/base_with_container.html' %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}
{% block title %}Tarefa{% endblock %}
{% block extrahead %}
<link href="{% sass_src 'scss/tarefas_wizard.scss' %}" rel="stylesheet">
<style type="text/css">
  #progressbar li.active:before {
    background: #f14668;
  }
  #progressbar li.active:after {
    background: #f14668;
  }
</style>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<link href="{% sass_src 'scss/tarefas_wizard.scss' %}" rel="stylesheet">
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task' %}">Tarefas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Eliminar Tarefa</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
        <div class="px-0 pb-0 mt-3 mb-3">
            <h2><strong>Eliminar Tarefa</strong></h2>
            <div class="icon-hr icon-hr-delete">
                <span></span>
                <div>
                    <span>
                        <i class="fa fa-tasks" aria-hidden="false"></i>
                    </span>
                </div>
                <span></span>
            </div>
            <div class="row">
                <div class="col-md-12 mx-0">
                    <form id="my-form" method="POST">
                        {% csrf_token %}
                        <ul id="progressbar">
                            <li id="add" class="active">
                                <strong></strong>
                            </li>
                        </ul>
                        <h3 class="mb-4">
                            <!-- Transporte -->
                        </h3>
                        <div>
                            <fieldset class="form-group">
                                <!-- <legend class="subtitle is-4 mb-4">Eliminar Transporte</legend> -->
                                <h5 class="subtitle is-5">Tem a certeza que deseja eliminar a seguinte tarefa?</h5>
                                <br>
                                <table class="mx-auto table table-sm col-8">
                                    <tbody>
                                        <tr>
                                            <th>Tipo:</th>
                                            <td>Tarefa Outra</td>
                                        </tr>
                                        <tr>
                                            <th>Título:</th>
                                            <td>{{ object.title }}</td>
                                        </tr>
                                        <tr>
                                            <th>Descrição:</th>
                                            <td>{{ object.description }}</td>
                                        </tr>
                                        <tr>
                                            <th>Colaboradores:</th>
                                            <td>{{ object.number_of_colaborators }}</td>
                                        </tr>
                                        <tr>
                                            <th>Localização:</th>
                                            <td>{{ object.localization }}</td>
                                        </tr>
                                        <tr>
                                            <th>Dia:</th>
                                            <td>{{ object.day_other.date | date:"d-m-Y" }}</td>
                                        </tr>
                                        <tr>
                                            <th>Hora de início:</th>
                                            <td>{{ object.start_time | time:"H:i" }}</td>
                                        </tr>
                                        <tr>
                                            <th>Duração:</th>
                                            <td>{{ object.duration }} minutos</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <a class="button is-dark mt-4 float-left" href="{{ request.GET.next }}">Cancelar</a>
                            <button class="button is-danger mt-4 float-right" type="submit">Sim, eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
