{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Tarefas{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'task' %}">Tarefas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Eliminar Tarefa</li>
{% endblock %}

{% block content_card %}
<div class=" mb-5 p-5">
	<div class="container-fluid ">
			<div class="alert alert-warning" role="alert">
					<legend class="border-bottom mb-4">Eliminar Tarefa</legend>
					<h3><strong>Atenção!</strong> Deseja apagar a tarefa "{{ object.title }}"?</h3>
					<form method="POST">
						{% csrf_token %}
						<div class="form-group mt-1 mt-2">
								<button class="btn btn-danger" type="submit">Eliminar</button>
								<a class="btn btn-primary" href="{% url 'task' %}">Cancelar</a>
						</div>
					</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}