{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Mateiral - criar{% endblock %}

{% block extrahead %}
{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:material-list' %}">Material</a></li>
	<li class="breadcrumb-item active" aria-current="page">Criar</li>
{% endblock %}

{% block content_card %}
{% bootstrap_javascript jquery='full' %}

<div class="mb-5 container pr-5 pl-5 pb-5" style="width:100%">
  <h2 class="title mb-5 text-center is-3">Criar Material</h2>
  <p class = "text-center">Preencha os campos obrigatórios para criar um novo material</p>
  <div class="icon-hr mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-pencil-ruler" aria-hidden="false"></i>
            </span>
        </div>
        <span></span>
  </div>
  <div class="mt-2 pt-2">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% bootstrap_form form %}
        {% comment %} {{ tform }} {% endcomment %}
      </fieldset>
      <div class="form-group">
        <a class="button is-dark" href="{% url 'activity:material-list'%}" type="submit">Cancelar</a>
        <button class="button is-success float-right" type="submit">Criar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<script>
$("form").submit(function() {
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
});
</script>
{% endblock extrajs %}
