{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Mateiral - alterar{% endblock %}

{% block extrahead %}
{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:material-list' %}">Material</a></li>
	<li class="breadcrumb-item active" aria-current="page">Alterar</li>
{% endblock %}

{% block content_card %}

{% bootstrap_javascript jquery='full' %}

<div class="mb-5 pr-5 container pl-5 pb-5" style="width:100%">
  <h2 class="title mb-5 text-center is-3">Alterar Material</h2>
  <p class = "text-center">Preencha os campos obrigatórios para alterar o material</p>
  <div class="icon-hr  icon-hr-edit mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-pencil-ruler" aria-hidden="false"></i>
            </span>
        </div>
        <span></span>
    </div>
  <div class="mt-2 pt-2">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% bootstrap_form form %}
        {% comment %} {{ tform }} {% endcomment %}
      </fieldset>
      <div class="form-group">
        <a class="button is-dark" href="{% url 'activity:material-list'%}" type="submit">Cancelar</a>
        <button class="button is-success float-right" type="submit">Alterar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>
$("form").submit(function() {
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
});
</script>
{% endblock extrajs %}
