@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.pcs:after {
  content: " pcs"; }

.cur:before {
  content: "$"; }

.per:after {
  content: "%"; }

table {
  width: 100%; }
  table th {
    text-align: left;
    border-bottom: 1px solid #000; }
  table th,
  table td {
    padding: .4em; }

table.fold-table > tbody > tr.view td,
table.fold-table > tbody > tr.view th {
  cursor: pointer; }

table.fold-table > tbody > tr.view td:first-child,
table.fold-table > tbody > tr.view th:first-child {
  position: relative;
  padding-left: 20px; }
  table.fold-table > tbody > tr.view td:first-child:before,
  table.fold-table > tbody > tr.view th:first-child:before {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 9px;
    height: 16px;
    margin-top: -8px;
    font: 16px fontawesome;
    color: #000;
    content: "\f0d7";
    transition: all .3s ease; }

table.fold-table > tbody > tr.view:nth-child(4n-1) {
  background: #eee; }

table.fold-table > tbody > tr.view:hover {
  background: #ddd; }

table.fold-table > tbody > tr.view.open {
  background: tomato;
  color: white; }
  table.fold-table > tbody > tr.view.open td:first-child:before,
  table.fold-table > tbody > tr.view.open th:first-child:before {
    transform: rotate(-180deg);
    color: #000; }

table.fold-table > tbody > tr.fold {
  display: none; }
  table.fold-table > tbody > tr.fold.open {
    display: table-row; }

.fold-content {
  padding: .5em; }
  .fold-content h3 {
    margin-top: 0; }
  .fold-content > table {
    border: 2px solid #ccc; }
    .fold-content > table > tbody tr:nth-child(even) {
      background: #000; }

/*# sourceMappingURL=activity.css.map */