* {
    margin: 0;
    padding: 0
}

#msform {
    fieldset:not(:first-of-type) {
        display: none;
    }
    .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
        &:hover,
        &:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
        }
    }
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    &:focus {
        border-bottom: 2px solid skyblue
    }
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    &.active {
        color: #000000;
    }
    li {
        list-style-type: none;
        font-size: 12px;
        width: 16.555%;
        float: left;
        position: relative;
        &:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }
        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }
        &.active:before,
        &.active:after {
            background: skyblue
        }
    }
    #account:before {
        font-family: FontAwesome;
        content: "\f02d"
    }
    #personal:before {
        font-family: FontAwesome;
        content: "\f073"
    }
    #payment:before {
        font-family: FontAwesome;
        content: "\f303"
    }
    #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
    }
}

.filters .input {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    border-radius: 50% !important;
    width: 100%;
}

fieldset {
    display: block !important;
}

// FORMS
#msform #form-fields {
    .form-group:first-of-type {
        min-width: 80%;
        padding-right: 20px;
    }
}

#addmorethemes {
    cursor: pointer;
    width: 100%;
}

#form-fields {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#addmorematerials {
    width: 30%;
}

#activity-detail {
    & a:hover {
        text-decoration: none !important;
        &>div {
            border: 1px solid #00adef;
        }
    }
}