.input-filter-class > div {
  width: 100%; }

.input-filter-class .datetimepicker-dummy-wrapper {
  border: none !important; }

.input-filter-class .date-item.is-today {
  border: 1px solid !important; }

/*# sourceMappingURL=bulma_calendar_time_picker.css.map */