// atividades
.input-filter-class {
    &>div {
        width: 100%;
    }
    & .datetimepicker-dummy-wrapper {
        border: none !important;
    }
    & .date-item.is-today {
        border: 1px solid !important;
    }
}

// .datetimepicker-dummy.is-primary::before,
// .datetimepicker-dummy.is-primary:before {
//     mask: url('https://www.pinpng.com/pngs/m/190-1904697_clock-svg-png-icon-free-download-2-number.png') !important;
//     // -webkit-mask: url(https://www.pinpng.com/pngs/m/190-1904697_clock-svg-png-icon-free-download-2-number.png') !important;
// }