#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey; }
  #progressbar.active {
    color: #000000; }
  #progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 100%;
    float: left;
    position: relative;
    z-index: 0; }
    #progressbar li:before {
      width: 50px;
      height: 50px;
      line-height: 45px;
      display: block;
      font-size: 18px;
      color: #ffffff;
      background: lightgray;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px; }
    #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: lightgray;
      position: absolute;
      left: 0;
      top: 25px;
      z-index: -1; }
    #progressbar li.active:before, #progressbar li.active:after {
      background: #48c774; }
  #progressbar #add:before {
    content: "\f095";
    font-family: FontAwesome; }

/*# sourceMappingURL=contact_wizard.css.map */