/* -----------------------------------------globals----------------------------------------  */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: "Prelo", sans-serif;
}

img {
    width: 100%;
}

h1,
h2 {
    color: rgb(54, 54, 54);
}

h3,
h4,
h5,
h6,
p,
a,
span,
i {
    color: rgb(74, 74, 74);
}

a {
    outline: 0;
    &:hover {
        color: #00adef;
        text-decoration: underline;
    }
}

button {
    background-color: white;
    border: none;
    &:focus {
        background-color: rgba(24, 24, 24, 0.05);
        border: 2px solid rgba(24, 24, 24, 0.1);
        border-radius: 5px;
    }
}


/* -----------------------------------------index----------------------------------------*/

.card {
    border-radius: 0 !important;
}

i {
    font-size: 24px;
}

#notificacao-badge span {
    position: absolute;
    background-color: gold;
    border-radius: 100%;
    margin-top: -10px;
}

nav a {
    color: rgb(74, 74, 74);
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}

@media (max-width: 768px) {
    #navbarResponsive {
        background-color: white;
        margin-right: -16px;
        margin-left: -16px;
        padding: 15px;
    }
    .navbar-brand {
        width: 60%;
    }
}


/* login and logout buttons */

.login-logout-button {
    a {
        border: 1px solid rgba(24, 24, 24, 0.05);
        border-radius: 10%;
        text-decoration: none;
        color: black;
        &:hover {
            background-color: rgba(24, 24, 24, 0.05);
            text-decoration: none !important;
            color: rgb(74, 74, 74) !important;
        }
    }
    i {
        font-size: 1em;
        padding-right: 5px;
    }
}

.index-content {
    top: 75px;
    margin: 0vh 5vw 0;
}


/* -------------------------------------FOOTER-------------------------------- */

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}