/* -----------------------------------------globals----------------------------------------  */

* {
    outline: none;
}

html, body {
    scroll-behavior: smooth;
    min-height: 100%;
    background-size: cover;
    background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

img {
    width: 100%;
}

h1,
h2 {
    color: rgb(54, 54, 54);
}

h3,
h4,
h5,
h6,
p,
a,
span,
i {
    color: rgb(74, 74, 74);
}

a {
    outline: 0;
    &:hover {
        color: #3273dc;
        text-decoration: none !important;
    }
}

button {
    background-color: white;
    border: none;
    &:focus {
        background-color: rgba(24, 24, 24, 0.05);
        border: 2px solid rgba(24, 24, 24, 0.1);
        border-radius: 5px;
    }
}


/* -----------------------------------------index----------------------------------------*/

.card {
    border-radius: 0 !important;
}

i {
    font-size: 24px;
}

#notificacao-badge span {
    position: absolute;
    background-color: gold;
    border-radius: 100%;
    margin-top: -10px;
}
#notificationList .unseen {
    background: #fff5bf;
    border-bottom: white 2px solid;
}

nav a {
    color: rgb(74, 74, 74);
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}

.dropdown-menu.dropdown-menu-right {
    left: unset;
    >h4 {
        padding: .5rem .8rem;
        padding-bottom: .3rem;
    }
    a {
        padding-bottom: .8rem;
    }
}

@media (max-width: 768px) {
    #navbarResponsive {
        background-color: white;
        margin-right: -16px;
        margin-left: -16px;
        padding: 15px;
    }
    .navbar-brand {
        width: 60%;
    }
}


/* login and logout buttons */

.login-logout-button {
    a {
        border: 1px solid rgba(24, 24, 24, 0.05);
        border-radius: 10%;
        text-decoration: none;
        color: black;
        &:hover {
            background-color: rgba(24, 24, 24, 0.05);
            text-decoration: none !important;
            color: rgb(74, 74, 74) !important;
        }
    }
    i {
        font-size: 1em;
        padding-right: 5px;
    }
}

.index-content {
    top: 75px;
    margin: 0vh 5vw 0;
}

// ----------------- tags --------------------------------
// btns
.btn-outline-issuccess {
    background-color: white;
    border: 1px solid #23d160;
    color: #23d160 !important;
    border-radius: 5px;
    cursor: pointer;
    & i {
        color: #23d160;
    }
    &:hover {
        background-color: #23d160;
        color: white !important;
        & i {
            color: white;
        }
    }
}

.btn-outline-isprimary {
    background-color: white;
    border: 1px solid #3273dc;
    color: #3273dc;
    border-radius: 5px;
    & i {
        color: #3273dc;
    }
    &:hover {
        background-color: #3273dc;
        color: white;
        & i {
            color: white;
        }
    }
}

// color
.is-primary {
    color: #3273dc;
}

#startHourFilter,
#endHourFilter,
#fromtime,
#tilltime {
    width: 50%;
}

// ------------------- filter -----------------------------
.input-filter-class {
    border: 1px solid rgba(10, 10, 10, .1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
    display: inline-flex !important;
    align-items: center;
    width: 100%;
    & .datetimepicker-clear-button {
        top: -4px !important
    }
    & select {
        border: none;
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
    &:hover {
        border: 1px solid rgba(10, 10, 10, .5);
    }
    &:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
        & i {
            color: rgba(10, 10, 10, .5);
        }
    }
    & i {
        padding-left: 5px;
        margin-right: 10px;
        font-size: 1.2em;
        color: #209cee;
    }
    & input {
        border: unset !important;
        &:focus,
        &:hover {
            outline: unset;
        }
    }
    & input {
        margin: 7px !important;
    }
    input::-webkit-calendar-picker-indicator {
        display: none;
        // display: block;
        // background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
        // // background: "\f02d";
    }
}

//  lOADER
#page {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}


/* -------------------------------------FOOTER-------------------------------- */

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

a.button:hover {
    text-decoration: none;
}


/* -------------------------------------MODAL-------------------------------- */

.modal {
    z-index: 1050;
    position: absolute;
}


/* -------------------------------------icon-HR-------------------------------- */

.icon-hr {
    $line_color: rgb(72, 199, 116);
    display: flex;
    >span {
        background-color: $line_color;
        height: .12rem;
        align-self: center;
        flex-grow: 1;
    }
    >div {
        border: 1.7px solid $line_color;
        border-radius: 50%;
        padding: .7rem;
        background-color: $line_color;
        width: 50px;
    }
    >div>div {
        position: relative;
        text-align: center;
        width: 100%;
        padding-top: 100%;
    }
    >div>div>span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    i {
        color: white;
    }
}

.icon-hr.icon-hr-edit {
    $line_color: #3273dc;
    * {
        background-color: $line_color;
    }
    >div {
        border-color: $line_color;
    }
}

.icon-hr.icon-hr-delete {
    $line_color: #f14668;
    * {
        background-color: $line_color;
    }
    >div {
        border-color: $line_color;
    }
}


/* -------------------------------------right buttons-------------------------------- */

.right-buttons-container {
    display: flex;
    flex-direction: row;
}

.right-buttons-container span:last-child {
    flex-grow: 1;
    text-align: right;
}

@media (max-width: 520px) {
    .right-buttons-container {
        flex-direction: column;
    }
    .right-buttons-container span:last-child {
        text-align: left;
    }
}