/* -----------------------------------------globals----------------------------------------  */
* {
  outline: none; }

html, body {
  scroll-behavior: smooth;
  min-height: 100%;
  background-size: cover;
  background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center; }

body {
  min-height: 100vh;
  position: relative;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

img {
  width: 100%; }

h1,
h2 {
  color: #363636; }

h3,
h4,
h5,
h6,
p,
a,
span,
i {
  color: #4a4a4a; }

a {
  outline: 0; }
  a:hover {
    color: #3273dc;
    text-decoration: none !important; }

button {
  background-color: white;
  border: none; }
  button:focus {
    background-color: rgba(24, 24, 24, 0.05);
    border: 2px solid rgba(24, 24, 24, 0.1);
    border-radius: 5px; }

/* -----------------------------------------index----------------------------------------*/
.card {
  border-radius: 0 !important; }

i {
  font-size: 24px; }

#notificacao-badge span {
  position: absolute;
  background-color: gold;
  border-radius: 100%;
  margin-top: -10px; }

#notificationList .unseen {
  background: #fff5bf;
  border-bottom: white 2px solid; }

nav a {
  color: #4a4a4a; }

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  background: transparent !important; }
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }

.dropdown-menu.dropdown-menu-right {
  left: unset; }
  .dropdown-menu.dropdown-menu-right > h4 {
    padding: .5rem .8rem;
    padding-bottom: .3rem; }
  .dropdown-menu.dropdown-menu-right a {
    padding-bottom: .8rem; }

@media (max-width: 768px) {
  #navbarResponsive {
    background-color: white;
    margin-right: -16px;
    margin-left: -16px;
    padding: 15px; }
  .navbar-brand {
    width: 60%; } }

/* login and logout buttons */
.login-logout-button a {
  border: 1px solid rgba(24, 24, 24, 0.05);
  border-radius: 10%;
  text-decoration: none;
  color: black; }
  .login-logout-button a:hover {
    background-color: rgba(24, 24, 24, 0.05);
    text-decoration: none !important;
    color: #4a4a4a !important; }

.login-logout-button i {
  font-size: 1em;
  padding-right: 5px; }

.index-content {
  top: 75px;
  margin: 0vh 5vw 0; }

.btn-outline-issuccess {
  background-color: white;
  border: 1px solid #23d160;
  color: #23d160 !important;
  border-radius: 5px;
  cursor: pointer; }
  .btn-outline-issuccess i {
    color: #23d160; }
  .btn-outline-issuccess:hover {
    background-color: #23d160;
    color: white !important; }
    .btn-outline-issuccess:hover i {
      color: white; }

.btn-outline-isprimary {
  background-color: white;
  border: 1px solid #3273dc;
  color: #3273dc;
  border-radius: 5px; }
  .btn-outline-isprimary i {
    color: #3273dc; }
  .btn-outline-isprimary:hover {
    background-color: #3273dc;
    color: white; }
    .btn-outline-isprimary:hover i {
      color: white; }

.is-primary {
  color: #3273dc; }

#startHourFilter,
#endHourFilter,
#fromtime,
#tilltime {
  width: 50%; }

.input-filter-class {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
  display: inline-flex !important;
  align-items: center;
  width: 100%; }
  .input-filter-class .datetimepicker-clear-button {
    top: -4px !important; }
  .input-filter-class select {
    border: none; }
    .input-filter-class select:focus {
      border: none;
      outline: none;
      box-shadow: none; }
  .input-filter-class:hover {
    border: 1px solid rgba(10, 10, 10, 0.5); }
  .input-filter-class:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
    .input-filter-class:focus-within i {
      color: rgba(10, 10, 10, 0.5); }
  .input-filter-class i {
    padding-left: 5px;
    margin-right: 10px;
    font-size: 1.2em;
    color: #209cee; }
  .input-filter-class input {
    border: unset !important; }
    .input-filter-class input:focus, .input-filter-class input:hover {
      outline: unset; }
  .input-filter-class input {
    margin: 7px !important; }
  .input-filter-class input::-webkit-calendar-picker-indicator {
    display: none; }

#page {
  display: none; }

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("http://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center; }

/* -------------------------------------FOOTER-------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%; }

a.button:hover {
  text-decoration: none; }

/* -------------------------------------MODAL-------------------------------- */
.modal {
  z-index: 1050;
  position: absolute; }

/* -------------------------------------icon-HR-------------------------------- */
.icon-hr {
  display: flex; }
  .icon-hr > span {
    background-color: #48c774;
    height: .12rem;
    align-self: center;
    flex-grow: 1; }
  .icon-hr > div {
    border: 1.7px solid #48c774;
    border-radius: 50%;
    padding: .7rem;
    background-color: #48c774;
    width: 50px; }
  .icon-hr > div > div {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 100%; }
  .icon-hr > div > div > span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .icon-hr i {
    color: white; }

.icon-hr.icon-hr-edit * {
  background-color: #3273dc; }

.icon-hr.icon-hr-edit > div {
  border-color: #3273dc; }

.icon-hr.icon-hr-delete * {
  background-color: #f14668; }

.icon-hr.icon-hr-delete > div {
  border-color: #f14668; }

/* -------------------------------------right buttons-------------------------------- */
.right-buttons-container {
  display: flex;
  flex-direction: row; }

.right-buttons-container span:last-child {
  flex-grow: 1;
  text-align: right; }

@media (max-width: 520px) {
  .right-buttons-container {
    flex-direction: column; }
  .right-buttons-container span:last-child {
    text-align: left; } }

/*# sourceMappingURL=dia_aberto.css.map */