#contentPannel {
  height: 60vh;
  overflow-y: scroll; }
  #contentPannel tbody tr {
    cursor: pointer;
    border-left: #00000000 solid 0.4em; }
  #contentPannel tbody tr.ntfUnseen {
    background: #f5efff;
    box-sizing: border-box;
    border-left: gold solid 0.4em;
    font-weight: bolder; }
  #contentPannel tbody > tr > td > i {
    color: #ffca08; }

#receiveTable tbody > tr > td:nth-child(2),
#receiveTable tbody > tr > td:last-child {
  white-space: nowrap; }

#receiveTable tbody > tr > td:nth-child(3) > div {
  text-overflow: ellipsis;
  height: 21px;
  overflow-y: hidden; }

#sentTable tbody > tr > td:nth-child(3) {
  white-space: nowrap; }

#sentTable tbody > tr > td:nth-child(2) > div {
  text-overflow: ellipsis;
  height: 21px;
  overflow-y: hidden; }

#ntfModeTabs {
  margin-bottom: 10px; }
  #ntfModeTabs > ul {
    display: flex; }
    #ntfModeTabs > ul > li {
      flex-grow: 1; }
      #ntfModeTabs > ul > li > a {
        background: gray;
        border: none; }
    #ntfModeTabs > ul > li.is-active > a {
      background: #3273dc; }
    #ntfModeTabs > ul > li:hover {
      opacity: 90%; }
  #ntfModeTabs span, #ntfModeTabs i {
    color: white !important; }

#ntf-box {
  display: flex;
  background-color: #F9F9F9;
  border-radius: 10px; }
  #ntf-box > * > hr:first-of-type {
    margin: 10px 0; }
  #ntf-box > aside {
    flex-grow: 1;
    min-width: 295px;
    max-width: 295px;
    padding: 10px;
    margin-right: 5px; }
    #ntf-box > aside > a:first-of-type {
      width: 100%; }
    #ntf-box > aside input {
      display: block; }
  #ntf-box main {
    flex-grow: 10;
    border-top: 10px solid #F9F9F9;
    border-bottom: 10px solid #F9F9F9; }

.button i {
  margin-right: 5px;
  color: inherit; }

#detailContentContainer {
  white-space: break-spaces; }

#controlBar {
  min-height: 40px; }

.button.loading {
  cursor: inherit; }
  .button.loading i {
    -webkit-animation: spinAround .9s infinite linear;
    animation: spinAround .9s infinite linear; }

/*# sourceMappingURL=notification_inbox.css.map */