#contentPannel {
    height: 60vh;
    overflow-y: scroll;

    tbody {

        tr {
            cursor: pointer;
            border-left: #00000000 solid 0.4em;
        }
        tr.ntfUnseen {
            background: #f5efff;
            box-sizing: border-box;
            border-left: gold solid 0.4em;
            font-weight: bolder;
        }

        > tr {
            > td > i {
                color: #ffca08;
            }
        }
    }
}

#receiveTable tbody > tr {
    > td:nth-child(2),
    > td:last-child {
        white-space: nowrap;
    }

    > td:nth-child(3) > div {
        text-overflow: ellipsis;
        height: 21px;
        overflow-y: hidden;
    }
}
#sentTable tbody > tr {
    > td:nth-child(3) {
        white-space: nowrap;
    }

    > td:nth-child(2) > div {
        text-overflow: ellipsis;
        height: 21px;
        overflow-y: hidden;
    }
}


#ntfModeTabs {
    margin-bottom: 10px;

    > ul {
        display: flex;

        > li {
            flex-grow: 1;

            > a {
                background: gray;
                border: none;
            }
        }
        > li.is-active > a {
            background: #3273dc;
        }
        > li:hover {
            opacity: 90%;
        }
    }

    span, i {
        color: white !important;
    }
}

#ntf-box {
    display: flex;
    background-color: #F9F9F9;
    border-radius: 10px;

    > * > hr:first-of-type {
        margin: 10px 0;
    }

    > aside {
       flex-grow: 1;
       min-width: 295px;
       max-width: 295px;
       padding: 10px;
       margin-right: 5px;

       > a:first-of-type {
           width: 100%;
       }

       input {
           display: block;
       }
    }

    main {
        flex-grow: 10;
        border-top: 10px solid #F9F9F9;
        border-bottom: 10px solid #F9F9F9;
    }
}

.button i {
    margin-right: 5px;
}

#detailContentContainer {
    white-space: break-spaces;
}

#controlBar {
    min-height: 40px;
}

.button.loading {
    cursor: inherit;

    i {
      -webkit-animation: spinAround .9s infinite linear;
      animation: spinAround .9s infinite linear;
    }
}

