.icon-hr {
  display: flex; }
  .icon-hr > span {
    background: #48c774;
    height: .12rem;
    align-self: center;
    flex-grow: 1; }
  .icon-hr > div {
    border: 1.7px solid #48c774;
    border-radius: 50%;
    padding: .7rem;
    background: #48c774; }
  .icon-hr > div > div {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 100%; }
  .icon-hr > div > div > span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .icon-hr i {
    color: white; }

.icon-hr.icon-hr-edit * {
  background-color: #3273dc; }

.icon-hr.icon-hr-edit > div {
  border-color: #3273dc; }

.icon-hr.icon-hr-delete * {
  background-color: #f14668; }

.icon-hr.icon-hr-delete > div {
  border-color: #f14668; }

/*# sourceMappingURL=tarefas_wizard.css.map */