#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    &.active {
        color: #000000;
    }
    li {
        list-style-type: none;
        font-size: 12px;
        width: 100%;
        float: left;
        position: relative;
        z-index: 0;
        &:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
        }
        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1;
        }
        &.active:before,
        &.active:after {
            background: #48c774
        }
    }
    #add:before {
        font-family: FontAwesome;
        content: "\f207"
    }
}