.input-filter-class .datetimepicker-dummy-wrapper {
  height: unset;
  border: none !important; }

.input-filter-class .date-item.is-today {
  border: 1px solid !important; }

/*# sourceMappingURL=transports_datepickerinput.css.map */