{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
{% endblock %}
{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>


<div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-10 col-md-9 col-lg-9 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
              <h2><strong>Inscrição</strong></h2>
              <p>Preencha todos os passos para passar para o passo seguinte</p>
              <div class="row">
                  <div class="col-md-12 mx-0">
                      <form id="msform" action="" method="post">
                        {% csrf_token %}
                          <table>
                          <!-- progressbar -->
                          <ul id="progressbar">
                              <li class="active" id="account"><strong>Escola</strong></li>
                              <li id="personal"><strong>Data</strong></li>
                              <li id="confirm"><strong>Sessoes</strong></li>
                          </ul> <!-- fieldsets -->
                          {{ wizard.management_form }}
                          {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                              <fieldset>
                              {{ form|crispy }}
                              </fieldset>
                            {% endfor %}
                          {% else %}
                            <div class="text-left">
                              {{ wizard.form|crispy }}
                            </div>
                          {% endif %}
                          </table>
                          {% if wizard.steps.prev %}
                          <button class="next"name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                          <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                          {% endif %}
                          <input type="submit" class="next" value="{% trans "submit" %}"/>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>
{% endblock %}