<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load sass_tags %}
<head>
	{% comment %} meta headers {% endcomment %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" href="{% static 'img/logo.png' %}"/>

	<title>Dia Aberto - {% block title %}{% endblock title %}</title>

	{% comment %} Bootstrap core CSS {% endcomment %}
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/bulma/style.min.css' %}" rel="stylesheet">

	{% comment %} googleapis and fontawesome {% endcomment %}
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">

	{% comment %} glyphicons {% endcomment %}

	<script src="https://kit.fontawesome.com/ecb927371c.js" crossorigin="anonymous"></script>

	{% comment %} Custom SCSS styles for this template {% endcomment %}
	<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">

	{% comment %} if other templates require more css {% endcomment %}
	{% block extrahead %}
	{% endblock extrahead %}

</head>

<body>

{% comment %} top navbar section {% endcomment %}
{% comment %} Navigation  {% endcomment %}
<nav class="navbar pb-0 pt-0 fixed-top navbar-expand-lg navbar bg-white fixed-top" style="height:50px">
	<div class="container-fluid p-0 m-0">
		{% comment %} logo {% endcomment %}
		<div class="navbar-brand">
			<a class="navbar-item logo router-link-exact-active router-link-active" href="{% url 'home' %}"><img src="{% static 'img/logo-navbar.png' %}" alt='dia-aberto' style="height:30px; width:auto"></a>
		</div>
		{% comment %} collapsed bar screen {% endcomment %}
		<button class="navbar-toggler collapsed  navbar-toggle navbar-toggler-right"id="ChangeToggle" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		{% comment %} menu options {% endcomment %}
		<div class="collapse navbar-collapse" id="navbarResponsive">

			<ul class="navbar-nav">
				{% comment %} only admin sees a different name for this link, everyone else sees the other other one {% endcomment %}
				{% if request.user.administrator %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'config_dia_aberto:config'%}">Configurações do Dia Aberto</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:config-activity'%}">Configurações de Atividade</a></li>

				{% else %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'config_dia_aberto:config'%}">Dia Aberto</a></li>
				{% endif %}

				{% if request.user.administrator %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:activity'%}">Atividades</a></li>
					{% if request.user.teacher%}
						<li><a class="navbar-item is-tab router-link" href="{% url 'activity:theme-list' %}?view=all">Temas</a></li>
						<li><a class="navbar-item is-tab router-link" href="{% url 'activity:material-list' %}?view=all">Materiais</a></li>
					{% endif %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'config_dia_aberto:transport-list'%}">Transportes</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'config_dia_aberto:meal-list'%}">Refeições</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'viewInscricao' %}">Inscrições</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'utilizadores_list'%}">Utilizadores</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'listacolaboradores'%}">Consultar Colaboradores</a></li>
				{% elif request.user.coordinator %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:activity'%}">Atividades</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:activity' %}?view=all">Todas as Atividades</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'listacolaboradores'%}">Consultar Colaboradores</a></li>
					{% if request.user.teacher%}
						<li><a class="navbar-item is-tab router-link" href="{% url 'activity:theme-list' %}?view=all">Temas</a></li>
						<li><a class="navbar-item is-tab router-link" href="{% url 'activity:material-list' %}?view=all">Materiais</a></li>
					{% endif %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'task' %}">Tarefas</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'utilizadores_list'%}">Utilizadores</a></li>
				{% elif request.user.teacher %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:activity'%}">Atividades</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:activity' %}?view=all">Todas as Atividades</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:theme-list' %}?view=all">Temas</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:material-list' %}?view=all">Materiais</a></li>
				{% elif request.user.colaborator %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'colaborador' request.user.colaborator.id %}">Consultar tarefas</a></li>
				{% elif request.user.participant %}
					<li><a class="navbar-item is-tab router-link" href="{% url 'config_dia_aberto:transport-list'%}">Transportes</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'activity:activity' %}?view=all">Todas as Atividades</a></li>
					<li><a class="navbar-item is-tab router-link" href="{% url 'config_dia_aberto:meal-list'%}">Refeições</a></li>
					<li><a class="navbar-item is-tab router-link" href="/viewInscricao/{{getID}}">Consultar A Minha Inscrição</a></li>
					{% comment %} <li><a class="navbar-item is-tab router-link" href="{% url 'inscricao' %}">Criar Inscrição</a></li> {% endcomment %}
				{% else  %}
					<!--if user not loged-->
				{% endif%}
			</ul>

			{% comment %} Login / notificações /perfil {% endcomment %}
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
				{% comment %} notificações {% endcomment %}
				{% include 'notificacoes/notification_nav_menu.html' %}

				<li class="nav-link dropdown">
					<button class="nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="user-badge" href="">
							<i class="fas fa-user"></i>
					</button>
					 <div class="user dropdown-menu dropdown-menu-right" aria-labelledby="user-badge">
						<h4 class="dropdown-header"><strong>{{ user.get_username }}</strong></h4>
						<p class="dropdown-divider"></p>
						<a class="dropdown-item" href="{% url 'user_profile'%}">Perfil</a>
					</div>
				{% endif %}
				{% comment %} login/logout {% endcomment %}
				<li class="nav-link float-right login-logout-button ">
				{% if user.is_authenticated %}
					<a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Sair</a>
				{% else %}
					<a class="nav-link " href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
				{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
{% comment %} end navbar {% endcomment %}

{% comment %} body {% endcomment %}
<section id="front-page-section" class="pt-1" style="width:100%, position: absolute; height: 100%;background: linear-gradient(to bottom, #3273dc 0%,#3273dc 50%,#f8f9fa 50%,#f8f9fa 100%)">
{% block content %}
{% endblock content%}
</section>
{% comment %} end body {% endcomment %}




{% comment %} footer {% endcomment %}
{% comment %} <footer class="bg-white d-flex " style="bottom:-49px;justify-content: space-between">
	<div class="">
		(c) 2020
	</div>
	<div class="">
		Dia Aberto
	</div>
	<div class="">
		not stolened'nt
	</div>
</footer> {% endcomment %}
{% comment %} end footer {% endcomment %}

{% comment %} Bootstrap core JavaScript  {% endcomment %}


{% block loader%}
{% endblock loader%}

{% comment %} modal popups go here {% endcomment %}
{% block modals %}
{% endblock modals %}


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% comment %} Plugin JavaScript  {% endcomment %}
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/dia_aberto.js' %}"></script>

{% comment %} notification navbar logic {% endcomment %}
<script src="{% static 'js/notification_nav.js' %}"></script>

{% comment %} Custom Scripts {% endcomment %}
{% comment %} <script src="{% static 'js/dia_aberto.js'%}"></script> {% endcomment %}
{% block extrajs %}
{% endblock extrajs %}
</body>
</html>
