{% extends 'inscricao/base.html' %}
{% load static %}
{% block content %}
{% comment %} fancy container {% endcomment %}

<div class=" p-0 container-fluid ml-auto mr-auto">
    <div class="card index-content">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb bg-white">
                {% block path%}
                <li class="breadcrumb-item active" aria-current="page">Início</li>
                {% endblock %}
            </ul>
        </nav>
        <section id="messages-section">
        {% if messages %}
            {% for message in messages %}
            <div id="message_container" {% if message.tags %} class="alert alert-{{ message.tags }}" role="alert" {% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
        </section>
        {% block content_card %}
        {% endblock content_card %}
    </div>
</div>
{% comment %} fancy container {% endcomment %}
{% endblock content %}