{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>


<!-- TABLE FOR FILTERING -->
<div class="container">
    <div class="row">
      <div class="col-5">

	    Filtros de Inscrições
	    <table id="notMyTable" cellspacing="5" cellpadding="5" border="0">
		<tbody>
		<tr>
			<div>
                
				<form method = 'get'>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth" label="Escola"> 
                                {{myFilter.date}} 
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{myFilter.school}}
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{myFilter.participant}}
                            </div>
                        </div>
                    </div>
                    <p></p>
					
				

            </div>
		</tr>
        </tbody>
        </table>
	    <button class = "btn btn-primary" type = "submit"> Procurar </button>
	    </form>
    </div>


<div class="col-7">


    <div class="table-wrapper">
        <table id="table001" class="table has-mobile-cards is-hoverable is-fullwidth">
            <thead>
                <tr>                       
                    <th width="50px"></th>
                    <th onclick="sortTable(1, 'table001')" style="width: 300px; cursor: pointer;" class="pre-expandable">
                        Número do grupo &#9650&#9660
                        <span class="icon-expandable-180 is-small">
                            <i class="mdi mdi-menu-up"></i>
                        </span>
                    </th>
                    
                    <th  onclick="sortTable(2, 'table001')" style="width: 300px; cursor: pointer;" class="pre-arrow">

                            Nome da Escola &#9650&#9660
                            <span class="icon is-small">
                                <i class="mdi mdi-menu-up"></i>
                            </span>
                    </th>
                    <th onclick="sortTable(3, 'table001')" style="width: 300px; cursor: pointer;" class="pre-arrow">
                        Ano &#9650&#9660
                        <span class="icon is-small">
                            <i class="mdi mdi-menu-up"></i>
                        </span>
                    </th>
                    <th onclick="sortTable(4, 'table001')" style="width: 300px; cursor: pointer;" class="pre-arrow" >
                        Área &#9650&#9660
                        <span class="icon is-small">
                            <i class="mdi mdi-menu-up"></i>
                        </span>
                    </th>
                    <th>
                        <span class="icon is-small">
                            <i class="mdi mdi-menu-up"></i>
                    </th>
                </tr>
            </thead>
            {% for diaAberto in inscricoes %}
                <tbody>      
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">{{diaAberto.id}} </td>
                        <td data-label="Nome">{{diaAberto.school.name}} </td>
                        <td data-label="Morada">{{diaAberto.participant.school_year}}</td>
                        <td data-label="Cidade">{{diaAberto.participant.area}}</td>
                        <td><a class="btn btn-sm btn-info"href="{% url 'idnome' diaAberto.id %}"><i class="fas fa-info-circle"></i></a></td>
                    </tr> 

                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</div>
</div>
</div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>
<script src="{% static 'js/tablesort3.js' %}"></script>


{% endblock extrajs %}


