{% extends 'inscricao/base.html' %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'home' %}">Início</a></li>
    <li><a href="">Minhas Atividades</a></li>
    <li class="is-active"><a href="" aria-current="page">Propor Atividade</a></li>
  </ul>
</nav>
<div style="padding: 3rem 2vw 1rem">
  <form method="POST" action="">
  <div class="b-steps">
    <section class="step-content">
        <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <hr>
              <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">Docente Responsavel 1</h2>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Nome</label>
                    <div class="control">
                        <input type="text" autocomplete="on" required="required" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control is-expanded">
                        <input type="text" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                    <div class="field">
                      <label class="label">Telemóvel/Telefone</label>
                      <div class="control">
                        <input type="text" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
              </div>
            <hr/>
          </div>
        </div>
         <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <hr>
              <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">Escola</h2>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Nome</label>
                    <div class="control">
                        <input type="text" autocomplete="on" required="required" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Morada</label>
                    <div class="control is-expanded">
                        <input type="text" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                    <div class="field">
                      <label class="label">Código Postal</label>
                      <div class="control">
                        <input type="int" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Localizacao</label>
                      <div class="control">
                        <input type="text" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
              </div>
            <hr/>
          </div>
        </div>

         <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <hr>
              <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">Transporte</h2>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Tipo de transporte</label>
                    <div class="control">
                        <input type="text" autocomplete="on" required="required" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Entrada transporte</label>
                    <div class="control is-expanded">
                      <div class="select is-fullwidth">
                        <input type="time" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                    <div class="field">
                      <label class="label">Saída transporte</label>
                      <div class="control">
                        <input type="time" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
              </div>
            <hr/>
          </div>
        </div>
    <div class="step-item">
            <div style="padding: 1rem 2vw 0px">
              <hr>
              <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">Almoços</h2>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Quantidade Normal</label>
                    <div class="control">
                        <input type="int" autocomplete="on" required="required" class="input">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Quantidade Económicas</label>
                    <div class="control">
                        <input type="int" autocomplete="on" required="required" class="input">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <hr/>
          </div>
        </div>
    </section>
    <div class="column is-8 is-offset-2">
      <div class="level">
        <div class="level-left">
          <a class="button is-outlined" type="button">
            <span>Cancelar</span>
          </a>
        </div>
        <div class="level-right">
          <button class="button is-large is-success is-outlined is-link" type="submit">
            <span>Submeter</span>
            <span class="icon is-medium">
              <i class="mdi mdi-forward mdi-36px"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<style>
  .label {
  font-weight: normal;
}
.b-steps .steps .step-items .step-item .step-details .step-title {
  font-size: 1rem;
}
</style>
{% endblock content %}