{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extrahead %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
{% endblock %}
{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>

<!-- TABLE FOR FILTERING -->
<div class=" mb-5 p-5 row">
<div class ="col-3">
	Informações
	</div>

 <div class="table "></div>
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    Nome da Escola
                                    <span class="icon is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                Morada
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th>
                                Cidade
                                <span class="icon is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th>
                                Código Postal
                            <span class="icon is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                     </th>
                        </tr>
                    </thead>
                    <tbody>      
                      <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">{{escola.school.name}} </td>
                        <td data-label="Morada">{{escola.school.address}}</td>
                        <td data-label="Cidade">{{escola.school.city}}</td>
                        <td data-label="CodigoPostal">{{escola.school.zip}}</td>
                        </td>
                      </tr> 
                      <tr class="detail">
                        <td colspan="4">
                            <div class="detail-container"></div>
                        </td>
                      </tr> 
                    </tbody>

                </table>

  <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    Data
                                    <span class="icon is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                Participantes
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            
                        </tr>
                    </thead>

                    <tbody>      
                      <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">{{escola.date}} </td>
                        <td data-label="Morada">{{escola.participant}}</td>
                        </td>
                      </tr> 
                      <tr class="detail">
                        <td colspan="4">
                            <div class="detail-container"></div>
                        </td>
                      </tr> 
                    </tbody>

                </table>

 <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    Número de Estudantes
                                    <span class="icon is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                Sessão
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th style="width: 300px;">
                                Transporte de Universidade
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th style="width: 300px;">
                                Transporte Própio
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            
                        </tr>
                    </thead>
                    {% for diaAberto in inscricoes2 %}
                    <tbody>      
                      <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">{{diaAberto.subscriptionsessionativitiy.n_students}} </td>
                        <td data-label="Morada">{{diaAberto.subscriptionsessionativitiy.session_activity}}</td>
                        <td data-label="Nome">{{diaAberto.subscriptionsessionativitiy.uni_transport}} </td>
                        <td data-label="Morada">{{diaAberto.subscriptionsessionativitiy.own_transport}}</td>
                        </td>
                      </tr> 
                      <tr class="detail">
                        <td colspan="4">
                            <div class="detail-container"></div>
                        </td>
                      </tr> 
                    </tbody>
                    {% endfor %}
                </table>

            </div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>


{% endblock extrajs %}


