
{% extends 'inscricao/inscricao_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block fieldset %}
<fieldset>
<div class="form-card text-left" style="display:none">
<form method="POST" enctype="multipart/form-data">
    <h2 class="fs-title">Informação da Atividade</h2>
    {{ aform|crispy }}
    {% csrf_token %}
    <button type="submit" name="next" class="next action-button" value="Next Step">next</button>
</form>
</div>
<div class="form-card">
    <form method="POST" enctype="multipart/form-data">

    <h2 class="fs-title">Personal Information</h2>
</div>

<input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
<button type="submit" name="next" class="next action-button" value="Next Step">next</button>
</form>
</fieldset>
{% endblock %}