{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load bootstrap4 %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title%}Propor Atividade{% endblock %}

{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<link href="{% static 'css/atividades_wizard.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}
{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>


<div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-10 col-md-9 col-lg-9 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
            <h2><strong>Consultar Inscrição</strong></h2>
            <p>Aqui pode verificar todos os dados da sua inscrição</p>              <div class="row">
                  <div class="col-md-12 mx-0">
                      <form id="msform" action="" method="post">
                        {% csrf_token %}
                          <table>
                          <!-- progressbar -->
                          <ul id="progressbar">
                              <li class="active" id="account"><strong>Escola</strong></li>
                              <li id="personal"><strong>Dados</strong></li>
                              <li id="confirm"><strong>Sessoes</strong></li>
                              <li id="confirm"><strong>Transportes</strong></li>
                              <li id="confirm"><strong>Refeições</strong></li>
                          </ul> <!-- fieldsets -->
                          <div class="table-wrapper">
                            <table class="table has-mobile-cards is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th width="40px"></th>
                                        <th  style="width: 300px;">
                                            <div class="th-wrap">
                                                Nome da Escola
                                                <span class="icon is-small">
                                                    <i class="mdi mdi-menu-up"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th style="width: 300px;">
                                            Morada
                                            <span class="icon is-small">
                                                 <i class="mdi mdi-menu-up"></i>
                                            </span>
                                        </th>
                                        <th>
                                            Cidade
                                            <span class="icon is-small">
                                                <i class="mdi mdi-menu-up"></i>
                                            </span>
                                        </th>
                                        <th>
                                            Código Postal
                                        <span class="icon is-small">
                                                <i class="mdi mdi-menu-up"></i>
                                                 </th>
                                    </tr>
                                </thead>
                                <tbody>      
                                  <tr draggable="false">
                                    <td class="chevron-cell">
                                        <a role="button">
                                            <span class="icon is-expanded">
                                                <i class="mdi mdi-chevron-right mdi-24px"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td data-label="Nome">{{escola.school.name}} </td>
                                    <td data-label="Morada">{{escola.school.address}}</td>
                                    <td data-label="Cidade">{{escola.school.city}}</td>
                                    <td data-label="CodigoPostal">{{escola.school.zip}}</td>
                                    </td>
                                  </tr> 
                                  <tr class="detail">
                                    <td colspan="4">
                                        <div class="detail-container"></div>
                                    </td>
                                  </tr> 
                                </tbody>
            
                            </table>
            
                          {{ wizard.management_form }}
                          {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                              <fieldset>
                              {{ form|crispy }}
                             
                              </fieldset>
                            {% endfor %}
                          {% else %}
                            <div class="text-left">
                              {{ wizard.form|crispy }}
                            </div>
                          {% endif %}
                          </table>
                          {% if wizard.steps.prev %}
                          <button class="next"name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                          <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                          {% endif %}
                          <td><a class="btn btn-sm btn-info"href="{% url 'idnome2' escola.id %}">Continuar</a></td>
                        </td>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>
{% endblock %}