{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load bootstrap4 %}

{% block title%}Tema - apagar{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">
{% bootstrap_javascript jquery='full' %}

{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:theme-list'%}">Tema</a></li>
	<li class="breadcrumb-item active" aria-current="page">Eliminar</li>
{% endblock %}

{% block content_card %}

<div class=" mb-5 pr-5 mb-5">
	<div class="container-fluid ">
		<div class="row">
			<div class="col-xs-12 col-md-8"></div>
				<div class="col-xs-6 col-md-4 text-right">
				</div>
			</div>
			<div class="alert" role="alert">
					<h1 class="text title is-4 text-dark">{{ object.name }}</h1>
					<h3><strong>Atenção!</strong> Deseja eliminar este tema?</h3>
					<form method="POST">
						{% csrf_token %}
						<div class="form-group mt-1 mt-2">
								<a class="button is-dark" href="{% url 'activity:theme-list' %}">Cancelar</a>
								<button class="button is-danger" type="submit">Eliminar</button>
						</div>
					</form>
			</div>
		</div>
	</div>
</div>

<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
