{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load bootstrap4 %}

{% block title%}Tema{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">

{% endblock %}


{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item active" aria-current="page">Temas</li>
{% endblock %}

{% block content_card %}
{% bootstrap_javascript jquery='full' %}

<div class="pr-5 pl-5 pb-5">
<div class="col-9">

    <!-- table for input-->
    <h1 class="title"> Temas </h1>
	{% if can_change%}

	<a id="novo-tema" class="button is-success" style="text-decoration:none;" href="{% url 'activity:theme-create-theme'%}"><i class="fas fa-xs has-text-white pr-1 fa-plus"></i>Adicionar Tema</a>
	{% endif %}
    <section class="">
	{% if themes %}
	<table id="" class="table table-striped mt-3" width="100%">
		<!--header-->
		<thead>
			<tr>
				<th class="all">Nome</th>
				<th class="all">Color</th>
				<th class="all"></th>
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		{% for t in themes %}
			<tr>
            <td>
                {{ t.name }}
            </td>
			<td>
				<span class="tag has-text-white" style="font-weight:bold; width:7rem; background-color: {{t.color}}">{{ t.color }}</span>
			</td>
            <td>
			{% if can_change %}
                <a href="{{ t.pk }}/eliminar"style="float:right"  data-toggle="tooltip" data-placement="top" title="Eliminar" ><i class="text-danger fas fa-trash-alt"></i>
                <a class="mr-2" href="{{ t.pk }}/alterar"  style="float:right" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
			{% endif %}
            </td>

            </tr>
		{% endfor %}
		<!--end loop-->
		</tbody>
	</table>
	{% endif %}
</section>
</div>
</div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>
$(document).ready(()=>{
	 $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock extrajs %}


