{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load bootstrap4 %}

{% block title%}Tema - detalhe{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">

{% endblock %}



{% block content_card %}
{% bootstrap_javascript jquery='full' %}

<div class=" mb-5 p-5">
<h1>Tema</h1>
<p>nome:</p><h4>{{ object.name }}</h4>
<a href="delete" class="button is-danger">delete</a>
<a href="update" class="button is-link">update</a>
</div>
{% endblock %}

