{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Tema - criar{% endblock %}

{% block extrahead %}
	<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">

{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:theme-list'%}">Tema</a></li>
	<li class="breadcrumb-item active" aria-current="page">Criar</li>
{% endblock %}

{% block content_card %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<div class="mb-5 pl-5 container pr-5">
  <h2 class="title mb-5 text-center is-3">Criar novo tema</h2>
  <p class = "text-center">Preencha os campos obrigatórios para criar um novo tema</p>
  <div class="icon-hr mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-swatchbook" aria-hidden="false"></i>
            </span>
        </div>
        <span></span>
    </div>
  <div class="mt-2 pt-2">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% bootstrap_form form %}
      </fieldset>
      <div class="form-group">
        <a class="button is-dark" href="{% url 'activity:theme-list'%}" type="submit">Cancelar</a>
        <button class="button is-success float-right" type="submit">Criar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>

$("form").submit(function() {
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
});
</script>
{% endblock extrajs %}
