{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load bootstrap4 %}

{% block title %}Tema - Alterar{% endblock %}

{% block extrahead %}
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">
{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:theme-list'%}">Tema</a></li>
	<li class="breadcrumb-item active" aria-current="page">Alterar</li>
{% endblock %}

{% block content_card %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<div class="mb-5 pl-5 container pr-5">
  <h2 class="title mb-5 text-center is-3">Alterar Tema</h2>
  <p class = "text-center">Preencha os campos obrigatórios para alterar o tema</p>
  <div class="icon-hr  icon-hr-edit mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-swatchbook" aria-hidden="false"></i>
            </span>
        </div>
        <span></span>
    </div>
  <div class="mt-2 pt-2">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% bootstrap_form form %}
      </fieldset>
      <div class="form-group">
        <a class="button is-dark" href="{% url 'activity:theme-list'%}" type="submit">Cancelar</a>
        <button class="button is-link float-right" type="submit">Alterar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}

<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>

$("form").submit(function() {
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
});
</script>
{% endblock extrajs %}
