{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item active" aria-current="page">Lista de Colaboradores</li>

{% endblock %}
{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>
<!-- TABLE FOR FILTERING -->
<div class=" mb-5 p-5 row">
<div class ="col-3">
    Filtros de Colaborador
    <table cellspacing="5" cellpadding="5" border="0">
        <tbody>
        <tr>
            <div>
                <form method = 'get'>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{myFilter.schedule}} 
                            </div>
                        </div>
                    </div>
                    {% if request.user.administrator %}
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{myFilter.ou}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                {{myFilter.department}}
                            </div>
                        </div>
                    </div>

            </div>                                                                                                           
        </tr>
    </tbody>
    </table>

    <button class = "btn btn-primary" style ="margin-top: 0.5rem;" type = "submit"> Procurar </button>
    </form>
</div>

    
    <div class="col-9">
        <div class="table "></div>
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    Horário
                                </div>
                            </th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                    Nome
                                </div>
                            </th>
                            <th style="width: 300px;">
                                Email
                            </th>
                            <th style="width: 300px;">
                               Departamento

                            </th>
                            <th style="width: 300px;">Tipo de tarefa</th>
                            <th></th>                          
                        </tr>
                    </thead>
                    {% for colaborador in list_colaboradores %}
                    <tbody>      
                      <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button" onclick="">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Horário">{{colaborador.schedule.start_hour | time:"H:i"}} - {{colaborador.schedule.end_hour | time:"H:i"}}</td>
                        <td data-label="Nome">{{colaborador.user.first_name}} {{colaborador.user.last_name}}</td>
                        <td data-label="Email">{{colaborador.user.email}}</td>
                         <td data-label="Departamento">{{colaborador.department.name}}</td>
                         <td class="d-block">
                         {% if colaborador.task_set.all%}
                         {% for tarefa in colaborador.task_set.all %}
                         {% if tarefa.tasktransport %} <p>Transporte</p>{% endif %} {% if tarefa.taskactivity %}<p>Atividade</p> {% endif %} {% if tarefa.taskother %}<p>Outra</p>{% endif %}
                         {% endfor %}
                         {% endif %}
                         </td>
                         <td><a class="btn btn-sm btn-info" href="{% url 'colaborador' colaborador.id %}"><i class="fas fa-info-circle"></i></a></td>
                        <td data-label="//">
                            <div class="//">
                                
                                <div class="column">  
                                    <a id='edit' href="">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="column">    
                                    <input type="hidden" id="del" name="variable" value="">                 
                                    <a onclick="">
                                        <span class="icon is-small">
                                            <i class="mdi mdi-trash-can-outline mdi-24px" style="color: #ff0000"></i>
                                        </span>
                                    </a> 
                                </div>
                                <div class="column"></div>
                                <div class="column"></div> 
                            </div> 
                        </td>                     
                      </tr> 
                    </tbody> 
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>

{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>
{% endblock extrajs %}
