{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}

{% block title %}Configurações do Dia Aberto{% endblock %}

{% block extrahead %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    {% if request.user|is_user_types:"Administrator" %}
    <li class="breadcrumb-item active" aria-current="page">Configuração do Dia Aberto</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">Dia Aberto</li>
    {% endif %}
{% endblock %}

{% block content_card %}
<div class="mb-5 pb-5 pl-5 pr-5">
  {% if request.user|is_user_types:"Administrator" %}
  <h2 class="title is-3">Configurações do Dia Aberto</h2>
  {% else %}
  <h2 class="title is-3">Dia Aberto</h2>
  {% endif %}
  <div class="container border-top mt-2 pt-2">
    <br>
    <h3 class="subtitle is-4">Configuração em falta</h3>
    <br>
    {% if request.user|is_user_types:"Administrator" %}
      {% if request.GET.next %}
      <a class="button is-success is-medium" href="{% url 'config_dia_aberto:config-create' %}?next={{ request.GET.next }}" type="button"><i class="text-white fas fa-plus pr-2"></i>Criar Configuração</a>
      {% else %}
      <a class="button is-success is-medium" href="{% url 'config_dia_aberto:config-create' %}" type="button"><i class="text-white fas fa-plus pr-2"></i>Criar Configuração</a>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
