{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurações do Dia Aberto{% endblock %}

{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<link href="{% static 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link href="{% sass_src 'scss/transports_wizard.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/transports_datepickerinput.scss' %}" rel="stylesheet">
<style type="text/css">
{% if breadcrumb|slugify == 'alterar-configuracao' %}
  #progressbar li.active:before {
    background: #3273dc;
  }
  #progressbar li.active:after {
    background: #3273dc;
  }
{% endif %}
  #progressbar #add:before {
    content: "\f15c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:config' %}">Configuração do Dia Aberto</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li>
{% endblock %}


{% block content_card %}

<div class="row justify-content-center mt-0">
  <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
    <div class="px-0 pb-0 mt-3 mb-3">
      <h2 class="title is-3"><strong>{{ breadcrumb }}</strong></h2>
      <p>Preencha os campos obrigatórios.</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="my-form" method="POST">
            {% csrf_token %}
            <ul id="progressbar">
              <li id="add" class="active">
                <strong></strong>
              </li>
            </ul>
            <h3 class="mb-4">
              <!-- Transporte -->
            </h3>
            <div class="text-left">
              {% bootstrap_form_errors form type='non_fields' %}
              <fieldset class="form-group">
                <legend class="subtitle is-4">Dados</legend>
                {% bootstrap_field form.title %}
                {% bootstrap_field form.description %}
              </fieldset>
              <fieldset class="form-group">
                <legend class="subtitle is-4">Datas Limite</legend>
                {% bootstrap_field form.start_datetime field_class='my_bulma_datetimepicker' %}
                {% bootstrap_field form.end_datetime field_class='my_bulma_datetimepicker' %}
                {% bootstrap_field form.participant_limit_subscription_start_datetime field_class='my_bulma_datetimepicker' %}
                {% bootstrap_field form.participant_limit_subscription_end_datetime field_class='my_bulma_datetimepicker' %}
                {% bootstrap_field form.activity_limit_subscription_start_datetime field_class='my_bulma_datetimepicker' %}
                {% bootstrap_field form.activity_limit_subscription_end_datetime field_class='my_bulma_datetimepicker' %}
              </fieldset>
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <div class="form-group">
              {% if request.GET.next %}
              <a class="button is-dark float-left" href="{{ request.GET.next }}">Cancelar</a>
              {% else %}
              <a class="button is-dark float-left" href="{% url 'config_dia_aberto:config' %}">Cancelar</a>
              {% endif %}
              {% if breadcrumb|slugify == 'criar-configuracao' %}
              <button class="button is-success float-right" type="submit">Criar</button>
              {% else %}
              <button class="button is-link float-right" type="submit">Alterar</button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>
<script>
  var calendars = bulmaCalendar.attach('.my_bulma_datetimepicker input', {
    type: 'datetime',
    color: 'link',
    dateFormat: 'YYYY-MM-DD',
    timeFormat: 'HH:mm',
    lang: 'pt',
    todayLabel: 'Hoje',
    cancelLabel: 'Cancelar',
    clearLabel: 'Limpar',
    validateLabel: 'Selecionar',
  });

  $(document).ready(function() {
    $(".datetimepicker-clear-button").remove();
    $(".datetimepicker-dummy-wrapper").addClass("input-filter-class");
    $(".datetimepicker-dummy-input").css("max-width", "100%");

    // -----------------------

    $('#id_start_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_start_datetime").val($(this).val());
    });

    $('#id_end_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_end_datetime").val($(this).val())
    });

    $('#id_activity_limit_subscription_start_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_activity_limit_subscription_start_datetime").val($(this).val())
    });

    $('#id_activity_limit_subscription_end_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_activity_limit_subscription_end_datetime").val($(this).val())
    });

    $('#id_participant_limit_subscription_start_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_participant_limit_subscription_start_datetime").val($(this).val())
    });

    $('#id_participant_limit_subscription_end_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_participant_limit_subscription_end_datetime").val($(this).val())
    });


    // -----------------------------


    $('label[for="id_start_datetime"]')
      .parent()
      .find($(".invalid-feedback"))
      .css("display", "block")
      .appendTo($('label[for="id_end_datetime"]').parent());

    $('label[for="id_end_datetime"]')
      .parent()
      .find($(".invalid-feedback"))
      .css("display", "block")
      .appendTo($('label[for="id_end_datetime"]').parent());

    $('label[for="id_activity_limit_subscription_start_datetime"]')
      .parent()
      .find($(".invalid-feedback"))
      .css("display", "block")
      .appendTo($('label[for="id_activity_limit_subscription_start_datetime"]').parent());

    $('label[for="id_activity_limit_subscription_end_datetime"]')
      .parent()
      .find($(".invalid-feedback"))
      .css("display", "block")
      .appendTo($('label[for="id_activity_limit_subscription_end_datetime"]').parent());

    $('label[for="id_participant_limit_subscription_start_datetime"]')
      .parent()
      .find($(".invalid-feedback"))
      .css("display", "block")
      .appendTo($('label[for="id_participant_limit_subscription_start_datetime"]').parent());

    $('label[for="id_participant_limit_subscription_end_datetime"]')
      .parent()
      .find($(".invalid-feedback"))
      .css("display", "block")
      .appendTo($('label[for="id_participant_limit_subscription_end_datetime"]').parent());
  });
</script>
{% endblock extrajs %}
