{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Atualizar as Configurações das Refeições do Dia Aberto{% endblock %}

{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:meal-list' %}">Refeições</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:config-meal-list' %}">Configuração do Dia Aberto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nova Configuração</li>
{% endblock %}

{% block content_card %}
<div class="mb-5 pb-5 pl-5 pr-5 col-xs-12 col-sm-12 col-md-12 col-lg-6">
  <h2 class="title is-3">Configurações das Refeições do Dia Aberto</h2>
  <div class="container-fluid border-top mt-2 pt-2">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="subtitle is-4">Preços</legend>
        {% bootstrap_form form %}
      </fieldset>
      <div class="form-group">
        <a class="button is-dark" href="../">Cancelar</a>
        <button class="button is-link" type="submit">Submeter</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
