{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}

{% block title %}Configurações do Dia Aberto{% endblock %}

{% block extrahead %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    {% if request.user|is_user_types:"Administrator" %}
    <li class="breadcrumb-item active" aria-current="page">Configuração do Dia Aberto</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">Dia Aberto</li>
    {% endif %}
{% endblock %}

{% block content_card %}
<div class="mb-5 pb-5 pl-5 pr-5">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-9">
      {% if request.user|is_user_types:"Administrator" %}
      <h2 class="title is-3">Configurações do Dia Aberto</h2>
      {% else %}
      <h2 class="title is-3">Dia Aberto</h2>
      {% endif %}
    </div>
    {% if request.user|is_user_types:"Administrator" %}
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a class="button is-link is-medium" href="{% url 'config_dia_aberto:config-update' %}" type="button"><i class="text-white fas fa-pencil-alt pr-2"></i>Alterar Configuração</a>
    </div>
    {% endif %}
  </div>
  <div class="border-top mt-2 pt-2 ml-5 mr-5">
    <h3 class="subtitle is-4">Dados</h3>
    <table class="table table-striped table-sm col-6">
      <tbody>
        <tr>
          <th scope="row">Título:</th>
          <td>{{ config.title }}</td>
        </tr>
        <tr>
          <th scope="row">Descrição:</th>
          <td>{{ config.description }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="subtitle is-4">Datas Limite</h3>
    <table class="table table-striped table-sm col-8">
      <tbody>
        <tr>
          <th scope="row">Data de início do Dia Aberto:</th>
          <td>{{ config.start_datetime }}</td>
        </tr>
        <tr>
          <th scope="row">Data de fim do Dia Aberto:</th>
          <td>{{ config.end_datetime }}</td>
        </tr>
        <tr>
          <th scope="row">Data de início da inscrição de participantes:</th>
          <td>{{ config.participant_limit_subscription_start_datetime }}</td>
        </tr>
        <tr>
          <th scope="row">Data de fim da inscrição de participantes:</th>
          <td>{{ config.participant_limit_subscription_end_datetime }}</td>
        </tr>
        <tr>
          <th scope="row">Data de início da proposição de atividades:</th>
          <td>{{ config.activity_limit_subscription_start_datetime }}</td>
        </tr>
        <tr>
          <th scope="row">Data de fim da proposição de atividades:</th>
          <td>{{ config.activity_limit_subscription_end_datetime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container mt-5 pt-2">
    <div class="row">
      <div class="col">
        <h2 class="title is-4">Contactos</h2>
      </div>
      {% if request.user|is_user_types:"Administrator" %}
      <div class="col-8">
        <a class="button is-success" href="{% url 'config_dia_aberto:contact-create' %}" type="button"><i class="text-white fas fa-plus fa-sm pr-2"></i>Criar Contacto</a>
      </div>
      {% endif %}
    </div>
    <div class="container">
      <div class="row mt-3 mb-2">
        <div class="col">
          <h4 class="subtitle">Telefone</h4>
        </div>
      </div>
      {% if contacts_telephone %}
        <table class="table table-striped table-sm col-8">
          {% for contact_telephone in contacts_telephone %}
            <tr>
              <td style="width: 85%">{{ contact_telephone.telephone }}</td>
              {% if request.user|is_user_types:"Administrator" %}
              <td>
                <a href="{% url 'config_dia_aberto:contact-telephone-update' contact_telephone.pk %}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                <a href="{% url 'config_dia_aberto:contact-telephone-delete' contact_telephone.pk %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i></a>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Ainda não foram adicionados contactos telefónicos.</p>
      {% endif %}
    </div>
    <div class="container">
      <div class="row mt-3 mb-2">
        <div class="col">
          <h4 class="subtitle">E-mail</h4>
        </div>
      </div>
      {% if contacts_email %}
        <table class="table table-striped table-sm col-8">
          {% for contact_email in contacts_email %}
            <tr>
              <td style="width: 85%">{{ contact_email.email }}</td>
              {% if request.user|is_user_types:"Administrator" %}
              <td>
                <a href="{% url 'config_dia_aberto:contact-email-update' contact_email.pk %}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                <a href="{% url 'config_dia_aberto:contact-email-delete' contact_email.pk %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i></a>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Ainda não foram adicionados contactos por correio eletrónico.</p>
      {% endif %}
    </div>
    <div class="container">
      <div class="row mt-3 mb-2">
        <div class="col">
          <h4 class="subtitle">Localização</h4>
        </div>
      </div>
      {% if contacts_locale %}
        <table class="table table-striped table-sm col-8">
          {% for contact_locale in contacts_locale %}
            <tr>
              <td style="width: 85%">
              {% for num, region in pt_regions %}
                {% if num == contact_locale.region  %}
                  {{ region }}, {{ contact_locale.address }}
                {% endif %}
              {% endfor %}
              </td>
              {% if request.user|is_user_types:"Administrator" %}
              <td>
                <a href="{% url 'config_dia_aberto:contact-locale-update' contact_locale.pk %}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                <a href="{% url 'config_dia_aberto:contact-locale-delete' contact_locale.pk %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i></a>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Ainda não foram adicionadas localizações.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock extrajs %}
