{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}

{% block title %}Configurar definições das Refeições do Dia Aberto{% endblock %}

{% block extrahead %}
{% endblock %}

{% block path %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:meal-list' %}">Refeições</a></li>
  <li class="breadcrumb-item active" aria-current="page">Configuração das Refeições</li>
{% endblock %}

{% block content_card %}
<div class="mb-5  pl-5 pr-5 pb-5">
  <div class="row">
    <div class="col-9">
      <h2 class="title is-3">Configurações das Refeições do Dia Aberto</h2>
    </div>
    {% if meal %}
    {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
    <div class="col-3">
      <a class="button is-link is-medium" href="{% url 'config_dia_aberto:config-meal-update' %}" type="button"><i class="text-white fas fa-pencil-alt pr-2"></i>Alterar Configuração</a>
    </div>
    {% endif %}
  </div>
  <div class="container-fluid border-top mt-2 pt-2">
   <h3 class="subtitle is-4">Preços das Refeições </h3>
    <table class="table table-striped table-sm col-6">
      <tbody>
        <tr>
            <td>Preço normal para docente</td>
            <td>{{ meal.normal_prof_price }} </td>
        </tr>
        <tr>
            <td>Preço normal para estudante</td>
            <td>{{ meal.normal_prof_price }} </td>
        </tr>
        <tr>
            <td>Preço económico para docente</td>
            <td>{{ meal.eco_prof_price }} </td>
        </tr>
        <tr>
            <td>Preço económico para estudante</td>
            <td>{{ meal.eco_prof_price }} </td>
        </tr>
      </tbody>
    </table>
    </div>
    {% else %}
    </div>
       <br>
    <h3 class="subtitle is-4">Configuração em falta</h3>
    <br>
    {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
      <a class="button is-success is-medium" href="{% url 'config_dia_aberto:config-meal-create' %}" type="button">Criar Configuração</a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
