{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurações do Dia Aberto{% endblock %}

{% block extrahead %}
{{ form.media.css }}
<style>
  .intl-tel-input {
    display: block !important;
  }
</style>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link href="{% sass_src 'scss/transports_wizard.scss' %}" rel="stylesheet">
<style type="text/css">
  #progressbar li.active:before {
    background: #3273dc;
  }
  #progressbar li.active:after {
    background: #3273dc;
  }
  #progressbar #add:before {
    content: "\f095";
  }
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:config' %}">Configuração do Dia Aberto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Alterar Contacto Telefónico</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
  <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
    <div class="px-0 pb-0 mt-3 mb-3">
      <h2 class="title is-3"><strong>Alterar Contacto Telefónico</strong></h2>
      <p>Preencha os campos obrigatórios.</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="my-form" method="POST">
            {% csrf_token %}
            <ul id="progressbar">
              <li id="add" class="active">
                <strong></strong>
              </li>
            </ul>
            <h5 class="subtitle is-4">
              <!-- Alterar Contacto Telefónico -->
            </h5>
            <div class="text-left">
            <fieldset class="form-group">
              <!-- <legend class="subtitle is-4">Alterar Contacto Telefónico</legend> -->
              {% bootstrap_form form %}
            </fieldset>
            </div>
            <div class="form-group">
              <a class="button is-dark float-left" href="{% url 'config_dia_aberto:config' %}">Cancelar</a>
              <button class="button is-link float-right" type="submit">Alterar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{{ form.media.js }}
{% endblock extrajs %}
