{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurações do Dia Aberto{% endblock %}

{% block extrahead %}
{{ contact_telephone_form.media.css }}
<style>
  .intl-tel-input {
    display: block !important;
  }
</style>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link href="{% sass_src 'scss/transports_wizard.scss' %}" rel="stylesheet">
<style type="text/css">
  #progressbar #add:before {
    content: "\f095";
  }
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:config' %}">Configuração do Dia Aberto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Criar Contacto</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
  <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
    <div class="px-0 pb-0 mt-3 mb-3">
      <h2 class="title is-3"><strong>Criar Contacto</strong></h2>
      <p>Preencha os campos obrigatórios.</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="my-form" method="POST">
            {% csrf_token %}
            <ul id="progressbar">
              <li id="add" class="active">
                <strong></strong>
              </li>
            </ul>
            <h3 class="mb-4">
              <!-- Transporte -->
            </h3>
            <div class="text-left">
              <!-- <legend class="subtitle is-4">Adicionar Contacto</legend> -->
              <fieldset class="form-group container">
                {% bootstrap_field contact_form.contact_type label_class="row" %}
              </fieldset>
              <fieldset class="form-group" id="contact_telephone_form">
                {% bootstrap_form contact_telephone_form %}
              </fieldset>
              <fieldset class="form-group" id="contact_email_form">
                {% bootstrap_form contact_email_form %}
              </fieldset>
              <fieldset class="form-group" id="contact_locale_form">
                {% bootstrap_form contact_locale_form %}
              </fieldset>
            </div>
            <div class="form-group">
              <a class="button is-dark float-left" href="{% url 'config_dia_aberto:config' %}">Cancelar</a>
              <button class="button is-success float-right" type="submit" id="form_submit">Criar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{{ contact_telephone_form.media.js }}

<script>
function showCorrectForm() {
    let radioValue = $("input[name='contact_type']:checked").val();
    $("#contact_telephone_form").hide();
    $("#contact_email_form").hide();
    $("#contact_locale_form").hide();
    switch (radioValue) {
        case 'TELEPHONE':
            $("#contact_telephone_form").show();
            break;
        case 'EMAIL':
            $("#contact_email_form").show();
            break;
        case 'LOCALE':
            $("#contact_locale_form").show();
            break;
    }
}

$(document).ready(function() {
    showCorrectForm();
    $("input[type='radio']").click(showCorrectForm);

    $("#form_submit").click(function() {
        let radioValue = $("input[name='contact_type']:checked").val();
        switch (radioValue) {
            case 'TELEPHONE':
                $("#contact_email_form").empty();
                $("#contact_locale_form").empty();
                break;
            case 'EMAIL':
                $("#contact_telephone_form").empty();
                $("#contact_locale_form").empty();
                break;
            case 'LOCALE':
                $("#contact_telephone_form").empty();
                $("#contact_email_form").empty();
                break;
        }
    });
});
</script>
{% endblock extrajs %}
