{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurações do Dia Aberto{% endblock %}

{% block extrahead %}
<link href="{% sass_src 'scss/transports_wizard.scss' %}" rel="stylesheet">
<style type="text/css">
  #progressbar li.active:before {
    background: #f14668;
  }
  #progressbar li.active:after {
    background: #f14668;
  }
  #progressbar #add:before {
    content: "\f095";
  }
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:config' %}">Configuração do Dia Aberto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Eliminar Contacto Localização</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
  <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
    <div class="px-0 pb-0 mt-3 mb-3">
      <h2 class="title is-3"><strong>Eliminar Contacto Localização</strong></h2>
      <!-- <p>&nbsp;</p> -->
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="my-form" method="POST">
            {% csrf_token %}
            <ul id="progressbar">
              <li id="add" class="active">
                <strong></strong>
              </li>
            </ul>
            <h3 class="mb-4">
              <!-- Transporte -->
            </h3>
            <div>
              <fieldset class="form-group">
                <!-- <legend class="subtitle is-5">Eliminar Contacto Localização</legend> -->
                <h5 class="subtitle is-5">Tem a certeza que quer eliminar o seguinte contacto localização?</h5>
                <p>{{ object.region }}, {{ object.address }}</p>
                <br>
              </fieldset>
            </div>
            <div class="form-group">
              <a class="button is-dark float-left" href="{% url 'config_dia_aberto:config' %}">Cancelar</a>
              <button class="button is-danger float-right" type="submit">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
