{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}


{% block title %}Refeições{% endblock title %}




{% block extrahead %}
{% endblock extrahead %}






{% block path %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Refeições</li>
{% endblock path %}








{% block content_card %}
<div id="meals-list" class="mb-5 pb-5 pl-5 pr-5">
  <h2 class="title is-3">Refeições</h2>
  <hr>
  <ul>
    <h4>O período do dia aberto ainda não está definido</h4>
    {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
      As datas ainda não estão configuradas. <a href="{% url 'config_dia_aberto:config' %}">Clique aqui para fazer as configurações</a>.
    {% endif %}
  </ul>
</div>
{% endblock %}







<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
