{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}
{% load meal_template_tags %}

{% block title %}Refeições{% endblock title %}




{% block extrahead %}
{% endblock extrahead %}





{% block path %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Refeições</li>
{% endblock path %}






{% block content_card %}
<div id="meals-list" class="mb-5 pb-5 pl-5 pr-5">
  <h2 class="title is-3">Refeições</h2>
  <hr>

  <a class="button is-link mb-5" href="{% url 'config_dia_aberto:config-meal-list' %}">Preços</a>
  <ul>
    {% for object in object_list|dictsort:"date" %}
      {% if object.date >= start_datetime and object.date <= end_datetime or request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
        <li data-option-type="" data-menuID="{{ object.id }}" {% if object.date < start_datetime or object.date > end_datetime %}class="alert alert-warning"{% endif %}>

          {% comment %} if meal is out of date range {% endcomment %}
          {% if object.date < start_datetime or object.date > end_datetime %}
          <i class="fas fa-exclamation-triangle"></i>
          <strong> A data desta refeição está fora do período do dia aberto. Esta refeição não será mostrada ao publico.</strong>
          {% endif %}

          <h3 class="title is-4 right-buttons-container">
            <span>
              {{object.date}} ({{object.date | date:"l"}})
            </span>

            {% comment %} admin controls {% endcomment %}
            <span>
              {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
                <span class="controls">
                  <a href="{% url 'config_dia_aberto:meal-update' pk=object.id %}">
                    <i class="fas fa-pencil-alt">alterar</i>
                  </a>
                  <a data-toggle="modal" data-target="#deleteConfirmModal">
                    <i style="color: #da3d3d" class="fas fa-trash-alt">eliminar</i>
                  </a>
                </span>
              {% endif %}
            </span>
          </h3>

          <ul>
            {% for type in all_meal_types %}
              {% if object.meal_set.all|contains_meal_type:type %}
                <button class="type_button button" style="display:block;width:100%; text-align:left" data-toggle="collapse" href="#{{ type }}-{{object.date.day}}-{{object.date.month}}-{{object.date.year}}" role="button" aria-expanded="false" aria-controls="{{ type }}-{{object.date.day}}-{{object.date.month}}-{{object.date.year}}">
                  <i style="min-width: 32px;" class="{{type|meal_type_to_fa_icon}}"></i> {{type|meal_type_to_label}}
                  <i class="fas fa-chevron-right"></i>
                </button>
                <div id="{{ type }}-{{object.date.day}}-{{object.date.month}}-{{object.date.year}}" class="collapse">
                  <div class="card-body">
                    {% for meal in object.meal_set.all %}
                      {% if meal.meal_type == type %}
                        <strong>{{meal.name}}</strong> - {{meal.description}}<br>
                      {% endif %}
                    {% endfor%}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
    <style>
      .type_box {
        padding: 2rem;
        background: #f9f9f9;
        border-radius: 0 0 10px 10px;
      }
      .type_box > div {
        margin-left: 2rem;
      }
      .type_button i {
        text-align: center;
        vertical-align: sub;
      }
      /* .type_button i:last-child {
        transform: rotate(90deg);
      } */
      .type_button i:last-child {
        transform: rotate(0);
        float: right;
        transition: transform ease 300ms;
      }
      .type_button.expanded i:last-child {
        transform: rotate(90deg);
      }
    </style>
    <script>
      // const list_of_stuff = document.querySelectorAll('.type_box');
      // list_of_stuff.forEach(e => {
      //   e.hidden = true;
      // });
      // list_of_stuff[0].hidden = false;

      const type_buttons = document.getElementsByClassName('type_button');

      console.log(type_buttons);

      function toggle_type_btn() {
        this.classList.toggle("expanded");
      }

      for (const btn of type_buttons) {
        btn.addEventListener('click', toggle_type_btn);
      }

    </script>
  </ul>
  {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
  <a href="{% url 'config_dia_aberto:meal-create' %}" id="addMealBtn" class="btn addBtn" {% if daysRange <= menusAddedCount %}style="display: none"{% endif %}>
    <i style="opacity: 1;" class="fas fa-2x fa-plus"></i>
    <span style="margin: .5em 1em;" class="align-middle">
      Adicionar Refeição
    </span>
  </a>
  <style>
    .addBtn {
      display: flex;
      width: 100%;
      align-items: center;
      background: #28a745;
    }
    .addBtn * {
      color: white;
    }
  </style>
  {% endif %}
</div>

<!-- TODO: move this to a (s)css file -->
<style>
  /* #meals-list h3 {
    display: flex;
    flex-direction: row;
  } */
  #meals-list ul {
    list-style: none;
  }
  #meals-list li {
    line-height: 1.6;
  }
  #meals-list > ul > li {
    margin-bottom: 36px;
    padding-bottom: 36px;

    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  /* #meals-list .controls {
    flex-grow: 1;
    text-align: right;
  }
  @media (max-width: 520px) {
    #meals-list h3 {
      flex-direction: column;
    }

    #meals-list .controls {
      text-align: left;
    }
  } */


  #meals-list .controls > * {
    padding: 3px;
  }
  #meals-list .controls a i {
    font-size: 16px;
  }
  #meals-list .controls a {
    text-decoration: none !important;
    cursor: pointer;
  }
  #meals-list .controls a:last-child i {
    color: #da3d3d !important;
  }
  /* #meals-list span {
    float: right;
  } */

</style>
{% endblock content_card %}






{% block modals %}
{% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
  <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmar apagar refeição</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem a certeza que quer apagar esta refeição</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
          <button id="confirmDeleteMealBtn" type="button" class="btn btn-danger" data-dismiss="modal">Apagar refeição</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock modals %}








<!--extra js-->
{% block extrajs %}
<script>
  var NO_MEALS_MSG = "Não existem ainda refeições disponíveis";
</script>
<script>
  const mealUL = document.querySelector('#meals-list > ul')

  function setNoMealsLabel() {
    if (mealUL.childElementCount == 0) {
      const h4 = document.createElement('h4');
      h4.innerHTML = "<h2 class=\"title is-5\">" + NO_MEALS_MSG + "</h2><br>";
      mealUL.append(h4);
    }
  }

  setNoMealsLabel();
</script>




{% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
<input type="hidden" name="{{ csrf_token }}">
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script>
  var MAX_MEALS = {{ daysRange }};
  var MEALS_BASE_URL_PATH = "{% url 'config_dia_aberto:meal-list' %}";
</script>
<script>
  // TEMP move to file
  // TODO wrap self-invoking functions

  const mealMenuItems = new Set(document.querySelectorAll('#meals-list > ul > li'));
  let selectMeal = null;

  function deleteMeal(mealItem) {
    const xhr = new XMLHttpRequest();

    xhr.open('DELETE', MEALS_BASE_URL_PATH + mealItem.dataset.menuid + "/eliminar/");
    xhr.setRequestHeader('X-CSRFToken', Cookies.get('csrftoken'));

    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        switch (xhr.status) {
          case 200:
            mealMenuItems.delete(mealItem);
            mealItem.remove();
            setNoMealsLabel();

            // one meal is removed so another one can be created
            if (mealMenuItems.size < MAX_MEALS) {
              addMealBtn.style.display = '';
            }
            break;

          case 401:
            let nextPath = window.location.pathname.substr(1);
            if (nextPath[0] != '/') nextPath = '/' + nextPath;

            window.location.replace("/login/?next=" + nextPath);
            break;

          case 403:
            if (!Cookies.get('csrftoken')) {
              location.reload();
            }
            break;

          case 423:
            location.reload();
            break;

          case 404:
          default:
            console.error("other errors", xhr.status);
            // other errors
            break;

        }
      }
    };

    xhr.send();
  }




  mealMenuItems.forEach(mealMenu => {
    const ul = mealMenu.querySelector("ul");
    const items = [...ul.children];
    // debugger;

    mealMenu.querySelectorAll('a')[1].addEventListener('click', event => {
      selectMeal = mealMenu;
    });
  });

  document.getElementById('confirmDeleteMealBtn').addEventListener('click', () => {
    deleteMeal(selectMeal);
  });

</script>
{% endif %}
{% endblock extrajs %}
