{% extends 'inscricao/base_with_container.html' %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% load crispy_forms_tags %}


{% block title %}{{titleMsg}}{% endblock title%}





{% block extrahead %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
  <link href="{% static 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
{% endblock extrahead %}





{% block path %}
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:meal-list' %}">Refeições</a></li>
  {% if initialData.mealOptions %}
    <li class="breadcrumb-item active" aria-current="page">Alterar</li>
  {% else %}
    <li class="breadcrumb-item active" aria-current="page">Criar</li>
  {% endif%}
{% endblock path %}






{% block content_card %}
<div>
  {% if messages %}
  <ul class="ml-5 messages">
    {% for message in messages %}
      <span id="message_container" {% if message.tags %} class="text-success {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div class="mb-5 pb-2">
  <div class="container col-11 col-sm-9 col-md-7 col-lg-6 p-0 mb-2">
    <h2 class="text-center"><strong>{{formTitleMsg}}</strong></h2>
    <p class="text-center">Preencha os campos obrigatórios</p>
    <div class="icon-hr">
      <span></span>
      <div>
        <div>
          <span>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <span></span>
    </div>
  <div class="container mt-2 pt-2">
    <fieldset id="mealsFormTemplate" class="form-group">
      <hr>
      <a class="delete-btn float-right">
        <i style="color: #da3d3d" class="fas fas-big fa-2x fa-times"></i>
      </a>
      {{ meal_form|crispy }}
    </fieldset>

    {% if initialData.mealOptions %}
    <div id="initialOptions">
      {% for meal in initialData.mealOptions %}
        <div>
          <span>{{ meal.meal_type }}</span>
          <span>{{ meal.name }}</span>
          <span>{{ meal.description }}</span>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {% comment %} {{ form|crispy }} {% endcomment %}
        {% bootstrap_field form.date field_class='my_bulma_datetimepicker' %}
      </fieldset>
      <div id="meals">
        <h3>Opções</h3>
        <div><!-- meal forms go here --></div>
        <button id="addMealBtn" class="btn addBtn">
          <i style="opacity: 1" class="fas fa-2x fa-plus"></i>
          <span style="margin: .5em 1em;" class="align-middle">
            Adicionar opção
          </span>
        </button>
      </div>
      <div class="form-group">
        <a href="{% url 'config_dia_aberto:meal-list' %}" class="button is-dark float-left">cancelar</a>
        <button class="button is-link float-right" type="submit">{{submitBtnMsg}}</button>
      </div>
    </form>
    <a id="deleteModalCaller" style="display: none;" data-toggle="modal" data-target="#deleteConfirmModal">caller2</a>
  </div>
</div>
<style>
  #meals {
    padding: 10px;
    border-radius: .5rem;
    background: #f8f9fa;
    margin-bottom: 50px;
  }

  #mealsFormTemplate, #initialOptions {
    display: none;
  }

  .addBtn {
    display: flex;
    width: 100%;
    align-items: center;
    background: #28a745;
  }
  .addBtn * {
    color: white;
  }

  a i {
    cursor: pointer;
  }

  .bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #ee5933;
  }
</style>
{% endblock content_card %}






{% block modals %}
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar apagar opção</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta opção contem elementos preenchidos. Tem a certeza que a quer apagar.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
        <button onclick="deleteMeal(selectedMealToDelete)" type="button" class="btn btn-danger" data-dismiss="modal">Apagar opção</button>
      </div>
    </div>
  </div>
</div>
{% endblock modals %}







<!--extra js-->
{% block extrajs %}
<script>
  var INITIAL_DATE = {% if initialData.mealDate %}"{{ initialData.mealDate }}"{% else %}""{% endif %};
  var START_DATE = "{{ start_datetime }}";
  var END_DATE = "{{ end_datetime }}";
  var DISABLED_DAYS = [{% for date in disabled_days %}"{{date}}",{% endfor %}];
  var TO_UPDATE_DATE = "{{to_update_date}}";
</script>
<script>
  const meals = document.querySelector('#meals > div');
  const meals_template = document.getElementById('mealsFormTemplate');
  const deleteModalCaller = document.getElementById('deleteModalCaller');
  let selectedMealToDelete = null;

  function deleteMeal(meal) {
    meal.remove();
    if (meals.childElementCount === 0) {
      const newForm = addMealForm();
      newForm.deleteBtnRef.hidden = true;
    }

    // if after delete one form stand alone then, if it doesn't contain data, the delete button is hidden
    else if (meals.childElementCount === 1 && !formContainsData(meals.children[0])) {
      meals.children[0].deleteBtnRef.hidden = true;
    }
  }

  function formContainsData(form) {
    for (const input of form.elements) {
      if (input.value) return true;
    }
    return false;
  }

  function mealFormOnchangeHandler() {
    this.deleteBtnRef.hidden = meals.childElementCount === 1 && !formContainsData(this);
  }

  //set delete button action
  function deleteBtnHandler(event) {
    if (formContainsData(this)) {
      selectedMealToDelete = this;
      deleteModalCaller.click();
      return;
    }

    if (meals.childElementCount > 1) {
      deleteMeal(this);
    } else {
      // TODO add error msg
      console.error("a menu must have at least 1 meal");
    }
  }

  document.getElementById('addMealBtn').addEventListener('click', function(event) {
    const newForm = addMealForm();
    event.preventDefault();
    event.stopPropagation();
    this.blur();
    newForm.scrollIntoView()
  });

  function addMealForm(data) {
    const newForm = meals_template.cloneNode(true);

    newForm.removeAttribute('id');

    // create reference from form to self delete button
    newForm.deleteBtnRef = newForm.getElementsByClassName('delete-btn')[0];

    // add delete button action to meal forms
    newForm.deleteBtnRef.onclick = deleteBtnHandler.bind(newForm);

    newForm.onchange = mealFormOnchangeHandler.bind(newForm);

    // hide delete button if is going to be the only one
    // note: since its created here it will contain no data, so formContainsData() verification is useless
    if (meals.childElementCount === 0 && !data) {
      newForm.deleteBtnRef.hidden = true;
    }
    else if (meals.childElementCount === 1) {
      // now that the first form is not alone it can be deleted (even if it doesn't contain data)
      meals.children[0].deleteBtnRef.hidden = false;
    }

    // populate form with data if any
    if (data) {
      const formData = initialOptions.children[meals.childElementCount];
      for (let i = 0; i < newForm.elements.length; i++) {
        newForm.elements[i].value = formData.children[i].innerText;
      }
    }


    meals.append(newForm);
    return newForm;
  }

  const initialOptions = document.getElementById('initialOptions');

  if (initialOptions) {
    for (const optionData of initialOptions.children) {
      addMealForm(optionData);
    }
  } else {
    addMealForm();
  }
</script>

<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>
<script>
  var calendars = bulmaCalendar.attach('.my_bulma_datetimepicker input', {
    type: 'date',
    color: 'link',
    dateFormat: 'YYYY-MM-DD',
    timeFormat: 'HH:mm',
    startDate: TO_UPDATE_DATE,
    minDate: START_DATE,
    maxDate: END_DATE,
    disabledDates: DISABLED_DAYS,
    lang: 'pt',
    todayLabel: 'Hoje',
    cancelLabel: 'Cancelar',
    clearLabel: 'Limpar',
    validateLabel: 'Selecionar',
  });

  $(document).ready(function() {
    $(".datetimepicker-clear-button").remove();
    const input = document.getElementsByClassName('my_bulma_datetimepicker')[0].querySelector("input");
    if (!input.value) {
      input.value = TO_UPDATE_DATE;
    }
  });
</script>
{% endblock extrajs %}
