{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}

{% block title %}Transportes{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% static 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link href="{% sass_src 'scss/transports_datepickerinput.scss' %}" rel="stylesheet">
<style type="text/css">
  select.my-empty {
    color: rgb(170, 170, 170) !important;
  }
  input.my-filter-input::placeholder {
    color: rgb(150, 150, 150);
    opacity: 0.8 !important;
  }
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Transportes</li>
{% endblock %}

{% block content_card %}
<div class="mb-5 pb-5">
  <h2 class="pl-5 pr-5 title is-3">Transportes</h2>
  <div class="border-top mt-2 pt-2 ml-5 mr-5">
    <div class="row">
    <div class="col-sm-12 col-lg-3 mb-4 menu">
      <p class="menu-label"> Filtros Transporte</p>
      <ul class="menu-list">

        <div class="field">
          <div class="autocomplete control">
            <div class="control has-icons-left is-clearfix">
              <input id="nameIdInputFilter" class="input my-filter-input" type="text" autocomplete="off" placeholder="Identificador">
              <span class="icon is-left">
                <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <span class="select is-fullwidth">
              <select id="fromSelectFilter" class="my-empty" autocomplete="off">
                <option disabled="disabled" value="" hidden="hidden" selected="selected">Origem</option>
                <option value="empty"></option>
                {% for location in locations %}
                  <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
              </select>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="control is-expanded">
            <span class="select is-fullwidth">
              <select id="destinationSelectFilter" class="my-empty" autocomplete="off">
                <option disabled="disabled" value="" hidden="hidden" selected="selected">Destino</option>
                <option value="empty"></option>
                {% for location in locations %}
                  <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
              </select>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="autocomplete control">
            <div class="control is-clearfix">
              <input id="dayInputFilter" class="input" type="date" autocomplete="off" placeholder="Dia de partida">
            </div>
          </div>
        </div>

        {% if request.user|is_user_types:"Administrator" %}
        <div class="field">
          <div class="control is-expanded">
            <span class="select is-fullwidth">
              <select id="statusSelectFilter" class="my-empty" autocomplete="off">
                <option disabled="disabled" value="" hidden="hidden" selected="selected">Estado</option>
                <option value="empty"></option>
                <option value="Por publicar">Por publicar</option>
                <option value="Publicado">Publicado</option>
              </select>
            </span>
          </div>
        </div>
        {% endif %}
      <li>
        <button id="clearFilter" class="button is-danger"><i class="fas has-text-white pr-2 fa-md fa-times"></i>Limpar Filtros</button>
      </li>
      </ul>
    </div>
    <div class="col-sm-12 col-lg-9">
    {% if request.user|is_user_types:"Administrator" %}
    <div class="row mb-4">
      <div class="col">
        {% if config %}
          <a class="button is-success" href="{% url 'config_dia_aberto:transport-create' %}" type="button"><i class="text-white fas fa-plus fa-sm pr-2"></i>Criar Transporte</a>
        {% else %}
          <a class="button is-success" href="{% url 'config_dia_aberto:config' %}?next={{ request.path|urlencode }}" type="button"><i class="text-white fas fa-plus fa-sm pr-2"></i>Criar Transporte</a>
        {% endif %}
        <a class="button" href="{% url 'config_dia_aberto:transport-publish' %}" type="button"><i class="fas fa-file-import fa-sm pr-2"></i>Publicar Transportes</a>
      </div>
    </div>
    {% endif %}
    <section class="container mx-0 table-section">
      <table id="transport" class="display" style="width:100%">
        <thead>
          <tr>
            <th class="all" scope="col">Identificador</th>
            <th class="all" scope="col">Tipo</th>
            <th class="all" scope="col">Origem</th>
            <th class="all" scope="col">Destino</th>
            <th class="all" scope="col">Horário de Partida</th>
            {% if request.user|is_user_types:"Administrator" %}
              <th class="all" scope="col">Estado</th>
              <th class="all" scope="col"></th>
              <th class="all" scope="col"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
          <tr>
            <th scope="row">{{ object.name_identifier }}</th>
            <td>{{ object.transport_type.capitalize }}</td>
            <td>{{ object.from_location }}</td>
            <td>{{ object.destination_location }}</td>
            <td>{{ object.departure_datetime|date:"Y-m-d H:i" }}</td>
            {% if request.user|is_user_types:"Administrator" %}
              <td>
                {% if object.status == 'por publicar' %}
                  <span class="tag is-warning" style="width: 5rem; font-size: small;">
                    {{ object.status.capitalize }}
                  </span>
                {% elif object.status == 'publicado' %}
                  <span class="tag is-success" style="width: 5rem; font-size: small;">
                    {{ object.status.capitalize }}
                  </span>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'config_dia_aberto:transport-update' object.pk %}" data-toggle="tooltip" data-placement="top" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
              </td>
              <td>
                <a href="{% url 'config_dia_aberto:transport-delete' object.pk %}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="text-danger fas fa-trash-alt"></i></a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
    </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    var calendars = bulmaCalendar.attach('#dayInputFilter', {
      type: 'date',
      color: 'link',
      dateFormat: 'YYYY-MM-DD',
      timeFormat: 'HH:mm',
      lang: 'pt',
      todayLabel: 'Hoje',
      cancelLabel: 'Cancelar',
      clearLabel: 'Limpar',
      validateLabel: 'Selecionar',
      labelFrom: 'Dia de Partida'
    });

    var transportTable = $('#transport').DataTable({
      // responsive: true,
      {% if request.user|is_user_types:"Administrator" %}
      columnDefs: [
                    {
                      "targets": [6, 7],
                      "orderable": false
                    },
                    {
                      "targets": [3],
                      "width": "15%"
                    }
                  ],
      {% endif %}
      language: {
          "emptyTable":   "Não foi encontrado nenhum registo",
          "loadingRecords": "A carregar...",
          "processing":   "A processar...",
          "lengthMenu":   "Mostrar _MENU_ registos",
          "zeroRecords":  "Não foram encontrados resultados",
          "info":         "Mostrando de _START_ até _END_ de _TOTAL_ registos",
          "infoEmpty":    "Mostrando de 0 até 0 de 0 registos",
          "infoFiltered": "(filtrado de _MAX_ registos no total)",
          "infoPostFix":  "",
          "search":       "Procurar:",
          "url":          "",
          "paginate": {
              "first":    "Primeiro",
              "previous": '<i class="fas fa-chevron-left fa-lg"></i>',
              "next":     '<i class="fas fa-chevron-right fa-lg"></i>',
              "last":     "Último"
          },
          "aria": {
              "sortAscending":  ": Ordenar colunas de forma ascendente",
              "sortDescending": ": Ordenar colunas de forma descendente"
          }
      }
    });

    $("#transport_filter").remove();
    // $(".datetimepicker-clear-button").remove();
    $(".datetimepicker-dummy").addClass("input-filter-class");
    $(".datetimepicker-dummy-input").css("max-width", "100%");
    $(".datetimepicker-dummy-input").css("word-spacing", "normal");

    $("select.my-empty").change(function() {
      if ($(this).children("option:selected").val() === "empty") {
        $(this).val("");
        $(this).css({
          'cssText': 'color: rgb(170, 170, 170) !important'
        });
      }

      if ($(this).children("option:selected").val()) { // not working
        $(this).css({
          'cssText': 'color: #333 !important'
        });
      }
    });

    $("#clearFilter").on("click", function() {
      $("#nameIdInputFilter").val("").keyup();
      $("#fromSelectFilter").val("empty").change();
      $("#destinationSelectFilter").val("empty").change();
      calendars[0].clear();
      transportTable.column(4).search("").draw();
      {% if request.user|is_user_types:"Administrator" %}
      $("#statusSelectFilter").val("empty").change();
      {% endif %}
    });

    $(".datetimepicker-clear-button").on("click", function() {
      calendars[0].clear();
      transportTable.column(4).search("").draw();
    });

    $("#nameIdInputFilter").on("keyup", function() {
      transportTable.column(0).search(this.value).draw();
    });

    $("#fromSelectFilter").change(function() {
      transportTable.column(2).search($(this).children("option:selected").val()).draw();
    });

    $("#destinationSelectFilter").change(function() {
      transportTable.column(3).search($(this).children("option:selected").val()).draw();
    });

    $('#dayInputFilter')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#dayInputFilter").val($(this).val());
        // transportTable.column(4).search(calendars[0].value()).draw();
    });

    calendars[0].on("select", function() {
      transportTable.column(4).search(calendars[0].value()).draw();
    });

    $("button.datetimepicker-footer-clear").click(function() {
      transportTable.column(4).search("").draw();
    });

    {% if request.user|is_user_types:"Administrator" %}
    $("#statusSelectFilter").change(function() {
      transportTable.column(5).search($(this).children("option:selected").val()).draw();
    });
    {% endif %}

  });

</script>
{% endblock extrajs %}
