{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Transportes{% endblock %}

{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<link href="{% static 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link href="{% sass_src 'scss/transports_wizard.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/transports_datepickerinput.scss' %}" rel="stylesheet">
<style type="text/css">
{% if breadcrumb|slugify == 'alterar-transporte' %}
  #progressbar li.active:before {
    background: #3273dc;
  }
  #progressbar li.active:after {
    background: #3273dc;
  }
{% endif %}
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:transport-list' %}">Transportes</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb }}</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
  <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
    <div class="px-0 pb-0 mt-3 mb-3">
      <h2 class="title is-3"><strong>{{ breadcrumb }}</strong></h2>
      <p>Preencha os campos obrigatórios.</p>
      <div class="row">
        <div class="col-md-12 mx-0">
          <form id="my-form" method="POST">
            {% csrf_token %}
            <ul id="progressbar">
              <li id="add" class="active">
                <strong></strong>
              </li>
            </ul>
            <h3 class="subtitle is-4">
              <!-- Transporte -->
            </h3>
            <div class="text-left">
            <fieldset class="form-group">
              <!-- <legend class="subtitle is-4">Transporte</legend> -->
              {% bootstrap_form form %}
            </fieldset>
            </div>
            <div class="form-group">
              <a class="button is-dark float-left" href="{% url 'config_dia_aberto:transport-list' %}">Cancelar</a>
              {% if breadcrumb|slugify == 'criar-transporte' %}
                <button class="button is-success float-right" type="submit">Criar</button>
              {% else %}
                <button class="button is-link float-right" type="submit">Alterar</button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>
<script>
  var calendars = bulmaCalendar.attach('#id_departure_datetime', {
    type: 'datetime',
    color: 'link',
    dateFormat: 'YYYY-MM-DD',
    timeFormat: 'HH:mm',
    lang: 'pt',
    showTodayButton: false,
    cancelLabel: 'Cancelar',
    clearLabel: 'Limpar',
    validateLabel: 'Selecionar',
    minDate: '{{ start_date }}',
    maxDate: '{{ end_date }}',
    labelFrom: 'Horário de Partida'
  });

  $(document).ready(function() {
    $(".datetimepicker-clear-button").remove();
    $(".datetimepicker-dummy-wrapper").addClass("input-filter-class");
    $(".datetimepicker-dummy-input").css("max-width", "100%");
    $(".datetimepicker-dummy-input").css("word-spacing", "normal");
    // $(".datetimepicker-dummy-input").css("color", "#000000");

    $('#id_departure_datetime')
      .parent()
      .find($(".datetimepicker-dummy-input"))
      .change(function() {
        $("#id_departure_datetime").val($(this).val());
    });
});
</script>
{% endblock extrajs %}
