{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Transportes{% endblock %}

{% block extrahead %}
<link href="{% sass_src 'scss/transports_wizard.scss' %}" rel="stylesheet">
<style type="text/css">
  #progressbar li.active:before {
    background: #3273dc;
  }
  #progressbar li.active:after {
    background: #3273dc;
  }
</style>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'config_dia_aberto:transport-list' %}">Transportes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Publicar Transportes</li>
{% endblock %}

{% block content_card %}
<div class="row justify-content-center mt-0">
  <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
    <div class="px-0 pb-0 mt-3 mb-3">
      <h2 class="title is-3"><strong>Publicar Transportes</strong></h2>
      <!-- <p>&nbsp;</p> -->
      <div class="row">
        <div class="col-md-12 mt-4 mx-0">
          <form id="my-form" method="POST">
            {% csrf_token %}
            <ul id="progressbar">
              <li id="add" class="active">
                <strong></strong>
              </li>
            </ul>
            <h3 class="mb-4">
              <!-- Transporte -->
            </h3>
            <div>
              <fieldset class="form-group">
                <!-- <legend class="subtitle is-4 mb-4">Publicar Transporte</legend> -->
                <h5 class="subtitle is-5">Tem a certeza que quer publicar os transportes?</h5>
                <br>
              </fieldset>
            </div>
            <div class="form-group">
              <a class="button is-dark float-left" href="{% url 'config_dia_aberto:transport-list' %}">Cancelar</a>
              <button class="button is-link float-right" type="submit">Publicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
