{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% block title%}
Página Inicial
{% endblock%}

<!--extra headers section-->
{% block extrahead %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock extrahead%}
<!--end extra headers section-->

{% block content_card %}

<!--content of index-->
<div class="card-content pb-5">
	<div class="top-row row  pt-5 mt-5 mb-5 pb-5 text-center">
			<div class="col-xs-12 col-sm-12 col-md-7 ">
					<h2 class="title">Nova Plataforma </h2>
					<h5 class="subtitle">Simples, Intuitivo, Limpo. </h5>
					<p> A plataforma online do Dia Aberto foi renovada pelos alunos em âmbito do curso de Licenciatura de Engenharia Informática. </p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
					<img src="{% static 'img/logo-large.png' %}">
			</div>
	</div>
	<div class="bottom-row ml-5 mr-5 align-items-center row card-body bg-light text-center">
			<div class="col-xs-12 col-sm-12 col-md-7">
					<p>2019 Dia Aberto por <a href="#">grupo 9</a></p>
					<small>Contacto de suporte: <a href="mailto:suporte.dia.aberto@ualg.pt">suporte.dia.aberto@ualg.pt</a></small>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
					<img src="{% static 'img/ualg-logo.png' %}">
			</div>
	</div>
</div>
<!--end of content-->

{% endblock content_card %}