{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>



    <div class="table-wrapper">
        <table id="table001" class="table has-mobile-cards is-hoverable is-fullwidth">
            <thead>
                <tr>                       
                    <th width="50px"></th>
                    <th onclick="sortTable(1, 'table001')" style="width: 300px; cursor: pointer;" class="pre-expandable">
                        Notificações &#9650&#9660
                        <span class="icon-expandable-180 is-small">
                            <i class="mdi mdi-menu-up"></i>
                        </span>
                    </th>
                    
                    <th>
                        <span class="icon is-small">
                            <i class="mdi mdi-menu-up"></i>
                    </th>
                </tr>
            </thead>
                <tbody>      
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">A sua alteração na inscrição 1 foi efetuada com sucesso</td>
                        
                    </tr> 
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">A sua alteração na inscrição 4 foi efetuada com sucesso</td>
                    </tr> 
                    <tr draggable="false">
                        <td class="chevron-cell">
                            <a role="button">
                                <span class="icon is-expanded">
                                    <i class="mdi mdi-chevron-right mdi-24px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Nome">A sua alteração na atividade não foi concluida</td>
                    </tr> 

                </tbody>

        </table>
    </div>
</div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>
<script src="{% static 'js/tablesort3.js' %}"></script>


{% endblock extrajs %}


