<li id="notificationBtn" class="nav-link dropdown">
  <button id="notificacao-badge" class="nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bell"></i><span id="ntfCountDisplay" hidden class="badge badge-light">0</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificacao-badge">
    <h4 class="dropdown-header"><strong>Notificações</strong></h4>
    <p class="dropdown-divider"></p>
    <span id="notificationList"></span>
    <p class="dropdown-divider"></p>
    <a class="dropdown-item" href="{% url 'notificacoes:viewInbox' %}">ver todas as notificações</a>
  </div>
</li>
{% load static %}
<script>
  var GET_COUNT_URL_PATH = "{% url 'notificacoes:getCountNew' %}"
  var UPDATE_LAST_FETCH_URL_PATH = "{% url 'notificacoes:updateLastFetch' %}"
  var INBOX_URL_PATH = "{% url 'notificacoes:viewInbox' %}"
  var DATA_FETCH_URL_PATH = "{% url 'notificacoes:getLastNotifications' %}"

  var RING_SRC_PATH = "{% static 'audio/notificationRing.ogg' %}"
</script>
