{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Todas as Notificações{% endblock %}

{% block extrahead %}
<link href="{% static 'vendor/bulma/bulma-extensions.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bulma/bulma-switch.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bulma/bulma-tagsinput.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link href="{% sass_src 'scss/notification_inbox.scss' %}" rel="stylesheet">
{% endblock %}



{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notificações</li>
{% endblock %}





{% block content_card %}
<div class="mb-5 pl-5 pr-5">
  <h2 class="title is-3">Notificações</h2>
  <div id="ntf-box">
    <aside>
      <a href="{% url 'notificacoes:sendMessage' %}" class="button is-success">
        <i class="text-white fas fa-plus"> </i> Enviar Notificação
      </a>
      <hr>
      <div id="inboxSideBar" hidden>
        <div id="ntfModeTabs" class="tabs is-toggle is-toggle-rounded is-white">
          <ul>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-inbox"></i></span>
                <span>Recebidas</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fas fa-paper-plane"></i></i></span>
                <span>Enviadas</span>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="title is-4">Filtros</h3>
        <div id="filters">
          <div id="receiveViewFilters" hidden>
            <div class="field">
              <div class="autocomplete control">
                <div class="control has-icons-left is-clearfix">
                  <input id="receiveSearch" class="input my-filter-input" placeholder="Procurar..." type="text" autocomplete="off">
                  <span class="icon is-left">
                    <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="field">
              <input id="receiveOnlyUnseenFilter" type="checkbox" name="receiveOnlyUnseenFilter" class="switch is-rounded is-info">
              <label for="receiveOnlyUnseenFilter">Apenas por ler</label>
              <br><br>
              <input id="receiveOnlyPriorityFilter" type="checkbox" name="receiveOnlyPriorityFilter" class="switch is-rounded is-info">
              <label for="receiveOnlyPriorityFilter">Apenas com prioridade</label>
            </div>
            <div class="field">
              <label for="receiveStartDateFilter">Desde de:</label>
              <div class="autocomplete control">
                <div class="control is-clearfix">
                  <input id="receiveStartDateFilter" class="dayInputFilter input" type="date" autocomplete="off">
                </div>
              </div>
              <label for="receiveEndDateFilter">Até: </label>
              <div class="autocomplete control">
                <div class="control is-clearfix">
                  <input id="receiveEndDateFilter" class="dayInputFilter input" type="date" autocomplete="off">
                </div>
              </div>
            </div>
            <button id="receiveClearFilter" class="button is-danger"><i class="fas has-text-white pr-2 fa-md fa-times" aria-hidden="true"></i>Limpar Filtros</button>
          </div>
          <div id="sentViewFilters" hidden>
            <div class="field">
              <div class="autocomplete control">
                <div class="control has-icons-left is-clearfix">
                  <input id="sentSearch" class="input my-filter-input" placeholder="Procurar..." type="text"
                    autocomplete="off">
                  <span class="icon is-left">
                    <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="field">
              <input id="sentOnlyPriorityFilter" type="checkbox" name="sentOnlyPriorityFilter" class="switch is-rounded is-info">
              <label for="sentOnlyPriorityFilter">Apenas com prioridade</label>
            </div>
            <div class="field">
              <label for="sentStartDateFilter">Desde de:</label>
              <div class="autocomplete control">
                <div class="control is-clearfix">
                  <input id="sentStartDateFilter" class="dayInputFilter input" type="date" autocomplete="off">
                </div>
              </div>
              <label for="sentEndDateFilter">Até: </label>
              <div class="autocomplete control">
                <div class="control is-clearfix">
                  <input id="sentEndDateFilter" class="dayInputFilter input" type="date" autocomplete="off">
                </div>
              </div>
            </div>
            <br>
            <button id="sentClearFilter" class="button is-danger"><i class="fas has-text-white pr-2 fa-md fa-times" aria-hidden="true"></i>Limpar Filtros</button>
          </div>
        </div>
      </div>
      <div id="detailSideBar" hidden>
        <strong >Assunto: </strong>
        <span id="detailSubjectContainer">A Carregar...</span>
        <br>
        <span id="detailDateContainer" class="text-secondary">A Carregar data...</span>
        <br><br>
        <strong >Autor:</strong>
        <span id="detailAuthorContainer">A Carregar...</span>
        <br>
        <strong>Enviado para:</strong>
        <span id="detailReceiversContainer">A Carregar...</span>
      </div>
    </aside>
    <main>
      <div id="controlBar">
        <div id="receiveViewControlBar" hidden>
          <div class="right-buttons-container always-right">
            <span>
              <button id="receiveViewRefreshBtn" class="button"><i class="fas fa-redo"></i><span> a atualizar...</span></button>
            </span>
            <span>
              <button id="receivedPreviousBtn">
                <i class="fas fa-chevron-left fa-lg"></i>
              </button>
              <button id="receivedNextBtn">
                <i class="fas fa-chevron-right fa-lg"></i>
              </button>
            </span>
          </div>
        </div>
        <div id="sentViewControlBar" hidden>
          <div class="right-buttons-container always-right">
            <span>
              <button id="sentViewRefreshBtn" class="button"><i class="fas fa-redo"></i><span>a atualizar...</span></button>
            </span>
            <span>
              <button id="sentPreviousBtn">
                <i class="fas fa-chevron-left fa-lg"></i>
              </button>
              <button id="sentNextBtn">
                <i class="fas fa-chevron-right fa-lg"></i>
              </button>
            </span>
          </div>
        </div>
        <div id="detailViewControlBar" hidden>
          <button id="detailBackButton" class="button is-link"><i style="color: white" class="fas fa-arrow-left"></i> voltar</button>
          <span id="detailViewActionButtons">
            <a id="replyPageBtn">
              <button class="button"><i class="fas fa-reply"></i> responder</button>
            </a>
            <button id="detailSetPriorityBtn" class="button is-warning" hidden><i class="far fa-star"></i>marcar prioridade</button>
            <button id="detailResetPriorityBtn" class="button is-warning" hidden><i class="fas fa-star"></i>remover prioridade</button>
            <button id="detailDeleteBtn" class="button is-danger" data-toggle="modal" data-target="#deleteConfirmModal"><i class="fas fa-trash-alt"></i>Apagar Notificação</button>
          </span>
        </div>
      </div>

      <hr>

      <div id="contentPannel">
        <div id="receiveViewContentPannel" hidden>
          <table id="receiveTable" class="table" data-page-length='100'>
            <thead hidden></thead>
            <tbody></tbody>
          </table>
        </div>
        <div id="sentViewContentPannel" hidden>
          <table id="sentTable" class="table" data-page-length='100'>
            <thead hidden></thead>
            <tbody></tbody>
          </table>
        </div>
        <div id="detailContentPannel" hidden>
          <div class="pr-5">
            <span id="detailContentContainer">A Carregar...</span>
          </div>
          <div hidden style="text-align: center; padding-top: 5rem;">
            <i class="fas fa-exclamation-circle" style="font-size: 4em;"></i>
            <h1 class="title is-3">Ocorreu um erro</h1>
            <h2 class="title is-5">Esta notificação poderá não existir ou então não tem permissão para a ver</h2>
          </div>
        </div>
      </div>

    </main>
  </div>
</div>
{% endblock %}





{% block modals %}
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Apagar Notificação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tem a certeza que quer apagar esta notificação?</p>
        <p hidden>Nota: Esta notificação apenas deixara de ser visivel para si.</p>
        <p hidden>Nota: Esta notificação deixara de ser visivel para si e para todos a que foi enviada.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
        <button id="deleteConfirmBtn" type="button" class="btn btn-danger" data-dismiss="modal">Apagar Notificação</button>
      </div>
    </div>
  </div>
</div>
{% endblock modals %}






{% block extrajs %}
<script>
  var GET_ALL_RECEIVED_NOTIFICATIONS_URL_PATH = "{% url 'notificacoes:getAllRecievedNotifications' %}";
  var GET_ALL_SENT_NOTIFICATIONS_URL_PATH = "{% url 'notificacoes:getAllSentNotifications' %}";
  var MARK_AS_READ_URL_PATH = "{% url 'notificacoes:markAsSeen' 12345 %}".split("12345");
  var GET_NOTIFICATION_DATA_URL_PATH = "{% url 'notificacoes:getNotificationData' 12345 %}".split("12345");
  var REPLY_PAGE__URL_PATH = "{% url 'notificacoes:responseMessage' 12345 %}".split("12345");
  var SET_PRIORITY_URL_PATH = "{% url 'notificacoes:setPriority' 12345 %}".split("12345");
  var RESET_PRIORITY_URL_PATH = "{% url 'notificacoes:resetPriority' 12345 %}".split("12345");
  var DELETE_NOTIFICATION_URL_PATH = "{% url 'notificacoes:deleteNtf' 12345 %}".split("12345");
  var MY_ID = {{ request.user.pk }};
</script>
<script type="text/javascript" src="{% static 'vendor/bulma/bulma-extensions.min.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/bulma/bulma-tagsinput.min.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script>

<script type="text/javascript" src="{% static 'js/notification_inbox.js'%}"></script>
{% endblock extrajs %}