{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title %} - {{ object.sender.subject }}{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content_card %}
<div class="mb-5 p-5">
  <h2>Notificações</h2>
  <div class="border-top mt-2 pt-2">
    de: <strong>{{ object.sender.username }}</strong><br>

    para:
    <strong>
      {% for receiver in object.getReceivers %}
        <span>
          {{ receiver.username }}
        </span>
      {% endfor %}
    </strong><br>
    Assunto: <strong>{{object.subject}}</strong>

    <hr>
    <p>{{ object.content }}</p>
  </div>
</div>

{% endblock %}


<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
