{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'notificacoes:viewInbox' %}">Notificações</a></li>
    <li class="breadcrumb-item active" aria-current="page">Enviar</li>
{% endblock %}


{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>

<div class="p-5">
    <button onclick="history.back()" class="button is-link"><i style="color: white" class="fas fa-arrow-left" aria-hidden="true"></i> voltar</button>
    <form class="contact-form" method="post" action="{% url 'notificacoes:responseMessageForm' %}">
    {% csrf_token %} 

        <label for="id_aform-description"><b>Assunto:</b></label>
        <input name="subject" cols="10" rows="10" class="form-control">
        <input type="hidden" name="pk" value="{{ Pk }}">

        <div class="form-group">
            <label for="id_aform-description">Mensagem</label>
            <textarea name="content" cols="40" rows="10" class="form-control" placeholder="Descrição" title="" required="" id="id_aform-description"></textarea>
        </div>

        <button class="btn btn-sm btn-info"href="{% url 'home' %}"><i class="fas fa-check-circle"></i></button>
            </div>
        </div>
    </form>
</div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/atividades_wizard.js' %}"></script>
<script src="{% static 'js/tablesort3.js' %}"></script>


{% endblock extrajs %}


