{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurar definições do Dia Aberto{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content_card %}

<div class="mb-5 p-5">
  <div class="mt-2 pt-2">
    <table class="table">
      <tbody>
          <tr>
            <th scope="col">A notificação foi eliminada com sucesso.</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"><a href="{% url 'notificacoes:Sended'  %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Voltar atrás</a> </th>
          </tr>
      </tbody>
    </table>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
{% endblock extrajs %}