{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurar definições do Dia Aberto{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content_card %}

<div class="mb-5 p-5">
  <h2>Todas as notificações</h2>
  <div class="mt-2 pt-2">
    
    <table class="table">
      <tbody>
        {% for notification in listAll %}
          <tr>
            <th scope="col">{{ notification.subject }}</th>
            <th scope="col">{{ notification.content }}</th>
            <th scope="col">há {{ notification.sent_time|timesince  }}</th>
              <th scope="col"><a href="{% url 'notificacoes:delete20' notification.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a> </th>
          </tr>
        {% empty %}
          Não existem Notificações.
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
{% endblock extrajs %}