{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}

{% block title%}Nova Atividade{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">

{% endblock %}
{% block content_card %}
<div class="row d-flex justify-content-center">
    <div class="col-8">
            <div class="card my-4">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-content">
                        {% csrf_token %}
                        <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Criar Atividade</legend>
                        {{ aform|crispy }}
                        {{ asform.date.label }}
                        {{ asform.date}}
                        {{ asform.session.label }}
                        {{ asform.session }}
                            <ul class="material-form" id="material-form">
                                <li class="clone-form">
                                    {{ mform  }}<button type="button" id="remove_more" ><i class="fas fa-times"></i></button>
                                </li>
                            </ul>
                            <input type="button" class="btn btn-default" value="Add More" id="add_more">
                        </div>
                            </fieldset>
                        <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Propor</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>

{% endblock extrajs %}
