{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}
{% block title %}Atividades - Alterar{% endblock %}

{% block extrahead %}
<style>
.index-content{
	top: 128px !important;
}
</style>
{% endblock %}

{% block path%}
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:activity'%}">Atividades</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="../">Detalhe</a></li>
<li class="breadcrumb-item active" aria-current="page">Alterar</li>
{% endblock %}

{% block content_card %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<div class="mt-2 mt-2 pl-5  container pr-5 pt-2 pt-2 mb-3">
  <h2 class="title is-3 mb-5 text-center">Altera Informação da Atividade</h2>
  <p class = "text-center">Preencha os campos obrigatórios para alterar a informação da atividade</p>
  <div class="icon-hr mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-pencil-ruler" aria-hidden="false"></i>
            </span>
        </div>
        <span></span>
  </div>
  <div class="mb-3">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ aform|crispy }}
      </fieldset>
      <div class="form-group">
        <a onclick="goback()" class="button is-dark has-text-white">Cancelar</a>
        <button class="button is-link float-right" type="submit">Alterar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>

$("form").submit(function() {
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
});
function goback() {
    window.history.go(-1);
}
</script>
{% endblock extrajs %}
