{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% load bootstrap4 %}
{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/bulma_calendar_time_picker.scss' %}" rel="stylesheet">

<link href="{% sass_src 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datepicker/css/bootstrap-datepicker3.min.css' %}">
<style>
.index-content{
	top: 128px !important;
}
</style>
 {% comment %} <script>
  $( function() {
    $( "#date-session-filter" ).datepicker();
  } );
  </script> {% endcomment %}


{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item active" aria-current="page">Atividades</li>

{% endblock %}
{% block content_card %}

{% if not config.is_within_activity_datetime_limit %}
        <div class="alert alert-warning" role="alert">
        O período de propor de atividades terminou!
        </div>
{% endif %}
<!-- TABLE FOR FILTERING -->
{% if session_activity %}
<div class="ml-5 mr-5 border-bottom">
<h1 class="title mb-4">Atividades</h1>
</div>
<div class="mb-5 ml-5 mr-5 mt-3 row"  id="loader">
<div class ="col-sm-12 col-lg-3 mb-4">
	<div class="mb-3 header-filter">
		<p class="menu-label"> Filtros Atividade</p>
	</div>
	<div class="filters row">
		<div class="col-12 mb-3">
			<div class="autocomplete control">
            <div class="control has-icons-left is-clearfix">
              <input id="activity-name-filter" class="input" type="text" autocomplete="off" placeholder="Nome da Atividade">
              <span class="icon is-left">
                <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)"></i>
              </span>
            </div>
          </div>
		</div>
		<div class="col-12 mb-3">
			<div class="control is-expanded">
           		 <span class="select is-fullwidth is-empty">
					<select class="select is-fullwidth is-empty" title="" id="status">
						<option class="hidden" value="" disabled selected hidden><div>Estado</div></option>
						<option value="válida">Válida</option>
						<option value="pendente">Pendente</option>
						<option value="incompleta">Incompleta</option>
						<option value="rejeitada">Rejeitada</option>
					</select>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="control is-expanded">
           		 <span class="select is-fullwidth is-empty">
					<select class="form-control" title="" id="t_list">
						<option value="" disabled selected hidden>Docente</option>
						{% for t in t_list %}
						<option value="{{ t.user.username }}">{{ t.user.username }}</option>
						{% endfor %}
					</select>
				</span>
			</div>
		</div>
	</div>
    <div class="mt-3 submission-pick">
        <div class="mb-3 header-filter">
			<p class="menu-label"> Filtros de Submissão</p>
		</div>
        <div>
            <div class="input-filter-class">
                {% comment %} <i class="fas fa-calendar-alt" style="font-size:1em"></i>  {% endcomment %}
                <input type="date" class="sub-calendar" autocomplete="off" id="sub_calendar" placeholder=""/>
            </div>
        </div>
    </div>
	<div class="mt-3 range-pick">
		<div class="mb-3 header-filter">
			<p class="menu-label"> Filtros de Sessão</p>
		</div>
		<div class="">
			<div class="mb-3">
				<div class="input-filter-class">
					 {% comment %} <i class="fas fa-calendar-alt" style="font-size:1em"></i>  {% endcomment %}
					<input type="date" autocomplete="off" id="date-session-filter" placeholder="Dia..."/>
				</div>
			</div>
			<div class="time-filter-group row pl-3">
			<div class="pl-0 col-6">
				<div class="input-filter-class input-group clockpicker">
					<i class="fas fa-clock"></i>
					<input  type="text" autocomplete="off" id="fromtime" placeholder="De..." style="width:50"/>
				</div>
			</div>
			<div class="col-6 pl-0">
				<div class="input-filter-class input-group clockpicker">
					<i class="fas fa-clock"></i>
					<input  type="text" autocomplete="off" id="tilltime" placeholder="Até..." style="width:50"/>
				</div>
			</div>
			</div>
		</div>

	</div>
	<btn class="mt-3 button is-danger" id="clear-filters" style="cursor:pointer"><i class="fas has-text-white pr-2 fa-md fa-times"></i>Limpar Filtros</btn>
</div>

<div class="col-9">

<!-- table for input-->
<section class="table-section">
	{% if user.coordinator %}
		<div class="btn-class mb-3">
			{% if request.user.teacher%}
			{% if config.is_within_activity_datetime_limit %}
			<a id="nova-atividade" class="button is-success" style="text-decoration:none;" href="{% url 'activity:activity-create'%}"><i class="fas fa-xs has-text-white pr-1 fa-plus"></i>Propor Nova Atividade</a>
			{% endif %}
			{% endif %}
		</div>
	{% endif%}
	<table id="activitytable_coord" class="display responsive" width="100%">
		<!--header-->
		<thead class="text-center">
			<tr>
				<th class="all" >Nome</th>
				<th class="all">Submetido a</th>
				<th class="all">Estado</th>
				<th class="all">Criador</th>
				<th class="none"></th>
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		{% for sa in session_activity %}
        {% if  sa.get_status != "INCOMPLETA" or sa.get_status == 'INCOMPLETA' and sa.activity.teacher == request.user.teacher %}
			<tr dt-responsive id="{{ sa.id }}">
				<td class="table-name-section"><div>{{ sa.activity.name }}</div></td>
				<td class="table-create-at-section"><div id="date_value" name="{{ sa.created_at|date:"Y-m-d" }}">{{ sa.created_at}}</div></td>
				<td class="table-status-section">
				<div class="text-lowercase m-0 tag text-center
                {% if sa.get_status == "PENDENTE" %}
                    is-info
                {% elif sa.get_status == "VÁLIDA" %}
                    is-success
                {% elif sa.get_status == "REJEITADA" %}
                   is-danger
                {% else %}
                   is-warning
				{% endif %}
				 " style="width: 7rem; font-size: small;"> {{ sa.get_status }}</div>
                </td>
				<!--expand content-->
				<td>
				    {{ sa.activity.teacher.user.username }}
				</td>
				<td>
				<div class="table-expand-content row">
					<div class="activity-info container-fluid">
						<div id="activity-info-block" class="row">
							<div class="col-6">
								<div class="pb-2" id="activity-name">
									<h5> Atividade <span style="color:#00adef">{{sa.activity.name}}</span></h5>
								</div>
								<div id="activity-themes">
									<p>
									{% for theme in sa.activity.theme.all %}
										<span class="p-1 text-lowercase" style="color: white; border-radius:5%; background-color: {{theme.color}}">{{theme.name}}</span>
									{% endfor %}
									</p>
								</div>
								<div id="activity-desc">
									<p><strong>Descrição: </strong>{{ sa.activity.description }}</p>
								</div>
							</div>
							<div class="col-6">
								<h5>Informações</h5>
								<div id="activity-max-part">
									<p><strong>Máximo de Participantes:</strong> {{ sa.activity.max_participants }}</p>
								</div>
								<div id="activity-duração">
									<p><strong>Duração: </strong>{{ sa.activity.duration|time:"i" }} min</p>
								</div>
								<div id="activity-desc">
									<p><strong>Público alvo:</strong> {{ sa.activity.target }}</p>
								</div>
								<div id="activity-depart">
									<p><strong>Departamento:</strong> {{ sa.activity.teacher.department.name }}</p>
								</div>
								<div id="activity-location">
									<p><strong>Localização: </strong>
									{% if sa.location %}
									    {{ sa.location.get_full_location_path }}
                                    {% elif sa.location_desc %}
                                        {{ sa.location_desc }}
									{% else %}
										por definir
									{% endif %} </p>
								</div>
							</div>
							{% comment %} <div class="col-12" id="loader">
								<h5>Dias e Sessões</h5>
								<div class="text-center">
								<img src="{% static 'gif/ajax-loader_bw.gif'%}" style="width:auto">
							</div>
							</div> {% endcomment %}
							<div class="col-12" id="activity-day-session-pair">
							{% load activity_template_tags %}
							{% has_session_activity sa.id as has_session_activity_flag %}
							<h5>Dias e Sessões</h5>

							{% if has_session_activity_flag %}
							<div class="container-fluid">
							<div class="table-responsive mb-3">
							<table id="table-session" class="table-responsive">
								<thead>
									<th scope="col"></th>
									{% for sss in session_list %}
										<th scope="col">{{ sss.start_time|time:"H:i" }}</th>
									{% endfor %}
								</thead>
								<tbody>
									{% for day in dspair %}
										{% if day.session_activity.id == sa.id %}
										<tr>
										<th id="session-day" scope="row">{{ day.day.date|date:"d, M" }}</th>
										{% for sss in session_list%}
										<td>
											{% for session in day.session.all %}
												{% if session == sss %}
													<i id="time-check" class="fas  fa-check" value="{{ session.start_time }}" style="color: #00adef"></i>
												{% endif %}
											{% endfor %}
										</td>
										{% endfor %}
										</tr>
										{% endif %}
									{% endfor%}
								</body>
							    </table>
							    </div>
							</div>
							{% else %}
							<p> ainda não foram definidas datas para esta atividade </p>
							{% endif %}
							</div>
						</div>
                        <div style="margin-top: 13px;">
						{% if not config.has_participant_sub_started %}
							{% if sa.get_status != 'INCOMPLETA'%}

								{% if not sa.get_status == 'VÁLIDA' %}
								<button type="button" onclick="fillmodal( {{sa.pk}}, '{{sa.location_desc}}', {{ sa.location.id }})" id="acceptactivity" class="float-right button modal-button is-success"  data-toggle="modal" data-target="#modalaccept" aria-haspopup="true"  style="margin-left: 5px;">
								<span class="icon is-small">
									<i class="fas has-text-white fa-sm fa-check"></i></span>
								<span class="has-text-white" >Aceitar</span>
								</button>
								{% endif %}
									<button type="button" onclick="modal({{sa.id}})" id="changeactivity" class="float-right mr-2 button modal-button is-warning"  data-toggle="modal" data-target="#modalchange" aria-haspopup="true"  style="margin-left: 10px;">
									<span class="icon is-small">
										<i class="fas has-text-white fa-sm fa-exchange-alt"></i></span>
									<span class="has-text-white">Pedir Alterações</span>
									</button>

								{% if not sa.get_status == "REJEITADA" %}
									{% comment %} onclick="accept_activity({{sa.id}}, 'VÁLIDA')" {% endcomment %}

									<button type="button" onclick="reject_activity({{sa.id}}, 'REJEITADA')" id="deleteactivity" class="button float-right is-danger">
									<span class="icon is-small ">
										<i class="fas has-text-white fa-sm fa-times"></i>
									</span>
									<span class="has-text-white">Rejeitar</span>
									</button>
								{% endif %}
							{% endif %}
						{% endif %}

							{% if sa.activity.teacher.user.id  == request.user.id %}
								<a type="button"  href="{% url 'activity:activity' %}{{sa.pk}}" class="button modal-button is-link float-left"  >
								<span class="icon is-small">
									<i class="fas has-text-white fa-sm fa-list"></i></span>
								<span class="has-text-white" >Detalhe</span>
								</a>
							{% endif %}
                        </div>
					    </div>
				    </div>
				</td>
				<!-- end expand content-->
			</tr>
            {% endif %}
		{% endfor %}
		<!--end loop-->
		</tbody>
	</table>
	{% endif %}

	</div>
</section>
</div>

<div class="modal fade" id="modalaccept" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Escolha uma sala</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div id="modal-fill" class="mb-3">

        </div>
        <div class="form-step4-onload" style="">
            <div class="form-group">
                <label for="div_campus">Campus</label>
                <select name="campus" class="form-control" title="" id="div_campus">
                    <option value="" selected="">---------</option>
                    {% for c in campus %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="div_building">Edifício</label>
                <select name="building" class="form-control" title="" id="div_building">
                    <option value="">---------</option>
                </select>
            </div>
            <div class="form-group">
                <label for="div_location">Sala</label>
                <select name="location" class="form-control" title="" id="div_location">
                    <option value="">---------</option>
                </select>
                <span id="error_location" class="has-text-danger pl-2 has-text-link" style="font-size:12px !important; display:none">selecione uma sala</span>
            </div>
      </div>
      <div class="">
        <button type="button" class="button is-dark float-left" data-dismiss="modal">Cancelar</button>
		<button type="button" onclick="accept_activity()" id="acceptactivity" class="button float-right is-success">Validar</button>

	  </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modalchange" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Descreva as Alterações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="changeact">
        <div class="form-step4-onload" style="">
            <div class="form-group">
				<textarea id="changetext" placeholder=" descreva as alterações..." class="form-group w-100" rows="10"></textarea>
            </div>
      </div>
      <div class="">
        <button type="button" class="button is-dark float-left" data-dismiss="modal">Cancelar</button>
		<button type="button" onclick="change_activity()" id="pedir_alterações" class="button float-right has-text-white is-warning">Pedir Alterações</button>
	  </div>
    </div>
  </div>
</div>


{% endblock%}


{% block loader %}
{% if session_activity %}
{% comment %} <div id="loading"></div> {% endcomment %}
{% endif %}
{% endblock loader%}


<!--extra js-->
{% block extrajs %}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/datatable_user.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/locales/bootstrap-datepicker.pt.min.js' %}"></script>



<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>




<script type="text/javascript" src="{% static 'js/ajax_requests.js' %}"></script>

<script type="text/javascript">


function get_activity_date_stamp()
{
	let day_dict = {{ days|safe }}
	return [day_dict[0].fields['date'], day_dict[day_dict.length - 1].fields['date']]
}

function get_start_end_activity()
{
    let days_dict = {{ sub_time|safe }}[0]
    return [days_dict.fields['activity_limit_subscription_start_datetime'].split('T')[0], days_dict.fields['activity_limit_subscription_end_datetime'].split('T')[0]]
}

console.log(get_activity_date_stamp())
options_calendar = {
	type: 'date',
	color: 'link',
	startDate: get_activity_date_stamp()[0],
	minDate: get_activity_date_stamp()[0],
	maxDate: get_activity_date_stamp()[1],
	dateFormat: 'YYYY-MM-DD',
	lang: 'pt',
	todayLabel: 'Hoje',
	cancelLabel: 'Cancelar',
	clearLabel: 'Limpar',
}

options_calendar_sub = {
	type: 'date',
	color: 'link',
    isRange: true,
	startDate: get_start_end_activity()[0],
	minDate: get_start_end_activity()[0],
	maxDate: get_start_end_activity()[1],
	dateFormat: 'YYYY-MM-DD',
	lang: 'pt',
	todayLabel: 'Hoje',
	cancelLabel: 'Cancelar',
	clearLabel: 'Limpar',
}


var calendars = bulmaCalendar.attach('#date-session-filter', options_calendar);

var calendar_sub = bulmaCalendar.attach('#sub_calendar', options_calendar_sub);

// Loop on each calendar initialized
for(var i = 0; i < calendars.length; i++) {
	// Add listener to date:selected event
	calendars[i].on('select', date => {
		console.log(date);
	});
}

var input = $('.clockpicker').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});


$('.datetimepicker-dummy-wrapper input').each((index, value) => {
    $(value).css('height', 'auto')
})
{% comment %} $('#modalaccept').on('shown.bs.modal', function () {
  $('#acceptactivity').trigger('focus')
  console.log('here')
}) {% endcomment %}

</script>
{% endblock extrajs %}


