{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Atividades - Alterar{% endblock %}

{% block extrahead %}
<style>
.index-content{
	top: 128px !important;
}

</style>
{% endblock %}

{% block path%}

<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:activity'%}">Atividades</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="../">Detalhe</a></li>
<li class="breadcrumb-item active" aria-current="page">Alterar</li>
{% endblock %}

{% block content_card %}
{{ form.media }}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<div class="mt-2 mt-2 container pl-5 pr-5 pt-2 pt-2  mb-3">
  <h2 class="mb-5 text-center title is-3">Alterar Localização da Atividade</h2>
  <p class = "text-center">Preencha os campos obrigatórios para alterar a localização da atividade</p>
  <div class="icon-hr mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-location-arrow" aria-hidden="false" style="padding-top:1px"></i>
            </span>
        </div>
        <span></span>
  </div>
  <div class="">
   <form id="formlocation" method="POST">
      {% csrf_token %}
        <div class="radio">
            <label><input type="radio" value="sala" name="optradio"> Escolher Sala</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="desciption" name="optradio"> Descrição da Sala</label>
        </div>
        <div class="form-step4-onload">
            {{  lroomform|crispy  }}
        </div>
        <a onclick="goback()" class="button is-dark has-text-white">Cancelar</a>
        <button class="button is-link float-right" type="submit">Alterar</button>
    </form>
  </div>
  </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/activity_update.js'%}"></script>
<script src="{% static 'js/ajax_requests.js' %}"></script>
{% endblock extrajs %}
