{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% load bootstrap4 %}
{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/bulma_calendar_time_picker.scss' %}" rel="stylesheet">


<link href="{% sass_src 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datepicker/css/bootstrap-datepicker3.min.css' %}">

 {% comment %} <script>
  $( function() {
    $( "#date-session-filter" ).datepicker();
  } );
  </script> {% endcomment %}
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.card.index-content
{
	top: 128px;
}
</style>

{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item active" aria-current="page">Atividades(todas)</li>

{% endblock %}
{% block content_card %}

<!-- TABLE FOR FILTERING -->
{% if session_activity%}
<div class="ml-5 mr-5 border-bottom">
<h1 class="title mb-4">Atividades</h1>
</div>
<div class="mb-5 ml-5 mr-5 mt-3 row"  id="loader">
<div class ="col-sm-12 col-lg-3 mb-4">
	<div class="mb-3 header-filter">
		<p class="menu-label"> Filtros Atividade</p>
	</div>
	<div class="filters row">
		<div class="col-12 mb-3">
			<div class="autocomplete control">
            <div class="control has-icons-left is-clearfix">
              <input id="activity-name-filter" class="input" type="text" autocomplete="off" placeholder="Nome da Atividade">
              <span class="icon is-left">
                <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)"></i>
              </span>
            </div>
          </div>
		</div>
        <div class="col-12 mb-3">
			<div class="control is-expanded">
           		 <span class="select is-fullwidth is-empty">
					<select class="form-control" title="" id="org_unit">
						<option value="" disabled selected hidden>Unidade Orgânica</option>
						{% for o in o_unit %}
						<option value="{{ o.name }}">{{ o.name }}</option>
						{% endfor %}
					</select>
					</span>
			</div>
		</div>
        <div class="col-12 mb-3">
			<div class="control is-expanded">
           		 <span class="select is-fullwidth is-empty">
					<select class="form-control" title="" id="campus-filter">
						<option value="" disabled selected hidden>Campus</option>
						{% for c in campus %}
						<option value="{{ c.name }}">{{ c.name }}</option>
						{% endfor %}
					</select>
					</span>
			</div>
		</div>
    </div>
    <div class="field has-numberinput has-numberinput-compact">
        <div class="b-numberinput field has-addons">
            <p class="control">
                <button type="button" id="decrease_num" onclick="decrease_number()" class="button is-link">
                    <span class="icon">
                    <i class="fas has-text-white fa-minus"></i>
                    </span>
                </button>
            </p>
            <div class="control is-clearfix">
                <input placeholder="Mínimo de Participantes" id="max_par_filter" type="number" autocomplete="on" step="1" class="input"> <!----> <!----> <!---->
            </div>
            <p class="control">
                <button type="button" id="increase_num" onclick="increase_number()" class="button is-link">
                <span class="icon">
                <i class="fas has-text-white fa-plus"></i>
                </span>
                </button>
            </p>
        </div> <!---->
    </div>
    <div class="is-not-menu col-12 mb-3">
        <div class="theme-filter">
            <a class="exapandable-button" id="expandable-filters">
                <div class="inside-btn" style="paddin:10px">
                    <span class=""><small>Mais Filtros</small></span>
                    <span class="float-right" id="btn-expand">
                    <i class="fas fa-plus"></i>
                    </span>
                </div>
            </a>
        </div>
        <div class="exapandable-section ml-3" style="display:none">
			<span class="pb-2">Temas</span>
            {% for t in theme_list %}
            <div class="d-block pl-2">
                <input type="checkbox" value="{{ t.name }}"> <small>{{ t.name }}</small>
            </div>
            {% endfor %}
        </div>
    </div>
	<div class="mt-3 range-pick">
		<div class="mb-3 header-filter">
			<p class="menu-label"> Filtros de Sessão</p>
		</div>
		<div class="">
			<div class="mb-3">
				<div class="input-filter-class">
					 {% comment %} <i class="fas fa-calendar-alt" style="font-size:1em"></i>  {% endcomment %}
					<input type="date" autocomplete="off" id="date-session-filter" placeholder="Dia..."/>
				</div>
			</div>
			<div class="time-filter-group row pl-3">
			<div class="pl-0 col-6">
				<div class="input-filter-class input-group clockpicker">
					<i class="fas fa-clock"></i>
					<input  type="text" autocomplete="off" id="fromtime" placeholder="De..." style="width:50"/>
				</div>
			</div>
			<div class="col-6 pl-0">
				<div class="input-filter-class input-group clockpicker">
					<i class="fas fa-clock"></i>
					<input  type="text" autocomplete="off" id="tilltime" placeholder="Até..." style="width:50"/>
				</div>
			</div>
			</div>
		</div>
	</div>
	<btn class="mt-3 button is-danger" id="clear-filters" style="cursor:pointer"><i class="fas has-text-white pr-2 fa-md fa-times"></i>Limpar Filtros</btn>
</div>

<div class="col-9">

<!-- table for input-->
<section class="table-section">
	<table id="activitytable_all" class="display responsive" width="100%">
		<!--header-->
		<thead class="text-center">
			<tr>
				<th class="all" >Nome</th>
				<th class="all">Unidade Orgânica</th>
                <th class="all">Máximo de Participantes</th>
				<th class="all">Campus</th>
				<th class="none"></th>
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		{% for sa in session_activity %}
        {% if not sa.get_status == "INCOMPLETA" %}
			<tr dt-responsive id="{{ sa.id }}">
				<td class="table-name-section"><div>{{ sa.activity.name }}</div></td>
				<td class="table-UO-section"><div>{{ sa.activity.teacher.department.ou }}</div></td>
				<!--expand content-->
                <td>
                {{ sa.activity.max_participants }}
				</td>
                <td class="table-campus-section">
                <div>
                {% if sa.location.building.campus  %}
                    {{ sa.location.building.campus }}
                {% else %}
                    <span class="has-text-danger">por definir</span>
                {% endif %}
                </div>
                </td>
				<td>
				<div class="table-expand-content row">
					<div class="activity-info container-fluid">
						<div id="activity-info-block" class="row">
							<div class="col-6">
								<div class="pb-2" id="activity-name">
									<h5> Atividade <span style="color:#00adef">{{sa.activity.name}}</span></h5>
								</div>
								<div id="activity-themes">
									<p>
									{% for theme in sa.activity.theme.all %}
										<span class="p-1 theme text-capitalize" style="color: white; border-radius:5%; background-color: {{theme.color}}">{{theme.name}}</span>
									{% endfor %}
									</p>
								</div>
								<div id="activity-desc">
									<p><strong>Descrição: </strong>{{ sa.activity.description }}</p>
								</div>
							</div>
							<div class="col-6">
								<h5>Informações</h5>
								<div id="activity-max-part">
									<p><strong>Máximo de Participantes:</strong> {{ sa.activity.max_participants }}</p>
								</div>
								<div id="activity-duração">
									<p><strong>Duração: </strong>{{ sa.activity.duration|time:"i" }} min</p>
								</div>
								<div id="activity-desc">
									<p><strong>Público alvo:</strong> {{ sa.activity.target }}</p>
								</div>
								<div id="activity-depart">
									<p><strong>Departamento:</strong> {{ sa.activity.teacher.department.name }}</p>
								</div>
								<div id="activity-location">
									<p><strong>Localização: </strong>
									{% if sa.location %}
									    {{ sa.location.get_full_location_path }}
                                    {% elif sa.location_desc %}
                                        {{ sa.location_desc }}
									{% else %}
										por definir
									{% endif %} </p>
								</div>
							</div>
							{% comment %} <div class="col-12" id="loader">
								<h5>Dias e Sessões</h5>
								<div class="text-center">
								<img src="{% static 'gif/ajax-loader_bw.gif'%}" style="width:auto">
							</div>
							</div> {% endcomment %}
							<div class="col-12" id="activity-day-session-pair">
							{% load activity_template_tags %}
							{% has_session_activity sa.id as has_session_activity_flag %}
							<h5>Dias e Sessões</h5>

							{% if has_session_activity_flag %}
							<div class="container-fluid">
							<div class="table-responsive mb-3">
							<table id="table-session" class="table-responsive">
								<thead>
									<th scope="col"></th>
									{% for sss in session_list %}
										<th scope="col">{{ sss.start_time|time:"H:i" }}</th>
									{% endfor %}
								</thead>
								<tbody>
									{% for day in dspair %}
										{% if day.session_activity.id == sa.id %}
										<tr>
										<th id="session-day" scope="row">{{ day.day.date|date:"d, M" }}</th>
										{% for sss in session_list%}
										<td>
											{% for session in day.session.all %}
												{% if session == sss %}
													<i id="time-check" class="fas  fa-check" value="{{ session.start_time }}" style="color: #00adef"></i>
												{% endif %}
											{% endfor %}
										</td>
										{% endfor %}
										</tr>
										{% endif %}
									{% endfor%}
								</body>
							    </table>
							    </div>
							</div>
							{% else %}
							<p> ainda não foram definidas datas para esta atividade </p>
							{% endif %}
							</div>
						</div>
					    </div>
				    </div>
				</td>
				<!-- end expand content-->
			</tr>
            {% endif %}
		{% endfor %}
		<!--end loop-->
		</tbody>
	</table>
	</div>
{% endif %}

</section>
</div>

{% endblock%}


{% block loader %}
{% comment %} <div id="loading"></div> {% endcomment %}
{% endblock loader%}


<!--extra js-->
{% block extrajs %}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/datatable_user.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/locales/bootstrap-datepicker.pt.min.js' %}"></script>



<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>




<script type="text/javascript" src="{% static 'js/ajax_requests.js' %}"></script>

<script type="text/javascript">


$('#expandable-filters').on('click', function()
{
    if(!$(this).hasClass('active'))
    {
        $(this).addClass('active')
        $(this).find('i').removeClass('fa-plus')
        $(this).find('i').addClass('fa-minus')
        $('.exapandable-section').show()
    }
    else
    {
        $(this).removeClass('active')
        $(this).find('i').addClass('fa-plus')
        $(this).find('i').removeClass('fa-minus')
        $('.exapandable-section').hide()
    }
})


function get_activity_date_stamp()
{
	let day_dict = {{ days|safe }}
	return [day_dict[0].fields['date'], day_dict[day_dict.length - 1].fields['date']]
}

function get_start_end_activity()
{
    let days_dict = {{ sub_time|safe }}[0]
    return [days_dict.fields['activity_limit_subscription_start_datetime'].split('T')[0], days_dict.fields['activity_limit_subscription_end_datetime'].split('T')[0]]
}
function increase_number() {
    var val = $("#max_par_filter").val()
    if(!val) val=0
    $('#max_par_filter').val(parseInt(val) + 1)
}

function decrease_number() {
    var val = parseInt($("#max_par_filter").val())
    if(!val) val=0
    $('#max_par_filter').val(val == 0 ? 0 : val - 1)
}

options_calendar = {
	type: 'date',
	color: 'link',
	startDate: get_activity_date_stamp()[0],
	minDate: get_activity_date_stamp()[0],
	maxDate: get_activity_date_stamp()[1],
	dateFormat: 'YYYY-MM-DD',
	lang: 'pt',
	todayLabel: 'Hoje',
	cancelLabel: 'Cancelar',
	clearLabel: 'Limpar',
}

options_calendar_sub = {
	type: 'date',
	color: 'link',
    isRange: true,
	startDate: get_start_end_activity()[0],
	minDate: get_start_end_activity()[0],
	maxDate: get_start_end_activity()[1],
	dateFormat: 'YYYY-MM-DD',
	lang: 'pt',
	todayLabel: 'Hoje',
	cancelLabel: 'Cancelar',
	clearLabel: 'Limpar',
}


var calendars = bulmaCalendar.attach('#date-session-filter', options_calendar);

var calendar_sub = bulmaCalendar.attach('#sub_calendar', options_calendar_sub);

// Loop on each calendar initialized
for(var i = 0; i < calendars.length; i++) {
	// Add listener to date:selected event
	calendars[i].on('select', date => {
		console.log(date);
	});
}

var input = $('.clockpicker').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});


$('.datetimepicker-dummy-wrapper input').each((index, value) => {
    $(value).css('height', 'auto')
})
</script>
{% endblock extrajs %}


