{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}


{% block title%}Atividades - Detalhe{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">

{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:activity'%}">Atividades</a></li>
	<li class="breadcrumb-item active" aria-current="page">Detalhe</li>
{% endblock %}

{% block content_card %}

<section class="" id="activity-detail">
    {% if not config.is_within_activity_datetime_limit %}
        <div class="alert alert-warning" role="alert">
        O período de propor de atividades terminou!
        </div>
    {% elif object.get_status == 'INCOMPLETA' %}
        <div class="alert alert-warning" role="alert">
        Preencha os campos obrigatórios em falta!
        </div>
    {%endif%}
    {% if object.change_request %}
        <div class="alert alert-warning" role="alert">
        Pedido de alteração na atividade!
        </div>
    {% endif %}
    <div class=" mb-5 pl-5 pr-5">

        <h1 class="title"><strong>Atividade</strong> <span style="color:#00adef;"><strong class="is-primary">{{ object.activity.name }}</strong></span></h1>
        <hr>
        <div id="update-activity" class="">
            <h3 class="subtitle">Informação</h3>
            <table class="table is-narrow is-borderless" id="detail-table">
                <thead >
                    <th style="width: 15%"></th>
                    <th style="width: 80%"></th>
                </thead>
            <tbody>
                <tr>
                    <th >Nome:</th>
                    <td>{{ object.activity.name }}</td>
                </tr>
                <tr>
                    <th >Descrição:</th>
                    <td>{{ object.activity.description }}</td>
                </tr>
                <tr>
                    <th>Duração:</th>
                    <td>{{ object.activity.duration|time:"i" }} min</td>
                </tr>
                <tr>
                    <th>Temas:</th>
                    <td><strong> {% for t in object.activity.theme.all %}
                        <span class="p-1 text-lowercase" style="color: white; border-radius:5%; background-color: {{t.color}}">{{t.name}}</span>
                    {% endfor%}</strong></td>
                </tr>
                <tr>
                    <th>Público Alvo:</th>
                    <td>{{ object.activity.target }}</td>
                </tr>
                <tr>
                    <th>Máximo de Participantes:</th>
                    <td>{{ object.activity.max_participants }}</td>
                </tr>
                <tr>
                    <th>Nº de Colaboradores:</th>
                    <td>{{ object.activity.n_colab }}</td>
                </tr>
                <tr>
                <th>Estado:</th>
                    <td>
                     <strong class="text-lowercase
                        {% if object.get_status == 'VÁLIDO' %}
                            text-success
                        {% elif object.get_status == 'PENDENTE'%}
                            text-info
                        {% elif object.get_status == 'REJEITADA'%}
                            text-danger
                        {% else %}
                            text-warning
                        {% endif %}
                        ">{{ object.get_status }}</strong>
                    </td>
                </tr>
                <tr>
                    {% if object.change_request %}
                    <th>Pedido de Alteração:</th>
                    <td>
                        {{ object.change_request }}
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Docente:</th>
                    <td>{{ object.activity.teacher.user.username }}</td>
                </tr>
            </tbody>
            </table>
            {% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}
                <a href="updateinfo" class="button is-link  mt-2" id="update-default"><i class="fas has-text-white pr-2 fa-sm fa-pencil-alt"></i>Alterar Secção</a>
            {% endif%}
        </div>
        <hr>
        <div id="update-session">
            <h3 class="subtitle">Dias e Sessões</h3>
            {% if dspair %}
            <div class="table-responsive mb-3">
            <table class="table">
                <thead>
                    <th scope="col"></th>
                    {% for sss in session_list %}
                        <th scope="col">{{ sss.start_time|time:"H:i" }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for day in dspair %}
                        <tr>
                        <th scope="row">{{ day.day.date|date:"d,M" }}</th>
                        {% for sss in session_list%}
                        <td>
                            {% for session in day.session.all %}
                                {% if session == sss%}
                                    <i class="fas  fa-check" style="color: #00adef"></i>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                        </tr>
                    {% endfor%}
                </body>
             </table>
            </div>
                {% comment %} {% for day in dspair %}
                    <p class="m-0"><strong>{{ day.day }}</strong></p>
                    <p>{% for session in day.session.all %}
                        {{ session }} {{object.activity.duration}}
                    {% endfor %}
                    </p>
                {% endfor %} {% endcomment %}

                {% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}

                <a href="updatesession" class="button is-link  mt-2" id="update-default"><i class="fas has-text-white pr-2 fa-sm fa-pencil-alt"></i>Alterar Secção</a>
                {% endif %}
                {% else %}
                    <span>não existe nenhuma sessão{% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}, deseja <a class="link" style="color:#00adef" href="updatesession"> adicionar?</a></span>
                {%endif%}
            {% endif%}
        </div>
        <hr>
        <div id="update-material">
            <h3 class="subtitle">Material para Atividade</h3>
            {% if object.materialactivity_set.all %}

                <div class="table-responsive">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">material</th>
                            <th scole="col">quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in object.materialactivity_set.all %}

                        <tr>
                            <td>{{ t.material }}</td>
                            <td>{{ t.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}

            <a href="updatematerial" class="button is-link  mt-2" id="update-default"><i class="fas has-text-white pr-2 fa-sm fa-pencil-alt"></i>Alterar Secção</a>
            {% endif %}
            {% else %}
                <span>não existe nenhum material para a sua atividade{% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}, deseja <a class="link" style="color:#00adef" href="updatematerial"> adicionar?</a></span>
                {% endif %}
        {% endif %}
        </div>
        <hr>
        <div id="update-location">
        <h3 class="subtitle">Localização</h3>
            {% if object.location %}
                <p><strong>sala: </strong>{{ object.location }}</p>
                <p><strong>edificio: </strong>{{ object.location.building.name }}</p>
                <p><strong>campus: </strong>{{ object.location.building.campus }}</p>
                {% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}

                 <a href="updatelocation" class="button mt-3 is-link" id="update-default"><i class="fas has-text-white pr-2 fa-sm fa-pencil-alt"></i>Alterar Secção</a>
                {% endif %}
            {% elif object.location_desc %}
                <p>Descrição</p>
                <p><strong>sala: </strong>{{ object.location_desc }}</p>
                {% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}
                    <a href="updatelocation" class="button mt-3 is-link  mt-2" id="update-default"><i class="fas has-text-white pr-2 fa-sm fa-pencil-alt"></i>Alterar Secção</a>
                {% endif %}
            {% else %}
                <span>não existe nenhuma localização para a sua atividade{% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}, deseja <a class="link" style="color:#00adef" href="updatelocation"> adicionar?</a></span>
            {% endif %}
        {% endif%}
        </div>
    {% if object.activity.teacher.user.id == request.user.id and config.is_within_activity_datetime_limit %}

         <a href="delete" class="button is-danger mt-5"><i class="fas has-text-white pr-2 fa-sm fa-trash"></i>Eliminar</a>
    {% endif %}
    </div>
</section>
{% endblock %}
{% block extrajs %}
{% endblock %}