{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load bootstrap4 %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title%}Atividade - Propor{% endblock %}

{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<link href="{% sass_src 'scss/atividades_wizard.scss' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
<style>
.index-content{
	top: 128px !important;
}
</style>
{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:activity'%}">Atividades</a></li>
	<li class="breadcrumb-item active" aria-current="page">Criar</li>
{% endblock %}

{% block content_card %}
<p class="step-number" style="display:none">{{ wizard.steps.step1 }}</p>
<div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mb-2">
          <div class="px-0 pb-0 mt-3 mb-3">
              <h2><strong>Propor Atividade</strong></h2>
              <p>Preenche os campos obrigatórios para ir para a próxima página</p>
              <div class="row">
                  <div class="col-md-12 mx-0">
                      <form id="msform" action="" method="post">
                        {% csrf_token %}
                          <table>
                          <!-- progressbar -->
                          <ul id="progressbar">
                              <li class="active" id="account"><strong>Atividade</strong></li>
                              <li id="personal"><strong>Dias e Sessões</strong></li>
                              <li id="payment"><strong>Requisitos</strong></li>
                              <li id="confirm"><strong>Localização</strong></li>
                          </ul> <!-- fieldsets -->
                          {% comment %} management form {% endcomment %}
                          {{ wizard.management_form }}
                          <h3 class="mb-4">
                          {% if wizard.steps.step1 == 1 %}
                            Defina as atividades
                          {% elif wizard.steps.step1 == 2 %}
                            Defina os dias e Sessões
                          {% elif wizard.steps.step1 == 3 %}
                            Escolha os materiais
                          {% elif wizard.steps.step1 == 4 %}
                            Escolha o local
                          {% endif %}</h3>
                          {% if wizard.steps.step1 == 3%}
                          <div class="d-flex mb-3">
                            <a class="d-flex button d-inline is-outlined is-link text-left" id="addmorematerials">Adicionar Materiais</a>
                          </div>
                          {% endif %}

                          {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}

                            <fieldset class="text-left " id="group-fieldset">
                              {%if wizard.steps.step1 == 3%}
                                <fieldset id="form-fields"  style="align-items: center">
                              {% else %}
                                <fieldset id="form-fields">
                              {% endif %}
                                {% bootstrap_form form %}
                              </fieldset>
                            </fieldset>
                          {% endfor %}

                          {% comment %} if formtools exist then {% endcomment %}
                          {% else %}
                            <div class="text-left">
                            {% if wizard.steps.step1 == 4%}
                              <div class="radio">
                                <label><input type="radio" value="sala" name="optradio"> Escolher Sala</label>
                              </div>
                              <div class="radio">
                                <label><input type="radio" value="desciption" name="optradio"> Descrição da Sala</label>
                              </div>
                              <div class="form-step4-onload">
                                {% bootstrap_form wizard.form %}
                              </div>
                            {% else %}
                              {% bootstrap_form wizard.form %}
                            {% endif %}
                            </div>

                          {% endif %}

                          {% comment %} if step is 2 or 3, then add more fields {% endcomment %}
                          <div class="text-left">
                          {% if  wizard.steps.step1 == 2%}
                            <a id="addmoresession" class="button is-link is-outlined">Adicionar</a>
                          {% elif wizard.steps.step1 == 3 %}
                            <a id="addmore" class="button  is-link is-outlined">Adicionar</a>
                          {% endif %}
                          </div>
                          </table>

                          {% comment %} cancelar {% endcomment %}
                          <div class="btn-section mt-5">
                          <a class="next button is-dark float-left" href="{% url 'activity:activity' %}" value="">cancel</a>

                          <div class="next-sec float-right">
                          {% comment %} passo anterior {% endcomment %}
                          {% if wizard.steps.prev %}
                            {% comment %} <button class="next"name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button> {% endcomment %}
                            <button name="wizard_goto_step" class="button " type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                          {% endif %}

                          {% comment %} next button or submit {% endcomment %}
                          {% if wizard.steps.step1 == 4%}
                            <input type="submit" class="next button is-success" value="{% trans "Submeter" %}"/>
                          {% else %}
                            <input type="submit" class="next button is-link" value="{% trans "próximo" %}"/>
                          {% endif %}
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/atividades_wizard.js' %}"></script>
<script src="{% static 'js/ajax_requests.js' %}"></script>
<script>

$(document).on('click', '#addmorethemes', () =>
{
  window.open(window.location.origin  + '/atividades/tema/criar/','height=480,width=640', false);
})

$(document).on('click', '#addmorematerials', () =>
{
  window.open(window.location.origin  + '/atividades/material/criar','height=480,width=640', false);
})

</script>
{% endblock %}