{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Atividades - Alterar{% endblock %}

{% block extrahead %}
<style>
.index-content{
	top: 128px !important;
}
.multifield
{
  margin-bottom: 30px;
}

</style>
{% endblock %}

{% block path%}

<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:activity'%}">Atividades</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="../">Detalhe</a></li>
<li class="breadcrumb-item active" aria-current="page">Alterar</li>
{% endblock %}

{% block content_card %}
{{ form.media }}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<div class="mt-2 mt-2 pl-5 container pr-5 pt-2 pt-2  mb-3">
  <h2 class="text-center title is-3 mb-5">Alterar Materiais da Atividade</h2>
  <p class = "text-center">Preencha os campos obrigatórios para alterar os materiais da atividade</p>
  <div class="icon-hr mb-5">
        <span></span>
        <div>
            <span>
                <i class="fas fa-pencil-ruler" aria-hidden="false"></i>
            </span>
        </div>
        <span></span>
  </div>
  <div class="">
   <form method="POST">
      {% csrf_token %}
     <fieldset class="text-left " id="group-fieldset">
        <fieldset id="form-fields"  style="align-items: center">
            {{  mform|crispy  }}
        </fieldset>
    </fieldset>
    <div class="mt-3 pb-3">
        <a id="addmoresession" class="button is-outlined is-link">Adicionar Material</a>
        </div>
      <div class="form-submit">
        <a onclick="goback()" class="button is-dark has-text-white">Cancelar</a>
        <button class="button is-link float-right" type="submit">Alterar</button>
      </div>
    </form>
  </div>
  </div>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/activity_update.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script>
$('.multiField').css('margin-bottom', '30px')
$(document).on('click', '#addmorematerials', () =>
{
  window.open(window.location.origin  + '/atividades/material/criar','height=480,width=640', false);
})
</script>
{% endblock extrajs %}
