{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades - Delete{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">

{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:activity'%}">Atividades</a></li>
	<li class="breadcrumb-item active" aria-current="page">Apagar</li>
{% endblock %}


{% block content_card %}
<div class=" mb-5 pl-5 pr-5 pb-5">
	<div class="container-fluid ">
		<div class="row">
			<div class="col-xs-12 col-md-8"></div>
				<div class="col-xs-6 col-md-4 text-right">
					<a href="javascript:history.back()"><h4 class="text text-primary">&times;</h4></a> <!--EU ESTIVE AQUI XD! Agora ja podes voltar a pagina anterior-->
				</div>
			</div>
			<div class="alert" role="alert">
					<h1 class="text text-dark">{{ object.name }}</h1>
					<h3><strong>Atenção!</strong> Deseja apagar esta atividade?</h3>
					<form method="POST">
						{% csrf_token %}
						<div class="form-group mt-1 mt-2">
							<button class="button is-danger" type="submit">Eliminar</button>
							<a class="button is-dark" href="{% url 'activity:activity' %}{{object.pk}}">Cancelar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}