{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% load bootstrap4 %}
{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/bulma_calendar_time_picker.scss' %}" rel="stylesheet">


<link href="{% sass_src 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datepicker/css/bootstrap-datepicker3.min.css' %}">

 {% comment %} <script>
  $( function() {
    $( "#date-session-filter" ).datepicker();
  } );
  </script> {% endcomment %}


{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item active" aria-current="page">Atividades</li>

{% endblock %}
{% block content_card %}
{% if not config.is_within_activity_limit %}
        <div class="alert alert-warning" role="alert">
        As inscrições de atividades para o dia aberto ainda não começaram
        </div>
{% endif %}


{% endblock%}

<!--extra js-->
{% block extrajs %}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
{% endblock extrajs %}


