{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% load bootstrap4 %}
{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/dia_aberto.scss' %}" rel="stylesheet">
<link href="{% sass_src 'scss/bulma_calendar_time_picker.scss' %}" rel="stylesheet">


<link href="{% sass_src 'vendor/bulma-calendar-master/dist/css/bulma-calendar.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datepicker/css/bootstrap-datepicker3.min.css' %}">

 {% comment %} <script>
  $( function() {
    $( "#date-session-filter" ).datepicker();
  } );
  </script> {% endcomment %}


{% endblock %}

{% block path %}
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
	<li class="breadcrumb-item active" aria-current="page">Atividades</li>


<style>
.card.index-content
{
	top: 128px;
}
</style>
{% endblock %}
{% block content_card %}
{% if not config.is_within_activity_datetime_limit %}
        <div class="alert alert-warning" role="alert">
        O período de propor de atividades terminou!
	</div>
{% endif %}
<!-- TABLE FOR FILTERING -->
{% if session_activity %}
<div class="ml-5 mr-5 border-bottom">
<h1 class="title mb-4">Atividades</h1>
</div>
<div class="mb-5 ml-5 mr-5 mt-3 row"  id="loader">
<div class ="col-sm-12 col-lg-3 mb-4">
	<div class="mb-3 header-filter">
		<p class="menu-label"> Filtros Atividade</p>
	</div>
	<div class="filters row">
	<div class="col-12 mb-3">
			<div class="autocomplete control">
            <div class="control has-icons-left is-clearfix">
              <input id="activity-name-filter" class="input" type="text" autocomplete="off" placeholder="Nome da Atividade">
              <span class="icon is-left">
                <i class="fas fa-search fa-lg" style="color: rgb(170, 170, 170)"></i>
              </span>
            </div>
          </div>
		</div>
		<div class="col-12 mb-3">
			<div class="control is-expanded">
           		 <span class="select is-fullwidth is-empty">
					<select class="form-control" title="" id="status">
						<option class="hidden" value="" disabled selected hidden><div>Estado</div></option>
						<option value="válida">Válida</option>
						<option value="pendente">Pendente</option>
						<option value="incompleta">Incompleta</option>
						<option value="rejeitada">Rejeitada</option>
					</select>
					</span>
				</div>
			</div>
		</div>

	<div class="mt-3 range-pick">
		<div class="mb-3 header-filter">
			<p class="menu-label">Filtros de sessão</p>
		</div>
		<div class="">
			<div class="mb-3">
				<div class="input-filter-class">
					 {% comment %} <i class="fas fa-calendar-alt" style="font-size:1em"></i>  {% endcomment %}
					<input  type="date" autocomplete="off" id="date-session-filter" placeholder="Dia..."/>
				</div>
			</div>
			<div class="time-filter-group row pl-3">
			<div class="pl-0 col-6">
				<div class="input-filter-class input-group clockpicker">
					<i class="fas fa-clock"></i>
					<input  type="text" autocomplete="off" id="fromtime" placeholder="De..." style="width:50"/>
				</div>
			</div>
			<div class="col-6 pl-0">
				<div class="input-filter-class input-group clockpicker">
					<i class="fas fa-clock"></i>
					<input  type="text" autocomplete="off" id="tilltime" placeholder="Até..." style="width:50"/>
				</div>
			</div>
			</div>
		</div>
	</div>
	<btn class="mt-3 button is-danger" id="clear-filters" style="cursor:pointer"><i class="fas has-text-white pr-2 fa-md fa-times"></i>Limpar Filtros</btn>
</div>

<div class="col-9">

<!-- table for input-->
<section class="table-section">

{% if user.teacher %}
{% if config.is_within_activity_datetime_limit %}
<div class="btn-class mb-3">
	<a id="nova-atividade" class="button is-success" style="text-decoration:none;" href="{% url 'activity:activity-create'%}"><i class="fas fa-xs has-text-white pr-1 fa-plus"></i>Propor Nova Atividade</a>
</div>
{% endif %}
{% endif %}

	<table id="activitytable" class="display responsive" width="100%">
		<!--header-->
		<thead class="text-center">
			<tr>
				<th class="all" >Nome</th>
				<th class="all">Submetido a</th>
				<th class="all">Estado</th>
				<th class="all"></th>
				<th class="none"></th>
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		{% for sa in session_activity %}
			<tr dt-responsive id="{{ sa.id }}">
				<td class="table-name-section"><div>{{ sa.activity.name }}</div></td>
				<td class="table-create-at-section"><div>{{ sa.created_at}}</div></td>
				<td class="table-status-section">
				<div class="text-lowercase m-0 tag text-center
                {% if sa.get_status == "PENDENTE" %}
                    is-info
                {% elif sa.get_status == "VÁLIDA" %}
                    is-success
                {% elif sa.get_status == "REJEITADA" %}
                   is-danger
                {% else %}
                   is-warning
				{% endif %}
				 " style="width: 7rem; font-size: small;"> {{ sa.get_status }}</div>
                </td>
				<!--expand content-->
				<td>
				{% if sa.activity.teacher.user.id == request.user.id %}
					<a href="{% url 'activity:activity' %}{{sa.pk}}"  data-toggle="tooltip" data-placement="top" title="Detalhe e Alterar"><i class="fas fa-pencil-alt"></i></a>
					{% if config.is_within_activity_datetime_limit %}
					<a href="{% url 'activity:activity' %}{{sa.pk}}/delete" data-toggle="tooltip" data-placement="top" title="Eliminar">
					<i class="text-danger fas fa-trash-alt"></i>
					{%endif %}
				{% endif %}
				</a>
				</td>
				<td>
				<div class="table-expand-content row">
					<div class="activity-info container-fluid">
						<div id="activity-info-block" class="row">
							<div class="col-6">
								<div class="pb-2" id="activity-name">
									<h5> Atividade <span style="color:#00adef">{{sa.activity.name}}</span></h5>
								</div>
								<div id="activity-themes">
									<p>
									{% for theme in sa.activity.theme.all %}
										<span class="p-1 text-lowercase" style="color: white; border-radius:5%; background-color: {{theme.color}}">{{theme.name}}</span>
									{% endfor %}
									</p>
								</div>
								<div id="activity-desc">

									<p><strong>Descrição: </strong>{{ sa.activity.description }}</p>
								</div>
							</div>
							<div class="col-6">
								<h5>Informações</h5>
								<div id="activity-max-part">
									<p><strong>Máximo de Participantes:</strong> {{ sa.activity.max_participants }}</p>
								</div>
								<div id="activity-duração">
									<p><strong>Duração: </strong>{{ sa.activity.duration|time:"i" }} min</p>
								</div>
								<div id="activity-desc">
									<p><strong>Público alvo:</strong> {{ sa.activity.target }}</p>
								</div>
								<div id="activity-location">
									<p><strong>Localização: </strong>
									{% if sa.location %}
										{{ sa.location.get_full_location_path }}
									 {% elif sa.location_desc %}
                                        {{ sa.location_desc }}
									{% else %}
										por definir
									{% endif %} </p>
								</div>
							</div>
							{% comment %} <div class="col-12" id="loader">
								<h5>Dias e Sessões</h5>
								<div class="text-center">
								<img src="{% static 'gif/ajax-loader_bw.gif'%}" style="width:auto">
							</div>
							</div> {% endcomment %}
							<div class="col-12" id="activity-day-session-pair">
							{% load activity_template_tags %}
							{% has_session_activity sa.id as has_session_activity_flag %}
							<h5>Dias e Sessões</h5>

							{% if has_session_activity_flag %}
							<div class="container-fluid">
							<div class="table-responsive mb-3">
							<table id="table-session" class="table-responsive">
								<thead>
									<th scope="col"></th>
									{% for sss in session_list %}
										<th scope="col">{{ sss.start_time|time:"H:i" }}</th>
									{% endfor %}
								</thead>
								<tbody>
									{% for day in dspair %}
										{% if day.session_activity.id == sa.id %}
										<tr>
										<th id="session-day" scope="row">{{ day.day.date|date:"d, M" }}</th>
										{% for sss in session_list%}
										<td>
											{% for session in day.session.all %}
												{% if session == sss %}
													<i id="time-check" class="fas  fa-check" value="{{ session.start_time }}" style="color: #00adef"></i>
												{% endif %}
											{% endfor %}
										</td>
										{% endfor %}
										</tr>
										{% endif %}
									{% endfor%}
								</body>
							</table>
							</div>
							</div>
							{% else %}
							<p> ainda não foram definidas datas para esta atividade </p>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
				</td>
				<!-- end expand content-->
			</tr>
		{% endfor %}
		<!--end loop-->
		</tbody>
	</table>
	</div>
</section>
</div>
{% comment %} <div id="loading"></div> {% endcomment %}

{% else %}
<div class="alert alert-info" role="alert">
    Ainda não foram propostas atividades!
</div>

{% if config.is_within_activity_datetime_limit %}
<div class="btn-class ml-3 mb-3">
	<a id="nova-atividade" class="button is-success" style="text-decoration:none;" href="{% url 'activity:activity-create'%}"><i class="fas fa-xs has-text-white pr-1 fa-plus"></i>Propor Nova Atividade</a>
</div>
{% endif  %}
{% endif %}

{% endblock%}


{% block loader %}
{% endblock loader%}


<!--extra js-->
{% block extrajs %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/datatable_user.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/datepicker/locales/bootstrap-datepicker.pt.min.js' %}"></script>



<script type="text/javascript" src="{% static 'vendor/bulma-calendar-master/dist/js/bulma-calendar.min.js' %}"></script>




{% comment %} <script type="text/javascript" src="{% static 'js/ajax_requests.js' %}"></script> {% endcomment %}

<script type="text/javascript">

$(document).ready(()=>{
  $('[data-toggle="tooltip"]').tooltip()
})
function get_activity_date_stamp()
{
	let day_dict = {{ days|safe }}
	return [day_dict[0].fields['date'], day_dict[day_dict.length - 1].fields['date']]
}

options_calendar = {
	type: 'date',
	color: 'link',
	startDate: get_activity_date_stamp()[0],
	minDate: get_activity_date_stamp()[0],
	maxDate: get_activity_date_stamp()[1],
	dateFormat: 'YYYY-MM-DD',
	lang: 'pt',
	todayLabel: 'Hoje',
	cancelLabel: 'Cancelar',
	clearLabel: 'Limpar'
}


var calendars = bulmaCalendar.attach('[type="date"]', options_calendar);

options_time = {
	type: 'time',
	icons: {
		time: window.location.origin + '/static/img/clock.svg.png',
		date: window.location.origin + '/static/img/clock.svg.png'
	},
}

var timepickers = bulmaCalendar.attach('[type="time"]', options_time)



// Loop on each calendar initialized
for(var i = 0; i < calendars.length; i++) {
	// Add listener to date:selected event
	calendars[i].on('select', date => {
		console.log(date);
	});
}



var input = $('.clockpicker').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});


$('.datetimepicker-dummy-wrapper input').each((index, value) => {
    $(value).css('height', 'auto')
})

</script>
{% endblock extrajs %}


