
/*posição do formulario search */
.search {
  position: relative;
  top: 110px;
  left: 10px;
  margin-top: 10px;
  padding-top: 10px;
 
  
}



.table button{
    
    margin:0 auto;
    width:100%;
}


/* border="0" style="width: 67%; margin: 0 auto 2em auto;*/


#search_table{
	
	
	border :10px;
	width: 80px;
	padding-left: 5px;
	margin-left:0px;
	padding-top:10px;
	
}

.accao {
 
  
  top: 100px;
  margin-top: 10px;
  padding-top: 10px;
 
  
}

.accao a {
 
    margin:0 auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width:100%;
    justify-content: center;
}


#hint_id_password1, #hint_id_password2,#hint_id_email, #hint_id_username, #hint_id_password{
  display: none;
  font-size: 0pt;
}

#icon2{
  display: none;
  font-size: 0pt;
}
#icon4{
  display: none;
  font-size: 0pt;
}
#icon3{
  display: none;
  font-size: 0pt;
}
#icon5{
  display: none;
  font-size: 0pt;
}



