{% extends 'inscricao/base_with_container.html' %}

{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block title %}Configurar definições das Atividades do Dia Aberto{% endblock %}

{% block extrahead %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.min.css' %}"/>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'activity:config-activity' %}">Configuração do Dia Aberto</a></li>
    <li class="breadcrumb-item active" aria-current="page">Alterar Configuração</li>
{% endblock %}


{% block content_card %}
<div class="mb-5  container pb-5 pl-5 pr-5 col-xs-12 col-sm-12 col-md-12 col-lg-6">

  <h2 class="title text-center is-3">Configurações do Dia Aberto</h2>
    <p class = "text-center">Preencha os campos obrigatórios para alterar uma configuração de atividades.</p>
      <div class="icon-hr  icon-hr-edit">
          <span></span>
          <div>
              <span>
                  <i class="fa fa-cogs" aria-hidden="false"></i>
              </span>
          </div>
          <span></span>
      </div>
  <div class="container-fluid  mt-2 pt-2">
   <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="subtitle is-4">Datas Limite</legend>
        {% bootstrap_form form %}
      </fieldset>
      <div class="form-group">
        <a class="button is-dark" href="{% url 'activity:config-activity' %}">Cancelar</a>
        <button class="button is-link float-right" type="submit">Submeter</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
<script type="text/javascript" src="{% static 'vendor/clockpicker/dist/bootstrap-clockpicker.js'%}"></script>

<script>

$('input').attr('autocomplete', 'off')
var input = $('input:not(:last)').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
});
</script>
{% endblock extrajs %}