{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}
{% load filter_is_user_types %}

{% block title %}Configurar definições das Atividades do Dia Aberto{% endblock %}

{% block extrahead %}
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Configuração das Atividades do Dia Aberto</li>
{% endblock %}

{% block content_card %}
<div class="mb-5  pl-5 pr-5 pb-5">
  <div class="row">

    <div class="col-9">
      <h2 class="title is-3">Configurações das Atividades do Dia Aberto</h2>
    </div>
    {% if config %}
    {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" and config.sub_activity_started %}
    <div class="col-3">
      <a class="button is-link is-medium" href="{% url 'activity:config-update' %}" type="button"><i class="text-white fas fa-pencil-alt pr-2"></i>Alterar Configuração</a>
    </div>
    {% endif %}
  </div>
  <div class="container-fluid border-top mt-2 pt-2">
    <h3 class="subtitle is-4">Informações </h3>
    <table class="table table-striped table-sm col-6">
      <tbody>
        <tr>
       <th scope="row">Hora de início das sessões:</th>
          <td>{{ config.start_time }} h</td>
        </tr>
        <tr>
          <th scope="row">Hora de fim das sessões:</th>
          <td>{{ config.end_time }} h</td>
        </tr>
        <tr>
          <th scope="row">Intervalo de tempo entre sessões:</th>
          <td>{{ config.session_interval }} min</td>
        </tr>
      </tbody>
    </table>
    </div>
    {% else %}
    </div>
       <br>
    <h3 class="subtitle is-4">Configuração em falta</h3>
    <br>
    {% if request.user.is_authenticated and request.user|is_user_types:"Administrator" %}
      <a class="button is-success is-medium" href="{% url 'activity:config-create' %}" type="button">Criar Configuração</a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

<!--extra js-->
{% block extrajs %}
{% endblock extrajs %}
