{% load activity_template_tags %}
{% has_session_activity sa.id as has_session_activity_flag %}
<h5>Dias e Sessões</h5>

{% if has_session_activity_flag %}
<div class="container-fluid">
<div class="table-responsive mb-3">
<table id="table-session" class="table-responsive">
    <thead>
        <th scope="col"></th>
        {% for sss in session_list %}
            <th scope="col">{{ sss.start_time|time:"H:i" }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for day in dspair %}
            {% if day.session_activity.id == sa.id %}
            <tr>
            <th id="session-day" scope="row">{{ day.day.date|date:"d, M" }}</th>
            {% for sss in session_list%}
            <td>
                {% for session in day.session.all %}
                    {% if session == sss %}
                        <i id="time-check" class="fas  fa-check" value="{{ session.start_time }}" style="color: #00adef"></i>
                    {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
            </tr>
            {% endif %}
        {% endfor%}
    </body>
</table>
</div>
</div>
{% else %}
<p> ainda não foram definidas datas para esta atividade </p>
{% endif %}