<option value="">---------</option>
{% if location %}
{% for l in location %}
<option value="{{ l.pk }}">{{ l }}</option>
{% endfor %}
{% else %}
<option class="has-text-grey-light" value="" disabled>escolha outro edifício</option>
{% endif %}