<span class="subtitle">Informações</span>
<div class="pl-2 mt-3" name="{{ sa.id }}" id="teacher-info-section">
    <p>
    <strong>Docente:</strong> {{sa.activity.teacher.user.username }}
    </p>
    <p>
    <strong>Departamento:</strong> {{sa.activity.teacher.department.name }}
    </p>
</div>
<div id="material-info-section">
    {% if no_mat %}
        <span class="pl-2 has-text-danger font-weight-bold" >{{ no_mat }}</span>
    {% else %}
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">material</th>
                    <th scole="col">quantidade</th>
                </tr>
            </thead>
            <tbody>

                {% for t in sa.materialactivity_set.all %}
                <tr>
                    <td>{{ t.material }}</td>
                    <td>{{ t.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<strong class="pl-2 has-text-link">Local:</strong>
<div class="d-inline" id="sala_modal">
{{ location }}
</div>