
{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Profile
{% endblock%}
{% block content_card %}
<div></div>
<div></div>
<div class = "mt-5 pt-5 mb-5 pb-5 container">	
	<h3 class="mb-4">Create Profile</h3>
		<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					
						<h3 class="mb-4">Add Profile</h3>
							{{ form|crispy  }}
				</fieldset>
				
				<div class="form-group">
					<button class="btn btn-outline-primary" type="submit">
							Create profile
					</button>
				</div>
		</form>
<div></div>
<div></div>	
<div class="border-top pt-3">
			<small class="text-muted">
					Need an account?
					{% comment %} <a href="{% url 'register' %}">Sign Up</a> {% endcomment %}
			</small>
	</div>
</div>
{% endblock content_card %}