{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Participant Register
{% endblock%}
{% block content_card %}

<div class=" mb-5 p-5 row">
<div class ="col-6">

		<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					
						<h3 class="mb-4">Dados do Administrador</h3>

						{% for field in form %}
							{{ form|crispy }}
						{% endfor %}
						
				</fieldset>
				<div class="form-group">

					<button class="btn btn-outline-primary" type="submit">
							Confirmar
					</button>
				</div>
		
		</form>
	
</div>
</div>
{% endblock content_card %}