{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Mudar a Password
{% endblock%}
{% block content_card %}

<html lang="pt-br">

<div class=" mb-5 p-5 row">
	<div class ="ml-5 col-8 ">

	<h3 class="mb-4 subtitle is-3">Mude a sua Password </h3>
	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				
					
						{{ form|crispy }}
			</fieldset>
			<div class="container pr-5 ">
				<a class="btn btn-warning" href="{%url 'user_profile' %}" type="submit"> &nbsp;&nbsp;cancel&nbsp;&nbsp;</a>
				<button class="btn btn-success float-right " type="submit">Avançar</button>
			</div>
	
	</form>
	
</div>
</div>
{% endblock content_card %}