{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Colaboradores
{% endblock%}
{% block content_card %}
<div class = "mt-5 pt-5 mb-5 pb-5 container">
	<h3 class="mb-4">Colaboradores</h3>
	{% for colaborator in colaborators %}
		<div style="margin-top:10px;">
			<li>
			
				<a href='#'>{{colaborator}}</a> <a href='{% url "colaborator_edit" pk=colaborator.pk %}' class="btn btn-outline-warning">Editar</a>
				
				<a href='{% url "colaborator_delete" pk=colaborator.pk %}' class="btn btn-outline-danger">Remover</a>
			
			</li> 
		</div>
	{% endfor %}

	
	
<div class="border-top pt-3">
	<a href='{% url "add_colaborator" %}' class="btn btn-outline-primary">Adicionar Colaborador</a>
</div>
</div>
{% endblock content_card %}





