{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Apagar Utilizador
{% endblock%}
{% block content_card %}

<div class=" mb-5 p-5 row">
	<div class ="ml-5 col-6 ">

	<h3 class="mb-4 subtitle is-3">Apagar Utilizador</h3>
	<br>
	<br>
	<form method="post">{% csrf_token %}

		<div class="container text-justify">
	    	<p><Strong>Atenção : </Strong>Tem a certeza que deseja apagar a sua conta de utilizador ? </p> Ao apagar a sua conta terá que efectuar um novo registo.

	    	<br>
	    	<br>
	    	<br>
	    	
	    </div>
		<div class="container mr-5 ml-1 ">
				<a class="btn btn-warning" href="{%url 'user_profile' %}" type="submit"> &nbsp;&nbsp;cancel&nbsp;&nbsp;</a>
				<button class="btn btn-danger float-right " type="submit">Apagar</button>
		</div>

	</form>
	
</div>
</div>

{% endblock content_card %}