{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Apagar grupo
{% endblock%}
{% block content_card %}
<div class = "mt-5 pt-5 mb-5 pb-5 container">
	<h3 class="mb-4">Apagar grupo</h3>
	<form method="post">{% csrf_token %}
    	<p>Tem a certeza que deseja apagar :

    				 "{{ object }}" ?</p>
    	
    	<button class="btn btn-outline-danger" type="submit">
						Apagar
		</button>

	</form>
	

</div>
{% endblock content_card %}