{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Login
{% endblock%}

{% block content %}
<!--fancy container-->

<div class=" p-0 container-fluid ml-auto mr-auto">
    <div class="card index-content">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb bg-white">
                {% block path%}
                <li class="breadcrumb-item " aria-current="page"><a href="{% url 'home' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Login</li>
                {% endblock %}
            </ul>
        </nav>
        <section id="messages-section">
        {% if messages %}
            {% for message in messages %}
	            <div id="message_container" class=" alert alert-danger" role="alert">
	            		<strong>Erro! </strong>{{ message }}
	            </div>
            {% endfor %}
        {% endif %}
        </section>
        {% block content_card %}


<div class=" mb-5 p-5 row">
<div class ="col-8 ml-6">


	<h3 class="mb-4 subtitle is-3 ">LOGIN</h3>
	<br>
	<form method="POST">
			{% csrf_token %}

			<fieldset class="form-group" >


					<p>
						<label for="username_form">Username</label>
						<input type="text" id="username_form" name="username_form" class="form-control">
					</p>
					<br>
					<p>
						<label for="password_form">Password</label>
						<input type="password" id="password_form" name="password_form" class="form-control">
					</p>

			</fieldset>
			<div class="form-group">
				<a class="btn btn-warning" href ="{% url 'home' %}" type="submit">cancelar</a>
				<button class="btn btn-success float-right" type="submit">Log In</button>
			</div>
	</form>


	<div class="border-top pt-3">
			<small class="text-muted">
					<a class="ml-2" href="{% url 'register' %}">Precisa de uma Conta? </a>
			</small>
			<small class="text-muted">
					<a class="ml-2" href="{% url 'password_reset' %}">Esqueceu a Password? </a>
			</small>
	</div>
</div>
</div>




        {% endblock content_card %}
    </div>
</div>
<!--fancy container-->
{% endblock content %}