{% extends 'inscricao/base_with_container.html' %}
{% block title%}
Logout
{% endblock%}
{% block content_card %}
    <div class="container pt-5 mt-5 pb-5 mb-5">
        <div class="row">
            <div class="">
                <h3> A sua sessão foi terminada </h3>
                <div class=" pt-3">
										<a class="ml-2" href="{% url 'login' %}">Iniciar sessão novamente?</a>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
{% endblock content_card %}