{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Participante - Professor
{% endblock%}
{% block content_card %}
<div class = "mt-5 pt-5 mb-5 pb-5 container">
	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				
					<h3 class="mb-4">Participante - Professor</h3>
						{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-primary" type="submit">
						Confirmar
				</button>
			</div>
	
	</form>
	
</div>
{% endblock content_card %}