{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block title%}
Registo
{% endblock%}
{% block path%}
		 <!--nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-white">
				<li class="breadcrumb-item " aria-current="page"><a href = "{% url 'home'%}" >Home</a></li>
				<li class="breadcrumb-item active " aria-current="page"> Registo </li>
				
			</ol-->
		</nav>
 {% endblock %}
{% block content_card %}

<div class=" mb-5 p-5 row">
<div class ="col-8">
	<div class="container">
 
		  
		  <ul class="nav nav-tabs nav-justified">
		    <li class="nav-item">
		      <a class="nav-link disabled" href="#">Preencha os Dados Pessoais</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link disabled" href="#">Prencha outros Dados Pessoais</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link Active" href="#"><strong>Preencha os Dados de Perfil<strong></a>
		    </li>
		  </ul>
		</div>

		
		<br>
		<br>
		<br> 
		<form method="POST">
			<h3 class="mb-4 subtitle is-3">Dados do Participante</h3>
				{% csrf_token %}
				<fieldset class="form-group">
					
						
							 {% bootstrap_form form %} 
				</fieldset>
				<div class="form-group">
					<a href= "{% url 'profile_update' pk=request.user.profile.pk %} " class="btn btn-warning">Voltar</a>
					<button class="btn btn-success float-right" type="submit">
							Confirmar
					</button>
				</div>
		
		</form>
	
</div>
</div>
{% endblock content_card %}