
{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Profile
{% endblock%}
{% block content_card %}
<div></div>
<div></div>
<div class = "mt-5 pt-5 mb-5 pb-5 container">	
	<h3 class="mb-4">Profile</h3>
	<table class="table col-lg-4">
		<thead>
    		<tr>
    			<th> Operação </th>
        		<th> Nome  </th>
      		</tr>
    	</thead>
    	<tbody>
				{% for profile in profiles %}
				<tr>		
					<td>
						{{profile}}
					</td>
					<td>
						<a href='{% url "update_group" pk=profile.pk  %}' class="btn btn-outline-warning">Edit</a>
					</td>
					<td>
						<a href='{% url "delete_group" pk=profile.pk %}' class="btn btn-outline-danger">Remove</a>
					</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
<div></div>
<div></div>
		<div class="form-group">
				<a href = '{% url "add_profile" %}' class="btn btn-outline-primary">
						Adicionar perfil</a>
				</button>
		</div>	
</div>
{% endblock content_card %}