{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Participante
{% endblock%}
{% block content_card %}
<div class = "mt-5 pt-5 mb-5 pb-5 container">
	<div class ="col-9">
	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				
					<h3 class="mb-4 ">Participante</h3>
						<!-- {{ form|crispy }} -->


						
						  User
						  <div class ="row">
							  <div class="form-group col-8">
						        {{ form.user}} 
						      </div>
						      <div class ="col-3"> adicionar
						      </div> 
					  	   </div>
					      Área 
					       <div class ="row">
							  <div class="form-group col-8">
						        {{ form.area}} 
						      </div>
						      <div class ="col-3"> adicionar
						      </div> 
					  	   </div>
					      Ano escolar
					        <div class ="row">
							  <div class="form-group col-8 ">
						        {{ form.school_year}} 
						      </div>
						      <div class ="col-3"> adicionar
						      </div> 
					  	   </div>
					    
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-primary" type="submit">
						Confirmar
				</button>
			</div>
	
	</form>
	
</div>
</div>
{% endblock content_card %}
