{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}


{% block title%}
Registo de outros dados
{% endblock%}
{% block path%}
		 <!--nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-white">
				<li class="breadcrumb-item " aria-current="page"><a href = "{% url 'home'%}" >Home</a></li>
				<li class="breadcrumb-item active " aria-current="page"> Registo </li>
				
			</ol>
		</nav-->
 {% endblock %}
{% block content_card %}

<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>

<div class=" mb-5 p-5 row">
<div class ="col-8 ml-5">

<div class="container">
 
  
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Preencha os Dados Pessoais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link Active" href="#"><strong>Prencha outros Dados Pessoais<strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Preencha os Dados de Perfil</a>
    </li>
  </ul>
</div>

		
		<br>
		<br>
		<br>

	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group ">
				
					
					
						 {% bootstrap_form form %} {{ form.media }}
					
				
			<div class="form-group">
				
				<button class = "float-left"><a href= "{% url 'register_update' pk=request.user.pk %} " class="btn btn-warning ">Voltar</a></button>


				<button class="btn btn-success float-right" type="submit">
						Avançar
				</button>
			</div>

			</fieldset>
			
	</form>
	
</div>
</div>


{% endblock content_card %}





