{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}
Register
{% endblock%}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_form.css' %}"/>

{% endblock %}
{% block content_card %}


<br>
<html lang="pt-br">

<div class=" mb-5 p-5 row">
	<div class ="col-6">

		<form method="POST"  clss="post-form">
				{% csrf_token %}
				
			<h3 class="mb-4">REGISTER</h3>
			 <form method="POST">
			{% csrf_token %}
			<fieldset class="form-group" >
					<h3 class="mb-4 ">LOGIN</h3>

					<p>
						<label for="username_form">Usuário:</label>
						<input type="text" id="username_form" name="username_form" placeholder="username...">
					</p> 
					<p>
						<label for="first_name_form">Usuário:</label>
						<input type="text" id="first_name_form" name="first_name_form" placeholder="first_name...">
					</p> 
					<p>
						<label for="last_name_form">Usuário:</label>
						<input type="text" id="last_name_form" name="last_name_form" placeholder="last_name...">
					</p> 
					<p>
						<label for="email_form">Usuário:</label>
						<input type="text" id="email_form" name="email_form" placeholder="email...">
					</p> 

					
						
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-primary" type="submit">
						Log In
				</button>
			</div>
	</form>
						
			<br>
			<div class="container text-center">
			<button  class="btn btn-success btn-lg" type="submit">Register
			</button> &nbsp;&nbsp;
			<button  class="btn btn-warning btn-lg" type="submit">&nbspCancel&nbsp
			</button>
			</div>	
			
		</form>
	
		<div class="border-top pt-3">
				<small class="text-muted">
						Already registered? <a href='{% url "login" %}'>Login</a>
						{% comment %} <a class="ml-2" href="{% url 'register' %}">Sign Up</a> {% endcomment %}
				</small>
		</div>
	</div>

</div>
{% endblock content_card %}





