{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% block title%}
Registo
{% endblock%}
{% block extrahead %}
<link href="{% static 'css/utilizadores_style.css' %}" rel="stylesheet">


{% endblock %}
{% block path%}
		 
			


 {% endblock %}
{% block content_card %}
<html lang="pt-br">




<div class=" mb-5 p-5 row">
	<div class ="ml-5 col-8 ">
		
		<div class="container">
 
  
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link Active" href="#"><strong>Preencha os Dados Pessoais</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Prencha outros Dados Pessoais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Preencha os Dados de Perfil</a>
    </li>
  </ul>
</div>

		
		<br>
		<br>
		<br>
		<form method="POST" >
				{% csrf_token %}
			  
			 <!--{% bootstrap_form form %}-->
		
			
			{% for field in form %}
				<div class="row  ml-3 ">
					<div class="col-11 mr-0d-flex align-items-center">
						<tr >
							<td>
								{{ field|as_crispy_field }}
							</td>
					</div>
					<div class="col-1 pl-0 ml-0  mt-5">
							<td>
								<i id="icon{{ forloop.counter }}" class="fa fa-info-circle fa-1x" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{field.help_text}}"></i>
							</td>
						</tr>
					</div>
				</div>
				{% endfor %}
			
		
			<br>
			<div class="container pr-5 ">
				<a class="btn btn-warning" href="{%url 'home' %}" type="submit"> &nbsp;&nbsp;cancel&nbsp;&nbsp;</a>
				<button class="btn btn-success float-right " type="submit">Avançar</button>
			</div>

		</form>
	
		<div class="border-top pt-3">
				<small class="text-muted">
						Already registered? <a href='{% url "login" %}'>Login</a>
						{% comment %} <a class="ml-2" href="{% url 'register' %}">Sign Up</a> {% endcomment %}
				</small>
		</div>
	</div>

</div>
{% endblock content_card %}





