{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Registo
{% endblock%}
{% block path%}
		 <!--nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-white">
				<li class="breadcrumb-item " aria-current="page"><a href = "{% url 'home'%}" >Home</a></li>
				<li class="breadcrumb-item active " aria-current="page"> Registo </li>
				
			</ol>
		</nav-->
 {% endblock %}
{% block content_card %}

<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>

<div class = "mt-5 pt-5 mb-5 pb-5 container">
	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				
					<h3 class="mb-4" subtitle is-3>Prencha os dados de Login</h3>
						{{ form | crispy }} {{ form.media }}

					
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-primary" type="submit">
						Avançar
				</button>
			</div>
	
	</form>
	
</div>
{% endblock content_card %}