{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Login
{% endblock%}
{% block content_card %}
<div class = "mt-5 pt-5 mb-5 pb-5 container">
	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
					<h3 class="mb-4">LOGIN</h3>
						{{ form|crispy  }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-primary" type="submit">
						Log In
				</button>
			</div>
	</form>
	<div class="border-top pt-3">
			<small class="text-muted">
					Need an account?
					{% comment %} <a class="ml-2" href="{% url 'register' %}"> Sign up</a> {% endcomment %}
			</small>
	</div>
</div>
{% endblock content_card %}