{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block title %}
Registro de Professor
{% endblock %}
{% block content_card %}

<div class=" mb-5 p-5 row">
<div class ="col-8 ml-5">
	<div class="container">
 
		  
		  <ul class="nav nav-tabs nav-justified">
		    <li class="nav-item">
		      <a class="nav-link disabled" href="#">Preencha os Dados Pessoais</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link disabled" href="#">Prencha outros Dados Pessoais</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link Active" href="#"><strong>Preencha os Dados de Perfil<strong></a>
		    </li>
		  </ul>
		</div>

		
		<br>
		<br>
		<br> 
	<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				
					<h3 class="mb-4 subtitle is-3">Registo de Professor</h3>
							 {% bootstrap_form form %}
			</fieldset>
			<div class="form-group">
			
				<a href= "{% url 'profile_update' pk=request.user.profile.pk %} " class="btn btn-warning">Voltar</a>
				
				<button class="btn btn-primary float-right" type="submit">
						Confirmar
				</button>
			</div>
	
	</form>

	
	
	
</div>
</div>

{% endblock content_card %}