{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% block extrahead %}

<link href="{% static 'css/utilizadores_style.css' %}" rel="stylesheet">


<!--link href="{% static 'css/smart_wizart.min.css' %}" rel="stylesheet" -->


{% endblock %}

 {% block path %}
		 <nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-white">
				<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}"> Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Usuario</li>
			</ol>
		</nav>
 {% endblock %}
{% block content_card %}

<!-- TABLE FOR FILTERING -->

{% if user.is_authenticated %}

<div class=" mb-5 p-5 row">

	<div class =" col-2 accao  ">
		
			<h5 class="text-center subtitle is-4 mb-1">Acções</h5>
  			<br>	

				<div class="mb-3">
					<a href='{% url "usuario_update" pk=request.user.pk %}'class="btn btn-info text-red"> 
					<div class="container mx-1 px-1"> Editar Dados pessoais</div>
					<div class="container align-center">
					<i class="fas fa-user-edit fa-2x"></i></div></a>
				</div>
				<div class=" mb-3">
					{% if request.user.profile %}
						<a href='{% url "usuario2_update" pk=request.user.profile.pk %}'class="btn btn-info text-red"> 
					{% else %}
						<a href='{% url "usuario2_profile" pk=request.user.pk %}'class="btn btn-info text-red"> 
					{% endif %}
					<div class="container"> Editar Outros dados</div>
					<div class="container align-center">
					<i class="fas fa-user-edit fa-2x"></i></div></a>
				</div>

				<div class=" mb-3">
					<a href='{% url "user_delete" pk=request.user.pk %}'class="btn btn-info text-red"> 
					<div class="container ">  Eliminar Perfil de Utilizador</div>
					<div class="container align-center">
					<i class="fas fa-user-times fa-2x"></i></div></a>
				</div>

				<div class=" mb-3">
					<a href='{% url "password_change" %}'class="btn btn-info text-red"> 
					<div class="container"> &nbsp;Alterar Password &nbsp;</div>
					<div class="container align-center">
					<i class="fas fa-user-edit fa-2x"></i></div></a>
				</div>

						
	
	
		
	</div>

<div class="col-10">
	


<br>

<h3 class="mb-2 subtitle is-3">Perfil de Utilizador</h3>
<br>


<br>
<div class="row container card-1">
  
    <div class="container  border-left text-dark col-sm-5 mx-2">
      
      
     

      		<h5 class="subtitle is-4">Dados Pessoais </h5>

      		<div class="bg-light">
				<dl class="dl-horizontal ">

					

						<dt>Username</dt>
						<dd>  {{ user.username}} </dd>
						<dt>Email</dt>
						<dd>
							{% if  user.email %}
								{{  user.email}}
							{% else %}
								&nbsp;

							{% endif %}
						</dd>
						<dt>Primeiro nome</dt>
						<dd>
							{% if user.first_name %}
								{{ user.first_name }}
							{% else %}
								&nbsp;

							{% endif %}
						</dd>		
						<dt>Apelido</dt>
						<dd>
							{% if user.last_name %}
								{{ user.last_name }}
							{% else %}
								&nbsp;

							{% endif %}
						</dd>

				</dl>
			</div>
			<br>
			<h5 class="subtitle is-4">Outros Dados </h5>	
			<div class="bg-light">
				<dl class="dl-horizontal ">

						
						
						<dt>Número de telefone</dt>
						<dd>
							{% if user.profile.phone_number %}
								{{ user.profile.phone_number }}
							{% else %}
								&nbsp;

							{% endif %}
							
						</dd>
						<dt>Data de Nascimento</dt>
						<dd>  
							{% if user.profile.birth_date %}
								{{ user.profile.birth_date }}
							{% else %}
								&nbsp;

							{% endif %}
							
						</dd>
						<dt>Número de Identificação Pessoal</dt>
						<dd> 
							{% if user.profile.citizen_card == 100000000 %}
								&nbsp;
							{% else %}
								{{ user.profile.citizen_card }}

							{% endif %}
						</dd>
						
						
							
							
				</dl>
			</div>
  </div>
  
  <div class = "container text-dark col-sm-5 ">
  

    

    	<h5 class="subtitle is-4">Dados de Perfil </h5>

    		<div class="bg-light">

			<dl class="dl-horizontal ">

			{% if user.is_staff or user.administrator %}
					
					<dt>Tipo de Perfil</dt>
					<dd>  Adminstrador </dd>

					<dt> Estado </dt>
					<dd>
							{% if  user.administrator %}
							<button type="button" class="btn btn-success btn-sm" disabled> Válido </button>
							
							{% endif %}
					</dd>

			{% elif user.coordinator %}
					
					<dt>Tipo de Perfil</dt>
					<dd> Coordenador </dd>
					<dt>Unidade Organica</dt>
					<dd>{{ user.coordinator.ou }}</dd>
					<dt> Estado </dt>
					<dd>
							{% if  user.coordinator.valid %}
								<button type="button" class="btn btn-success btn-sm" disabled> Válido </button>
							{% else %}
								<button type="button" class="btn btn-warning btn-sm" disabled>Pendente</button>
							{% endif %}
					</dd>

			{% elif user.colaborator %}
					
					<dt>Tipo de Perfil</dt>
					<dd> Colaborador </dd>
					<dt>Departamento | Unidade Organica</dt>
					<dd>{{ user.colaborator.department }}</dd>

					<dt> Estado </dt>
					<dd>

						 	{% if  user.colaborator.valid %}
							<button type="button" class="btn btn-success btn-sm" disabled> Válido </button>
							{% else %}
							<button type="button" class="btn btn-warning btn-sm" disabled>Pendente</button>
							{% endif %}

					</dd>
					<dt>Data da inscrição</dt>
					<dd>  {{ user.date_joined }} </dd>	

			{% elif user.teacher %}
					
					<dt>Tipo de Perfil</dt>
					<dd> Professor Universitário </dd>
					<dt>Departamento | Unidade Organica</dt>
					<dd>{{ user.teacher.department }}</dd>

					<dt> Estado </dt>
					<dd>

						 	{% if  user.teacher.valid %}
							<button type="button" class="btn btn-success btn-sm" disabled> Válido </button>
							{% else %}
							<button type="button" class="btn btn-warning btn-sm" disabled>Pendente</button>
							{% endif %}

					</dd>

			{% elif user.participant %}
					
					<dt>Tipo de Perfil</dt>
					<dd> Participante </dd>
					<dt> Ano escolar </dt>
					<dd>{{ user.participant.school_year }}</dd>
					<dt> Área </dt>
					<dd>{{ user.participant.area }}</dd>

					<dt> Estado </dt>
					<dd>
							<button type="button" class="btn btn-success btn-sm" disabled> Válido </button>
							

					</dd>
					
						
			{% endif %}	

						
			</dl>
		</div>
	</div>


	

</div>

</div>

</div>

{% else %}
    <h2>Utilizador não está logado!</h2> 
    <div><a href='{% url "login" %}'><h5>Login</h5></a></div>

{% endif %}



{% endblock%}

<!--extra js-->
{% block extrajs %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>

<script>

</script>

{% endblock extrajs %}
