<!-- TABLE FOR FILTERING -->
<div class=" mb-5 p-3 row">
<div class =" search col-3 pt-2">
	<div>
	<h4 class="mb-2 subtitle is-5">Filtros de Utilizadores</h4>
	<br>
	</div>
	

	<div class="table-responsive">

	<table id="search_table" cellpadding="8" cellspacing="2" style="width: 200px;" >
        
        <tbody>			

			<tr id="filter_col4" data-column="4">                
                <td>
                	
                	<!-- <input type="text" class="column_filter" placeholder="Departamentos..." name="col4_filter" id="col4_filter" list="dept4"/> -->
                	<label for="col4_filter ">Departamentos&nbsp;por&nbsp;Unidade&nbsp;Organica</label>
                	<select class="column_filter form-control" name="col4_filter" id="col4_filter">
                		<option value="">Todos...</option>	
                		
                		{% for unidadeOrganica in unidadesOrganicas  %}
								<option style="font-weight: bold;" value ="{{unidadeOrganica.name}}"> {{unidadeOrganica.name}}
									
		                				{% for dpt in unidadeOrganica.department_set.all %}
											
			                				<option value="{{ dpt.name }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ dpt.name }}</option>

			                			{% endfor %}
			                		
		                			<option value=""></option>                 			
                				</optgroup>	</option>	
                		{% endfor %}		
                			}
					</select> 
                </td>
                
            </tr>	
            
            <tr id="filter_col1" data-column="2">                
                <td>
                	<!-- <input type="text" class="column_filter" placeholder="Tipo de utilizador..." id="col2_filter" list="dept1"/> -->
                	<label for="col2_filter">Tipo de utilizador </label>
                	<select class="column_filter form-control" id="col2_filter" >
                		<option value="">Todos...</option>					
						<option>Administrador</option>
						<option>Coordenador</option>
						<option>Professor</option>
						<option>Colaborador</option>
						<option>Participante</option>					
					</select>
                </td>
                
            </tr>
            
            <tr id="filter_col2" data-column="3">
                <td>
                	<!-- <input type="text" class="column_filter" placeholder="Estado..." id="col3_filter" list="dept2"> -->
                	<label for="col3_filter">Estado </label>
                	<select class="column_filter form-control" id="col3_filter">	
                		<option value="">Todos...</option>				
						<option>Válido</option>
						<option>Pendente</option>					
					</select>
                </td>
                
            </tr>


            
            <tr id="filter_col3" data-column="0">
                <td>
                	<label for="col0_filter">Nome </label>
                	<input type="text" class="column_filter form-control" id="col0_filter"/>
                </td>                
            </tr>
            
        </tbody>
    </table>

</div>
</div>
<br>
<div class="col-9  text-left">


<!-- table for input-->

<div class="col-4 pt-3 pb-2 ">
		<!--a href='{% url "register" %}' class="btn btn-outline-success btn-lg"> Criar Utilizador</a-->

		
<h3 class="mb-2 subtitle is-3">Lista de Utilizadores</h3>

</div>



<br>
<br>
<section class="table-section text-center">
	<div class="table-responsive">
	<table id="utilizador_table" class="table display responsive" >
		<!--header-->
		<thead>
			<tr class="">
				
			
				<th class="all">Nome</th>
				<th class="all">Email</th>
				<th class="all">Tipo&nbsp;de&nbsp;utilizadores</th>
				<th class="all">Pendente&nbsp;/&nbsp;Válido</th>
				<th class="all">Departamento&nbsp;/ Unidade&nbsp;Orgânica</th>				
				<th class="all">Visualizar&nbsp;|&nbsp;Apagar</th>
				
				<!--th class="all"></th-->
			
				
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		
		{% for usuario in users %}

			{% if usuario.administrator %}			
				    
			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Administrador
					</td>					
					
					<td > 					
						
					</td>

					<td>
						----
					</td>
						 
					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>

			

			{% elif usuario.teacher %}			
				    
			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Professor
					</td>					
					
					<td > 					
						{% if  usuario.teacher.valid %}
							<a href='{% url "update_estado_tch" pk=usuario.pk %}' class="btn btn-success btn-sm"> &nbsp;&nbsp;Válido&nbsp;&nbsp; </a>
						{% else %}
							<a href='{% url "update_estado_tch" pk=usuario.pk %}' class="btn btn-warning btn-sm"> Pendente </a>
						{% endif %}
					</td>

					<td>
						{{usuario.teacher.department}}
					</td>
						 

					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>

				

			    
			{% elif usuario.colaborator %}		
				    
			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Colaborador
					</td>					
					
					<td > 					
						{% if  usuario.colaborator.valid %}
							<a href='{% url "update_estado_colab" pk=usuario.pk %}' class="btn btn-success btn-sm"> &nbsp;&nbsp;Válido&nbsp;&nbsp;  </a>
						{% else %}
							<a href='{% url "update_estado_colab" pk=usuario.pk %}' class="btn btn-warning btn-sm"> Pendente </a>
						{% endif %}
					</td>
					
					<td>
						{{usuario.colaborator.department}}
					</td>

					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>

			
			{% elif usuario.coordinator %}			
				    
			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Coordenador
					</td>					
					
					<td > 					
						{% if  usuario.coordinator.valid %}
							<a href='{% url "update_estado_coord" pk=usuario.pk %}' class="btn btn-success btn-sm"> &nbsp;&nbsp;Válido&nbsp;&nbsp;  </a>
						{% else %}
							<a href='{% url "update_estado_coord" pk=usuario.pk %}' class="btn btn-warning btn-sm"> Pendente </a>
						{% endif %}
					</td>

					<td>
						 ... &nbsp; | &nbsp;{{usuario.coordinator.ou}}
					</td>
						 
					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>
				




			{% elif usuario.participant %}

			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Participante
					</td>					
					
					<td > 					
						----
					</td>

					<td>
						----
					</td>
					
					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>


			{% endif %}
		
		{% endfor %}


	
		</tbody>
	</table>
</div>

</div>


</section>
</div>