{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">

/* progress bar */
<link href="{% static 'css/smart_wizart.min.css' %}" rel="stylesheet">

{% endblock %}
{% block content_card %}

<!-- TABLE FOR FILTERING -->
<div class=" mb-5 p-5 row">
<div class ="col-3">
	Filtros Perfil
	<table cellspacing="5" cellpadding="5" border="0">
		<tbody>
		<tr>
			<div>
				<input class="input"  id="dpt" placeholder="Perfil..." list="dept"/>
				<datalist id="dept">
					
						<!--option value="{{dpt.name}}">{{dpt.name}}</option-->
					
				</datalist>
			</div>
		</tr>
    </tbody>
	</table>
</div>

<div class="col-6">
<nav aria-label="breadcrumb">
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}"> Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Perfil</li>
	</ol>
</nav>

<!-- table for input-->
<section class="table-section">
	<table id="activitytable" class="display responsive" width="100%">
		<!--header-->
		<thead>
			<tr>
				
				<th class="all">Nome</th>
				<th class="all">Editar</th>
				<th class="all">Apagar</th>
				<th class="all">Visualizar</th>
				<th class="none"></th> 
				
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		
		
			<tr dt-responsive>
				
				<td> Colaboradores </td>
				<td>
						<a href='#' class="btn btn-outline-warning">&nbsp;<i class="fas fa-edit"></i></a>
				</td>
				<td>
						<a href='# colaborator_list' class="btn btn-outline-danger">&nbsp<i class="fas fa-trash-alt"></i></a>
				</td>
				<td>
						<a href='{% url "list_profile" %}' class="btn btn-outline-primary">&nbsp<i class="fas fa-id-badge"></i></a>
				</td>
				
				
				<!-- end expand content-->
			</tr>
			<tr dt-responsive>
				
				<td> Professores Universitarios </td>
				<td>
						<a href='#' class="btn btn-outline-warning">&nbsp;<i class="fas fa-edit"></i></a>
				</td>
				<td>
						<a href='#' class="btn btn-outline-danger">&nbsp<i class="fas fa-trash-alt"></i></a>
				</td>
				<td>
						<a href='{% url "teacher_list" %}' class="btn btn-outline-primary">&nbsp<i class="fas fa-id-badge"></i></a>
				</td>
				
				
				<!-- end expand content-->
		

		
		<!--end loop-->
		</tbody>
	</table>


</div>
<div class="col pt-3 text-left">
		<a href='{% url "add_profile" %}' class="btn btn-outline-success btn-lg"><i class="fas fa-plus-circle"></i>&nbsp&nbsp Criar Perfil</a>
</div>


</section>
</div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>

<script>

</script>

{% endblock extrajs %}
