{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% static 'css/utilizadores_style.css' %}" rel="stylesheet">

<!--icons da pagina -->
<link rel="stylesheet" type="text/css" href=" {% static 'vendor/fontawesome-free/css/fontawesome.min.css' %}">

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script type="text/javascript" src="{% static 'js/utilizador.js' %}"></script>

<!--progress bar -->


{% endblock %}

 {% block path%}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}"> Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Utilizadores</li>
	</ol>
</nav>
 {% endblock %}

{% block content_card %}

{% if user.is_authenticated %}

	{% if user.coordinator.valid or user.administrator %}

		

			{% if user.administrator %}		

				{% include "users/utilizadores_list_adm.html" %}		

			{% else %}		

				{% include "users/utilizadores_list_coord.html" %}	    

			{% endif %}


		

	{% else %}

		<div>
			<h1>Você não tem permissão para visualizar esta página.</h1>
		</div>

	{% endif %}

{% else %}

		<div>
			<h1>Você não está logado</h1>
		</div>

{% endif %}

{% endblock content_card%}
<!--extra js-->
{% block extrajs %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script type="text/javascript" src="{% static 'js/utilizador.js' %}"></script>

<script>
$(document).ready(function() {
    $('#utilizador_table').DataTable({
    	bFilter = False
       
        });
} );
</script>


<script>	
	 
	function filterColumn ( i ) {
	    $('#utilizador_table').DataTable().column( i ).search(
	        $('#col'+i+'_filter').val(),
	    ).draw();
	}
	 
	$(document).ready(function() {
	    $('#utilizador_table').DataTable();

	    $('#utilizador_table_filter').hide();
	 
	    $('input.global_filter').on( 'keyup click', function () {
	        filterGlobal();
	    } );
	 
	    $('select.column_filter').on( 'keyup click', function () {
	        filterColumn( $(this).parents('tr').attr('data-column') );
	    });
	     $('input.column_filter').on( 'keyup click', function () {
	        filterColumn( $(this).parents('tr').attr('data-column') );
	    });

	} );
</script>

{% endblock extrajs %}
