<!-- TABLE FOR FILTERING -->
<div class=" mb-5 p-3 row">
<div class =" search col-3 pt-2">
	<div>
	<h4 class="mb-2 subtitle is-5">Filtros de Utilizadores</h4>
	<br>
	</div>
	
	<div class="table-responsive">

	<table id="search_table" cellpadding="8" cellspacing="2" style="width: 200px">
        
        <tbody>					
            
            <tr id="filter_col2" data-column="2">                
                <td>
                	<!-- <input type="text" class="column_filter" placeholder="Tipo de utilizador..." id="col2_filter" list="dept1"/> -->
                	<label for="col2_filter">Tipo de utilizador </label>
                	<select class="column_filter form-control " id="col2_filter" >
                		<option value="">Todos...</option>						
						<option>Professor Universitário</option>
						<option>Colaborador</option>
											
					</select>
                </td>
                
            </tr>
            
            <tr id="filter_col4" data-column="4">
                <td>
                	<!-- <input type="text" class="column_filter" placeholder="Estado..." id="col3_filter" list="dept2"> -->
                	<label for="col4_filter">Estado </label>
                	<select class="column_filter form-control" id="col4_filter">	
                		<option value="">Todos...</option>				
						<option>Válido</option>
						<option>Pendente</option>					
					</select>
                </td>
                
            </tr>

             <tr id="filter_col3" data-column="3">                
                <td>
                	<!-- <input type="text" class="column_filter" placeholder="Tipo de utilizador..." id="col2_filter" list="dept1"/> -->
                	<label for="col3_filter"> Departamento </label>
                	<select class="column_filter form-control " id="col3_filter" >
                		<option value="">Todos...</option>
                		{% for department in request.user.coordinator.ou.department_set.all %}	

                			<option value="{{department.name}}">{{department.name}}</option>

                		{% endfor %}
											
					</select>
                </td>
                
            </tr>
            
            <tr id="filter_col0" data-column="0">
                <td>
                	<label for="col0_filter">Nome </label> 
                	<select class="column_filter form-control "  id="col0_filter">
                		<option value="">Todos...</option>
                		{% for usuario in users  %}

                			{% if usuario.teacher %}  
                			
	                			{% if usuario.teacher.department.ou == request.user.coordinator.ou %}           			    
	                				<option value="{{usuario.username}}">{{usuario.username}}</option>
	                			{% endif %}
                			

                			{% elif usuario.colaborator %}  
                			
	                			{% if usuario.colaborator.department.ou == request.user.coordinator.ou %}           			    
	                				<option value="{{usuario.username}}">{{usuario.username}}</option>
	                			{% endif %}


	                		
	                			

                			{% endif %}

	                		
                		{% endfor %}

                	</select>
                </td>                
            </tr>
            
        </tbody>
    </table>

</div>

  

</div>
<br>
<div class="col-9  text-left">

<h3 class="mb-2 subtitle is-3">Lista de Utilizadores</h3>
<!-- table for input-->

<div class="col-4 pt-3 pb-2 ">
		<!--a href='{% url "register" %}' class="btn btn-outline-success btn-lg"> Criar Utilizador</a-->

		


</div>


<br>
<section class="table-section text-center">
	<div class="table-responsive">
	<table id="utilizador_table" class="table display responsive" >
		<!--header-->
		<thead>
			<tr>
				
			
				<th class="all">Nome</th>
				<th class="all">Email</th>
				<th class="all">Tipo&nbsp;de&nbsp;utilizadores</th>
				<th class="all">Departamento</th>
				<th class="all">Estado</th>				
				<th class="all">Visualizar&nbsp;|&nbsp;Apagar</th>
				
				
				<!--th class="all"></th-->
			
				
			</tr>
		</thead>
		<!--body-->
		<tbody>
		<!--loop over activity content-->
		
		{% for usuario in users %}
		
		{% if usuario.teacher %}

			{% if usuario.teacher.department.ou == request.user.coordinator.ou  %}
			    
			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Professor Universitário
					</td>
					<td>
						{{ usuario.teacher.department.name}}
					</td>					
					
					<td > 					
						{% if  usuario.teacher.valid %}
							<a href='{% url "update_estado_tch" pk=usuario.pk %}' class="btn btn-success btn-sm"> &nbsp;&nbsp;Válido&nbsp;&nbsp;  </a>
						{% else %}
							<a href='{% url "update_estado_tch" pk=usuario.pk %}'class="btn btn-warning btn-sm">Pendente</a>
						{% endif %}
					</td>

					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>

			{% endif %}

		    
		{% elif usuario.colaborator %}

			{% if usuario.colaborator.department.ou == request.user.coordinator.ou  %}
			    
			    <tr dt-responsive>
				
				
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.email}} </td>
					<td > 
						Colaborador
					</td>
					<td>
						{{ usuario.colaborator.department.name}}
					</td>					
					
					<td > 					
						{% if  usuario.colaborator.valid %}
							<a href='{% url "update_estado_colab" pk=usuario.pk %}' class="btn btn-success btn-sm"> &nbsp;&nbsp;Válido&nbsp;&nbsp;  </a>
						{% else %}
							<a href='{% url "update_estado_colab" pk=usuario.pk %}' class="btn btn-warning btn-sm">Pendente</a>
						{% endif %}
					</td>
						 
					<td >
							<a href='{% url "detail" pk=usuario.pk  %}' class="btn btn-outline-primary"><i class="fas fa-user" ></i></a> &nbsp;
					
							<a href='{% url "delete" pk=usuario.pk %}' class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
					
				</tr>

			{% endif %}



		    
		
		{% endif %}
		    
		{% endfor %}


	
		</tbody>
	</table>

</div>

</div>


</section>
</div>