{% extends 'inscricao/base_with_container.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Atividades{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
<link href="{% sass_src 'scss/datatable_style.scss' %}" rel="stylesheet">
<link href="{% static 'css/utilizadores_style.css' %}" rel="stylesheet">


<!--link href="{% static 'css/smart_wizart.min.css' %}" rel="stylesheet" -->

{% endblock %}

 {% block path%}
		
<nav aria-label="breadcrumb">
	<ol class="breadcrumb bg-white">
		<li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}"> Home</a></li>
		<li class="breadcrumb-item " aria-current="page"><a href="{% url 'utilizadores_list' %}">Utilizadores</a></li>
		<li class="breadcrumb-item active" aria-current="page">Visualizar</li>
	</ol>
</nav>
 {% endblock %}
{% block content_card %}

<!-- TABLE FOR FILTERING -->
<div class=" mb-5 p-5 row">
<div class ="col-3">
	
	
</div>

<div class="col-9">


<!-- table for input-->



<br>

<h4 class="mb-4 subtitle is-3">Dados do Utilizador</h4>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      
      <div class="container ">

      		<h4 class="mb-4">Dados Pessoais</h4>

			<dl class="dl-horizontal bg-light ">

					<dt>Nome</dt>
					<dd>  {{ user.username}} </dd>	
					<dt>Apelido</dt>
					<dd>  {{ user.last_name}} </dd>
					<dt>telefone</dt>
					<dd>  {{ user.profile.name}} </dd>
					<dt>Email</dt>
					<dd>  {{ user.email}} </dd>
					<dt>Data de Nascimento</dt>
					<dd>  {{ user.profile.birth_date}} </dd>
					
						
						
			</dl>
		
	</div>
  </div>
 <div class="col-6">
     <div class="container ">

     		<h4 class="mb-4">Informações de cadastro</h4>

			<dl class="dl-horizontal  bg-light">
					
					<dt>Data da inscrição</dt>
					<dd>  {{ user.date_joined }} </dd>
					<dt>Data de Nascimento</dt>
					<dd>  {{ user.profile.birth_date}} </dd>
						
						
			</dl>
		
	</div>


	

</div>
{% endblock%}

<!--extra js-->
{% block extrajs %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js'%}"></script><script src="{% static 'js/activity.js' %}"></script>

<script>

</script>

{% endblock extrajs %}
