{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title %}
Reset a password
{% endblock %}
{% block content_card %}

<div class=" mb-5 p-5 row">
	<div class ="ml-5 col-6 ">

	<h3 class="subtitle is-3">Reset Password</h3>
	<br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="btn btn-info" type="submit">enviar</button>
  </form>

	
	
	</div>
</div>

{% endblock content_card %}