
{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Reset da Password
{% endblock%}
{% block content_card %}

<div class=" mb-5 p-5 row">
  <div class ="ml-5 col-6 ">

    <h3 class="mb-4 subtitle is-3">Reset da Password</h3>
    <br>
    {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-success" type="submit">Mude a Password</button>
    </form>
  {% else %}
    <p>
      O link para recuperar a password está inválido, provavelment porque já foi usado.
    </p>
    <p> Por favor, peça recuperação de senha novamente.</p>
    
  {% endif %}
  
  </div>
</div>

{% endblock content_card %}