{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Reset da Password
{% endblock%}
{% block content_card %}

<div class=" mb-5 p-5 row">
	<div class ="ml-5 col-6 ">

		<h3 class="mb-4 subtitle is-3">Reset da Password</h3>
		<br>
		<br>
		
		<p>
	    A sua password foi alterada. Faça Login <a href="{% url 'login' %}">sign in</a>.
	  	</p>
	
	</div>
</div>

{% endblock content_card %}