
{% extends 'inscricao/base_with_container.html' %}
{% load crispy_forms_tags %}
{% block title%}
Reset da Password
{% endblock%}
{% block content_card %}

<div class=" mb-5 p-5 row">
	<div class ="ml-5 col-6 ">

	
  <p>
    Enviámos-lhe instruções por e-mail para definir sua password , se houver uma conta com o e-mail digitado.
    Você deve recebê-los em breve.
  </p>
  <br>
  <p>
    Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou,
    e verifique sua pasta de spam.
  </p>
  <br>
  <small class="text-muted">
					Voltar para a página de <a class="ml-2" href="{% url 'login' %}">Login  </a>
			</small>
	</div>
</div>

{% endblock content_card %}