
.icon-hr {
    $line_color: rgb(72, 199, 116);

    display: flex;

    >span {
        background: $line_color;
        height: .12rem;
        align-self: center;
        flex-grow: 1;
    }

    >div {
        border: 1.7px solid $line_color;
        border-radius: 50%;
        padding: .7rem;
        background: $line_color;
    }


    >div > div {
        position: relative;
        text-align: center;
        width: 100%;
        padding-top: 100%;
    }

    >div > div > span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    i {
        color: white;
    }
}
.icon-hr.icon-hr-edit {
    $line_color: #3273dc;
    * {
        background-color: $line_color;
    }

    >div {
        border-color: $line_color;
    }
}
.icon-hr.icon-hr-delete {
    $line_color: #f14668;
    * {
        background-color: $line_color;
    }

    >div {
        border-color: $line_color;
    }
}
