/* -----------------------------------------globals----------------------------------------  */


/* body {
    min-height: 100vh;
    position: relative;
    margin: 0;
} */


/* h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: "Prelo", sans-serif;
} */


/* img {
    width: 100%;
} */


/* h1,
h2 {
    color: rgb(54, 54, 54);
}

h3,
h4,
h5,
h6,
p,
a,
span,
i {
    color: rgb(74, 74, 74) !important;
}

a,
button {
    outline: 0 !important;
}

button {
    background-color: white;
    border: none;
}

/* button:hover {
    background-color: rgb(24, 24, 24, 0.05);
} */


/* button:focus {
    background-color: rgba(24, 24, 24, 0.05);
    border: 2px solid rgba(24, 24, 24, 0.1);
    border-radius: 5px;
}

a:hover {
    color: #00adef !important;
    text-decoration: underline !important;
    -ms-text-underline-position: below;
} */


/* -----------------------------------------index----------------------------------------*/


/* .card {
    border-radius: 0 !important;
}


navbar

i {
    font-size: 24px;
}

#notificacao-badge span {
    position: absolute;
    background-color: gold;
    border-radius: 100%;
    margin-top: -10px;
}

nav a {
    color: rgb(74, 74, 74);
}


navbar mobile

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

@media (max-width: 768px) {
    #navbarResponsive {
        background-color: white;
        margin-right: -16px;
        margin-left: -16px;
        padding: 15px;
    }
    .navbar-brand {
        width: 60%;
    }
}

*/


/* login and logout buttons */


/* .login-logout-button a {
    border: 1px solid rgba(24, 24, 24, 0.05);
    border-radius: 10%;
    text-decoration: none;
    color: black;
}

.login-logout-button a:hover {
    background-color: rgba(24, 24, 24, 0.05);
    text-decoration: none !important;
    color: rgb(74, 74, 74) !important;
}

.login-logout-button i {
    font-size: 1em;
    padding-right: 5px;
} */


/* -----------------------------------------------------INDEX----------------- */


/* -------------------------------------FOOTER-------------------------------- */


/*
footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
} */