.table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .asc::after {
    content: "\25b4";
  }
  
  .table-sortable .desc::after {
    content: "\25be";
  }
  
  .table-sortable .asc::after,
  .table-sortable .desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .asc,
  .table-sortable .desc {
    background: rgba(0, 0, 0, 0.1);
  }
  